# 1. install libaries

In [20]:
pip install requests

Requirement already satisfied: requests in /Users/j/opt/anaconda3/lib/python3.7/site-packages (2.22.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/j/opt/anaconda3/lib/python3.7/site-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/j/opt/anaconda3/lib/python3.7/site-packages (from requests) (1.24.2)
Requirement already satisfied: idna<2.9,>=2.5 in /Users/j/opt/anaconda3/lib/python3.7/site-packages (from requests) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /Users/j/opt/anaconda3/lib/python3.7/site-packages (from requests) (2019.9.11)
Note: you may need to restart the kernel to use updated packages.

In [79]:
pip install XBRL

Requirement already satisfied: XBRL in /Users/j/opt/anaconda3/lib/python3.7/site-packages (0.0.1)
Note: you may need to restart the kernel to use updated packages.

In [80]:
pip install oauth2

Collecting oauth2
  Downloading https://files.pythonhosted.org/packages/a0/6f/86db603912ecd04109af952c38bc08928886cf0e34c723481fa7db98b4b5/oauth2-1.9.0.post1-py2.py3-none-any.whl
Collecting httplib2 (from oauth2)
  Downloading https://files.pythonhosted.org/packages/15/dc/d14bce03f4bfd0214b90a3f556d7c96f75bb94ad597c816a641b962f22e9/httplib2-0.19.1-py3-none-any.whl (95kB)
     |████████████████████████████████| 102kB 8.1MB/s ta 0:00:01
Requirement already satisfied: pyparsing<3,>=2.4.2 in /Users/j/opt/anaconda3/lib/python3.7/site-packages (from httplib2->oauth2) (2.4.2)
Installing collected packages: httplib2, oauth2
Successfully installed httplib2-0.19.1 oauth2-1.9.0.post1
Note: you may need to restart the kernel to use updated packages.

In [26]:
conda install -c anaconda openssl

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

# 2. import libraries

In [2]:
import requests

In [3]:
import os, re, sys, json

In [4]:
import pandas as pd

In [5]:
import numpy as np

In [6]:
import getpass

# 3. Authentication for xbrl token

### 3.1. acess token

In [7]:
"""
get access token from XBRL API
"""
# print('Enter XBRL US Web account email: ')
email = 'jesse.c.jia@gmail.com'
# print('Account password: ')
password = 'QAZwsx123'
# print('Client ID: ')
clientid = 'bf3ba33f-e98b-4159-aea2-466445f9621f'
# print('Client secret: ')
secret = 'a3f87777-0086-4208-8d3b-df494408271e'

body_auth = {'username' : ''.join(email), 
            'client_id': ''.join(clientid), 
            'client_secret' : ''.join(secret), 
            'password' : ''.join(password), 
            'grant_type' : 'password', 
            'platform' : 'ipynb' }
endpoint_auth = 'https://api.xbrl.us/oauth2/token'
res = requests.post(endpoint_auth, data=body_auth)
auth_json = res.json()

if 'error' in auth_json:
        print ("\n\nThere was a problem generating an access token with these credentials. Run the first cell again to enter credentials.")
else:
        print ("\n\nYour access token expires in 60 minutes. After it expires, run the cell immediately below this one to generate a new token and continue to use the query cell. \n\nFor now, skip ahead to the section 'Make a Query'.")

access_token = auth_json['access_token']
refresh_token = auth_json['refresh_token']
newaccess = ''
newrefresh = ''

Your access token expires in 60 minutes. After it expires, run the cell immediately below this one to generate a new token and continue to use the query cell.

For now, skip ahead to the section 'Make a Query'.


### 3.2. refresh token

In [54]:

"""
reconnect to XBRL API when expire
"""
token = token if newrefresh != '' else refresh_token 

refresh_auth = {'client_id': ''.join(clientid), 
            'client_secret' : ''.join(secret), 
            'grant_type' : 'refresh_token', 
            'platform' : 'ipynb', 
            'refresh_token' : ''.join(token) }
refreshres = requests.post(endpoint_auth, data=refresh_auth)
refresh_json = refreshres.json()
access_token = refresh_json['access_token']
refresh_token = refresh_json['refresh_token']#print('access token: ' + access_token + 'refresh token: ' + refresh_token)
print('Your access token is refreshed for 60 minutes. If it expires again, run this cell to generate a new token and continue to use the query cells below.')
print(access_token)

Your access token is refreshed for 60 minutes. If it expires again, run this cell to generate a new token and continue to use the query cells below.
58b45f0e-6fc4-4e20-978d-bdb4cec7e5ab

# 4. Prepare Data

### 4.1 file and data path

In [8]:
"""
get document path
"""
root_path = os.path.abspath(os.path.dirname(os.getcwd()))
data_path = os.path.join(root_path, 'data')
company_path = os.path.join(data_path, 'company')
company_cik_path = os.path.join(company_path, 'CIK_Summary.csv')
sec_cfp_path = os.path.join(data_path, "SEC_FIN_data")
sec_argriculture = os.path.join(sec_cfp_path, "agriculture")


sic100_file_path = os.path.join(sec_cfp_path, "SIC100")
sic100_df_path = os.path.join(sic100_file_path, "SIC100CompanyList.xlsx")

sic200_file_path = os.path.join(sec_cfp_path, "SIC200")
sic200_df_path = os.path.join(sic200_file_path, "SIC200CompanyList.xlsx")

sic800_file_path = os.path.join(sec_cfp_path, "SIC800")
sic800_df_path = os.path.join(sic800_file_path, "SIC800CompanyList.xlsx")

sic700_file_path = os.path.join(sec_cfp_path, "SIC700")
sic700_df_path = os.path.join(sic700_file_path, "SIC700CompanyList.xlsx")

sic2870_file_path = os.path.join(sec_cfp_path, "SIC2870")
sic2870_df_path = os.path.join(sic2870_file_path, "SIC2870CompanyList.xlsx")

In [9]:
sic100_df_path

'/Users/j/Documents/GitHub/MAST90106/data/SEC_FIN_data/SIC100/SIC100CompanyList.xlsx'

### 4.2. read cik file

In [81]:
"""
import company-cik file
"""

#read cik.csv as a pandas DataFrame
ciksDF = pd.read_csv(company_cik_path, header=None)

#set the column with all the tickers as the index
ciksDF = ciksDF.set_index(0)

### 4.3. define company name and cik converting function

In [82]:
#function to return CIK of a ticker
def getCIK(ticker):
    """
    input ticker
    return respect cik
    """
    try:
        return int(ciksDF.loc[ticker.lower(), 1])

    #return None there's no CIK for the ticker
    except:
        print(f"{ticker} does not exist.")
        return None
    
    
#function to return CIK of a list of tickers
def outputcik(TICKERS): 
    """
    input ticker list
    return cik repsectively in list
    """
    cikDir = []
    for ticker in TICKERS:
        a = str(getCIK(ticker))
        if a != 'None':
            cik = a.zfill(10)
            cikDir.append(cik)
        else:
            pass
    return cikDir

In [83]:
# test code
lis = outputcik(["uytuyfd","a"])
lis

uytuyfd does not exist.

['0001090872']

### 4.4. Read Company List

In [84]:
# company list

company_list = ["YTEN", "UAN", "CGA", "RKDA", "FMC", "MOS", "SEED", "CTVA", "MBII", "AVD", "ICL", "IPI", "NTR", "MGPI", "SMG", "CF"]

In [85]:
len(company_list)

16

### 4.5. convert company_name into cik

In [86]:
# generate cik list
cik_list = outputcik(company_list)

In [87]:
# cik_list1 = cik_list.pop(2)

In [88]:
len(cik_list)

16

In [89]:
cik_list = (cik_list)

### 4.6. financial data conceptual name

In [64]:
# financial data with the conceptual name on SEC website respectively
Financial_data_dic = {
    "revenue" : "RevenueFromContractWithCustomerExcludingAssessedTax",
    "net_income" : "NetIncomeLoss",
    "operating_income" : "OperatingIncomeLoss", 
    "asset" : "Assets",
    "current_asset" : "AssetsCurrent",
    "inventory" : "InventoryNet",
    "current_liability" : "LiabilitiesCurrent",
    "debt" : "LongTermDebtNoncurrent",
    "equity" : "StockholdersEquity",
    "eps" : "EarningsPerShareBasic"
}

### 4.7. read cfp file function

In [18]:
def read_fin_data_file(path):
    df = pd.read_csv(path)
    df = df.set_index('Unnamed: 0')
    return df

### 4.80 process sic

In [19]:
def SIC_convert(sic, path):
    df = pd.read_excel(path)
    df = df.drop(df[df['State/Country'].isin(states) == False].index)
    l = list(df['CIK'])
    print(l)
    cik_list = []
    count = 0
    for cik in l:
        cik = str(cik)
        cik = cik.zfill(10)
        cik_list.append(cik)
        count += 1
        print(count)
    return cik_list

### 4.8 SIC company list

In [65]:
sic100 = SIC_convert('100', sic100_df_path)

[1129641, 876320, 842888, 1650505, 3545, 1519894, 1807707, 1572819, 715374, 1610462, 1011134, 793931, 806179, 1290504, 943941, 767884, 1501958, 101063, 1483752, 1522155, 1064047, 1776738, 1755672, 835015, 902277, 730985, 18169, 1065188, 1614924, 1852776, 1169745, 1047340, 1796412, 1780914, 1282001, 1816814, 740124, 1795139, 1818495, 1003619, 1003515, 760612, 1002771, 1840780, 1794009, 1342423, 1838128, 726293, 818010, 1793341, 824103, 1054476, 1222557, 78716, 1657737, 1051869, 792161, 1477246, 1043902, 1039213, 1078259, 1269942, 1086313, 707600, 1822966, 861291, 1599811, 1876945, 1853537, 1302946, 1669400, 1280396, 1123312, 1548240, 1761475, 1803705]
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76

In [66]:
sic200 = SIC_convert('200', sic200_df_path)

[1331427, 927536, 1023367, 16160, 1096662, 34551, 1440517, 1418115, 774415, 1000778, 811930, 1425905, 1138659, 1756180, 1118650, 1116684, 882991, 1499790, 724915, 729499, 1072287, 1289237, 819215]
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23

In [67]:
sic700 = SIC_convert('700', sic700_df_path)

[1043512, 1800637, 1531088, 1729481, 878944, 1043513, 1020866, 1216018, 1734713, 1133470, 1376793, 1025771, 1042698, 277638, 1197115, 1043516, 29006, 876103, 1573590, 1540334, 1489874, 1424264, 1472998, 1497055, 937601, 1057949, 1802974, 813742, 1671132, 1043517, 1331931, 931612, 1059975, 1463191, 1043519, 1729751, 1439813, 1042695, 1043523, 1043524, 1042694, 1043526, 1042327, 1042696, 1042697, 1482541, 831002, 817366, 1349302, 1574186]
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [68]:
sic800 = SIC_convert('800', sic800_df_path)

[824430, 1497288, 795255, 1049484, 1049486, 1134513, 1047739, 761860, 1049479, 1766280, 63814, 1049481, 1111118, 1543265, 784011, 778439, 1049475, 1066797, 1049478, 1043012, 1045466, 1140868, 1687316]
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23

In [69]:
sic2870 = SIC_convert('2870', sic2870_df_path)

[47968, 1369608, 1014455, 1592016, 708484, 1031896, 5981, 862450, 883906, 1162141, 1162149, 875729, 883076, 882483, 1705843, 1488435, 1324404, 1394920, 1162145, 1484839, 1026601, 1071918, 1425292, 319124, 1525998, 814050, 882259, 1081158, 36537, 1511357, 1046340, 880882, 1100976, 793160, 825203, 1046337, 1159275, 745394, 1441693, 66895, 1110783, 1324087, 1071916, 1285785, 820626, 1160701, 70083, 832975, 1046338, 840759, 1517248, 793421, 1444754, 1663453, 1162144, 1575858, 868725, 1789192, 825542, 1680378, 1071919, 1505409, 1162140, 1478513, 1394921, 722079, 1162147, 1162148, 1477600, 1162146, 1394919, 879575, 1337606, 1162137, 1162142, 1279529, 862612, 1083200, 1097805, 1071917, 1435224, 866752, 873728, 1046339, 750150]
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85

In [90]:
cik_list = cik_list + sic100 + sic200 + sic2870 + sic700 + sic800

In [93]:
cik_list = list(set(cik_list))

In [94]:
len(cik_list)

266

In [28]:
cik_tuple = []
for c in cik_tu:
    c = str(c)
    cik_tuple.append(c)
tuple(cik_tuple)

NameError: name 'cik_tu' is not defined

### 4.10 US state list

In [29]:
states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]

# 5. Request data via XBRL

In [30]:
def acquire_data(company_cik, financial_data):
    """
    input company cik value and financial conceptual name on SEC
    return data frame of financial value, year, entity name, and so on, (details see fiels list)
    """
    
    # Define the fields to be returned
    fields = ['period.fiscal-year.sort(DESC)',
              'period.end.sort(DESC)',
              'entity.name.sort(ASC)',
              'entity.cik.sort(ASC)',
              'concept.local-name.sort(ASC)',
              'fact.value',
              'unit',
              'report.filing-date']
    
    # Filter the query for specific XBRL elements (tags) to research
    XBRL_Elements = [financial_data
                ]
    
    # Filter companies for the query
    companies_cik = [company_cik
                ]
    
    # api parameters
    params = {'fields': ','.join(fields),
         'concept.local-name': ','.join(XBRL_Elements),
         'entity.cik': ','.join(companies_cik),
         #'period.fiscal-year': ','.join(years),
         'period.fiscal-period': 'Y',
         'fact.has-dimensions': 'FALSE',
         'fact.ultimus': 'TRUE'
         }
    
    search_endpoint = 'https://api.xbrl.us/api/v1/fact/search'
    res = requests.get(search_endpoint, params=params, headers={'Authorization' : 'Bearer {}'.format(access_token)})
    res_json = res.json()
    res_df = pd.DataFrame(res_json['data'])

    
#     print(res_json['paging'])
#     print(res_df)
    return res_df

In [31]:
# TEST CODE
df_test = acquire_data('0001121702',"Assets")

In [32]:
df_test

,period.fiscal-year,period.end,entity.name,entity.cik,concept.local-name,fact.value,unit,report.filing-date
0,2020,None,"YIELD10 BIOSCIENCE, INC.",0001121702,Assets,14522000,USD,2021-08-11
1,2019,None,"YIELD10 BIOSCIENCE, INC.",0001121702,Assets,16718000,USD,2021-03-16
2,2018,None,"YIELD10 BIOSCIENCE, INC.",0001121702,Assets,12960000,USD,2020-03-25
3,2017,None,"YIELD10 BIOSCIENCE, INC.",0001121702,Assets,16882000,USD,2019-03-28
4,2016,None,"YIELD10 BIOSCIENCE, INC.",0001121702,Assets,10748000,USD,2018-03-12
5,2015,None,"YIELD10 BIOSCIENCE, INC.",0001121702,Assets,17088000,USD,2017-03-30
6,2014,None,"METABOLIX, INC.",0001121702,Assets,23135000,USD,2016-03-29
7,2013,None,"METABOLIX, INC.",0001121702,Assets,26738000,USD,2015-03-25
8,2012,None,"METABOLIX, INC.",0001121702,Assets,53510000,USD,2014-03-28
9,2011,None,"METABOLIX, INC.",0001121702,Assets,82912000,USD,2013-03-28
10,2010,None,"METABOLIX, INC.",0001121702,Assets,66771000,USD,2012-03-12

In [33]:
# for cik in cik_list:
#     #print(cik)
#     cik_fin_value_df = df_empty = pd.DataFrame(columns=['A', 'B', 'C', 'D'])
#     for k, v in Financial_data_dic.items():
#         print(cik,v)
#         temp_df = acquire_data(cik, v) asset
#         print(temp_df)

In [34]:
def generate_financial_data(cik, Financial_data_dic):
    """
    input company's cik value and financial item dic
    acquire financial value through xrbl API,
    calculate financial ratio and append in data frame
    return a data frame with year, company name, financial ratios
    """
    
    # create a empty data frame for use
    cik_fin_value_df = pd.DataFrame()
    # cik = "0001121702"
    for k, v in Financial_data_dic.items():
        print(f"current cik is {cik}, acquire {k}")
        
        # return first financial values into df
        if k == "revenue":
            
            cik_fin_value_df = acquire_data(cik, v)
            if cik_fin_value_df.empty:
                pass
            else:
                cik_fin_value_df.rename(columns = {"fact.value" : k}, inplace = True)
                cik_fin_value_df[k] = pd.to_numeric(cik_fin_value_df[k])
                cik_fin_value_df.drop(labels = "concept.local-name", axis = 1, inplace = True)
                cik_fin_value_df.drop(labels = "unit", axis = 1, inplace = True)
                cik_fin_value_df.drop(labels = "report.filing-date", axis = 1, inplace = True)

    #         cik_fin_value_df.drop(labels = "entity.name", axis = 1, inplace = True)

        
        # create temp df, and acquire rest financial data, then concate with inital df
        else:
#             print(cik,k,v)
            temp_df = acquire_data(cik, v)
            if temp_df.empty:
                temp_df[k] = np.NaN
                cik_fin_value_df = pd.concat([cik_fin_value_df, temp_df], axis = 1)
            else:
                temp_df.rename(columns = {"fact.value" : k}, inplace = True)
                temp_df[k] = pd.to_numeric(temp_df[k])

                temp_df.drop(labels = "concept.local-name", axis = 1, inplace = True)
    #             temp_df.drop(labels = "period.end", axis = 1, inplace = True)
                temp_df.drop(labels = "unit", axis = 1, inplace = True)
                temp_df.drop(labels = "report.filing-date", axis = 1, inplace = True)
    #             temp_df.drop(labels = "entity.name", axis = 1, inplace = True)


    #             if len(temp_df["period.end"]) >= len(cik_fin_value_df["period.end"]):
    #                 cik_fin_value_df.drop(labels = "period.end", axis = 1, inplace = True)
    #             else:
                temp_df.drop(labels = "period.end", axis = 1, inplace = True)
    
                # keep the most company name column
                try:
                    if len(temp_df["entity.cik"]) >= len(cik_fin_value_df["entity.cik"]):
                        cik_fin_value_df.drop(labels = "entity.name", axis = 1, inplace = True)
                        cik_fin_value_df.drop(labels = "entity.cik", axis = 1, inplace = True)
                    else:
                        temp_df.drop(labels = "entity.name", axis = 1, inplace = True)
                        temp_df.drop(labels = "entity.cik", axis = 1, inplace = True)
                except:
                    pass



    #             cik_fin_value_df = pd.concat([cik_fin_value_df, temp_df], axis = 1)
    #             cikabs_fin_value_df = pd.concat((cik_fin_value_df, temp_df), axis = 1, join = "outer")
                try:
                    cik_fin_value_df = pd.merge(cik_fin_value_df, temp_df, on = "period.fiscal-year", how = "outer")
                except:
                    pass
    
    # calculate financial ratios
#     Ratios_calculator(cik_fin_value_df)
    print(f"{cik} fin data acquire compeleted.")
    save_csv(cik_fin_value_df, sec_argriculture, cik)
    
    return cik_fin_value_df



# cik_fin_value_df["ROA1"] = cik_fin_value_df.apply(lambda x:x["net_income"]/x["asset"], axis = 1)
# cik_fin_value_df["ROE1"] = cik_fin_value_df.apply(lambda x:x["net_income"]/x["equity"], axis = 1)
# cik_fin_value_df["ROC1"] = cik_fin_value_df.apply(lambda x:(x["net_income"] + x["debt"])/x["asset"], axis = 1)
# cik_fin_value_df["OperatingMargin"] = cik_fin_value_df.apply(lambda x:x["operating_income"]/x["revenue"], axis = 1)
# cik_fin_value_df["NetMargin"] = cik_fin_value_df.apply(lambda x:x["net_income"]/x["revenue"], axis = 1)
# cik_fin_value_df["CurrentRatio"] = cik_fin_value_df.apply(lambda x:x["current_asset"]/x["current_liability"], axis = 1)
# cik_fin_value_df["QuickRatio"] = cik_fin_value_df.apply(lambda x:(x["current_asset"]-x["inventory"])/x["current_liability"], axis = 1)
# cik_fin_value_df["DERatio"] = cik_fin_value_df.apply(lambda x:x["debt"]/x["equity"], axis = 1)

In [35]:
# TEST CODE

# test1_df = generate_financial_data('0000857949', Financial_data_dic)

In [36]:
def ROA1(df):
    df["ROA1"] = df.apply(lambda x:x["net_income"]/x["asset"], axis = 1)

def ROE1(df):
    df["ROE1"] = df.apply(lambda x:x["net_income"]/x["equity"], axis = 1)

def ROC1(df):
    df["ROC1"] = df.apply(lambda x:(x["net_income"] + x["debt"])/x["asset"], axis = 1)

def Op_Margin(df):
    df["OperatingMargin"] = df.apply(lambda x:x["operating_income"]/x["revenue"], axis = 1)
    
def Net_Margin(df):
    df["NetMargin"] = df.apply(lambda x:x["net_income"]/x["revenue"], axis = 1)
    
def Current_Ratio(df):
    df["CurrentRatio"] = df.apply(lambda x:x["current_asset"]/x["current_liability"], axis = 1)

def Quick_Ratio(df):
    df["QuickRatio"] = df.apply(lambda x:(x["current_asset"]-x["inventory"])/x["current_liability"], axis = 1)

def DE(df):
    df["DERatio"] = df.apply(lambda x:x["debt"]/x["equity"], axis = 1)

In [37]:
def Ratios_calculator(df):
    
    for k, v in Financial_data_dic.items():
        df[k] = pd.to_numeric(df[k])
    ROA1(df)
    ROE1(df)
    ROC1(df)
    Op_Margin(df)
    Net_Margin(df)
    Current_Ratio(df)
    Quick_Ratio(df)
    DE(df)
    
    return df

In [99]:
def generate_financial_ratio(cik, industry, valid_list, invalid_list, count):
#     generate_financial_data(cik, fin_data_dic)

    df = pd.DataFrame()
    try:
        df = read_fin_data_file(f'{sec_cfp_path}/{industry}_comprehensive/{cik}.csv')
        print(1)
        Ratios_calculator(df)
        print(f"{cik} fin ratios calculated")
        df.to_csv(f"{sec_cfp_path}/{industry}_individual_with_ratios/{cik}.csv")
        count += 1
        valid_list.append(cik)
    except:
        print(f"{cik} has no ratios return")
        invalid_list.append(cik)
    


#     try:
#         Ratios_calculator(df)
#         #print(df)
#         print(f"{cik} fin ratios calculated")
#         valid_list.append(cik)
#     except:
#         print(f"{cik} has no ratios return")
#         invalid_list.append(cik)
#         pass
    
    return df, valid_list, invalid_list, count

In [100]:
def output_fin_data_file(cik_list, fin_data_dic, industry):
    
    valid_company_list = []
    invalid_company_list = []
    path = os.path.join(sec_cfp_path, industry)

    for c in cik_list:
        df = generate_financial_data(c, fin_data_dic)
        print("df is here")
        print(df)
        save_csv(df, path, c)
    
    print(f"The list cik companies have connection with SEC website:")
    for cik in valid_company_list:
        print(cik)

    print(f"The list cik companies have no connection with SEC website, no return data via XBRL:")
    for cik in invalid_company_list:
        print(cik)
    
    return None

In [101]:
def output_file(cik_list, fin_data_dic, industry):
    industry_df = pd.DataFrame()
    
    valid_company_list = []
    invalid_company_list = []
    count = 0

    for c in cik_list:
        count+=1
        print(count)
#         generate_financial_data(c, fin_data_dic)
        temp_df, valid_company_list, invalid_company_list, count = generate_financial_ratio(c, industry, valid_company_list, invalid_company_list, count)
        #temp_df.to_csv(f"{sec_cfp_path}/{industry}_individual_with_ratios/{c}.csv")
        industry_df = pd.concat([industry_df, temp_df], axis = 0)
        
#         print(f"{c} has been added.")
    
    industry_df.to_csv(f"{sec_cfp_path}/{industry}.csv")
    
#     print(f"The list cik companies have connection with SEC website: {valid_company_list}.")
#     print(f"The list cik companies have no connection with SEC website, no value returned by using XBEL: {valid_company_list}.")
    print(f'There are {count} companies in {industry} industry.')
    return industry_df, valid_company_list, invalid_company_list

# 6. output process

### 6.1. define save function

In [48]:
def save_csv(file, path, industry):
    file.to_csv(f"{path}/{industry}.csv")
    print(f"{file} has been saved as csv.")
    return None

### 6.2. output financial data into single file for each compnay

In [56]:
output_fin_data_file(sic2870, Financial_data_dic, "SIC2870")

current cik is 0000047968, acquire revenue
current cik is 0000047968, acquire net_income
current cik is 0000047968, acquire operating_income
current cik is 0000047968, acquire asset
current cik is 0000047968, acquire current_asset
current cik is 0000047968, acquire inventory
current cik is 0000047968, acquire current_liability
current cik is 0000047968, acquire debt
current cik is 0000047968, acquire equity
current cik is 0000047968, acquire eps
0000047968 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001369608, acquire revenue
current cik is 0001369608, acquire net_income
current cik is 0001369608, acquire operating_income
current cik is 0001369608, acquire asset
current cik is 0001369608, acquire current_asset
current cik is 0001369608, acquire inventory
current cik is 0001369608, acquire current_liability
current cik is 0001369608, acquire debt
current cik is 0001369608, acquire equity
current cik is 0001369608, acquire eps
0001369608 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001014455, acquire revenue
current cik is 0001014455, acquire net_income
current cik is 0001014455, acquire operating_income
current cik is 0001014455, acquire asset
current cik is 0001014455, acquire current_asset
current cik is 0001014455, acquire inventory
current cik is 0001014455, acquire current_liability
current cik is 0001014455, acquire debt
current cik is 0001014455, acquire equity
current cik is 0001014455, acquire eps
0001014455 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001592016, acquire revenue
current cik is 0001592016, acquire net_income
current cik is 0001592016, acquire operating_income
current cik is 0001592016, acquire asset
current cik is 0001592016, acquire current_asset
current cik is 0001592016, acquire inventory
current cik is 0001592016, acquire current_liability
current cik is 0001592016, acquire debt
current cik is 0001592016, acquire equity
current cik is 0001592016, acquire eps
0001592016 fin data acquire compeleted.
   period.fiscal-year  period.end      revenue   net_income  operating_income  \
0                2020  2021-01-01  157643000.0  -53711000.0         8452000.0
1                2019  2020-01-01  170065000.0  -53591000.0       -40755000.0
2                2018  2019-01-01  178786000.0  -30060000.0         7344000.0
3                2017  2018-01-01  164026000.0   23471000.0        40783000.0
4                2016         NaN          NaN -111560000.0       -36854000.0
5                2014         NaN          NaN          NaN         -676916.0
6                2015         NaN          NaN          NaN               NaN
7                2013         NaN          NaN          NaN               NaN

        asset  current_asset   inventory  current_liability         debt  \
0   785783000      155032000  24579000.0           52459000  264491000.0
1   805692000      132345000  22621000.0           49778000  398064000.0
2   899287000      143209000  24807000.0           64104000  400309000.0
3   983263000      178835000  24109000.0           94680000  402868000.0
4   965844000      170501000  15467000.0           96870000  392996000.0
5   221317716         814755         NaN             330788          NaN
6  1082674000      180656000  44176000.0           67570000  406286000.0
7      143875          25000         NaN             118875          NaN

                   entity.name  entity.cik     equity  eps
0    AgroFresh Solutions, Inc.  0001592016  272393000  NaN
1    AgroFresh Solutions, Inc.  0001592016  333686000  NaN
2    AgroFresh Solutions, Inc.  0001592016  364313000  NaN
3    AgroFresh Solutions, Inc.  0001592016  407637000  NaN
4    AgroFresh Solutions, Inc.  0001592016  335145000  NaN
5    AgroFresh Solutions, Inc.  0001592016    5000010  NaN
6    AgroFresh Solutions, Inc.  0001592016  443903000  NaN
7  Boulevard Acquisition Corp.  0001592016      25000  NaN   has been saved as csv.
df is here
   period.fiscal-year  period.end      revenue   net_income  operating_income  \
0                2020  2021-01-01  157643000.0  -53711000.0         8452000.0
1                2019  2020-01-01  170065000.0  -53591000.0       -40755000.0
2                2018  2019-01-01  178786000.0  -30060000.0         7344000.0
3                2017  2018-01-01  164026000.0   23471000.0        40783000.0
4                2016         NaN          NaN -111560000.0       -36854000.0
5                2014         NaN          NaN          NaN         -676916.0
6                2015         NaN          NaN          NaN               NaN
7                2013         NaN          NaN          NaN               NaN

        asset  current_asset   inventory  current_liability         debt  \
0   785783000      155032000  24579000.0           52459000  264491000.0
1   805692000      132345000  22621000.0           49778000  398064000.0
2   899287000      143209000  24807000.0           64104000  400309000.0
3   983263000      178835000  24109000.0           94680000  402868000.0
4   965844000      170501000  15467000.0           96870000  392996000.0
5   221317716         814755         NaN             330788          NaN
6  1082674000      180656000  44176000.0           67570000  406286000.0
7      143875          25000         NaN             118875          NaN

                   entity.name  entity.cik     equity  eps
0    AgroFresh Solutions, Inc.  0001592016  272393000  NaN
1    AgroFresh Solutions, Inc.  0001592016  333686000  NaN
2    AgroFresh Solutions, Inc.  0001592016  364313000  NaN
3    AgroFresh Solutions, Inc.  0001592016  407637000  NaN
4    AgroFresh Solutions, Inc.  0001592016  335145000  NaN
5    AgroFresh Solutions, Inc.  0001592016    5000010  NaN
6    AgroFresh Solutions, Inc.  0001592016  443903000  NaN
7  Boulevard Acquisition Corp.  0001592016      25000  NaN
   period.fiscal-year  period.end      revenue   net_income  operating_income  \
0                2020  2021-01-01  157643000.0  -53711000.0         8452000.0
1                2019  2020-01-01  170065000.0  -53591000.0       -40755000.0
2                2018  2019-01-01  178786000.0  -30060000.0         7344000.0
3                2017  2018-01-01  164026000.0   23471000.0        40783000.0
4                2016         NaN          NaN -111560000.0       -36854000.0
5                2014         NaN          NaN          NaN         -676916.0
6                2015         NaN          NaN          NaN               NaN
7                2013         NaN          NaN          NaN               NaN

        asset  current_asset   inventory  current_liability         debt  \
0   785783000      155032000  24579000.0           52459000  264491000.0
1   805692000      132345000  22621000.0           49778000  398064000.0
2   899287000      143209000  24807000.0           64104000  400309000.0
3   983263000      178835000  24109000.0           94680000  402868000.0
4   965844000      170501000  15467000.0           96870000  392996000.0
5   221317716         814755         NaN             330788          NaN
6  1082674000      180656000  44176000.0           67570000  406286000.0
7      143875          25000         NaN             118875          NaN

                   entity.name  entity.cik     equity  eps
0    AgroFresh Solutions, Inc.  0001592016  272393000  NaN
1    AgroFresh Solutions, Inc.  0001592016  333686000  NaN
2    AgroFresh Solutions, Inc.  0001592016  364313000  NaN
3    AgroFresh Solutions, Inc.  0001592016  407637000  NaN
4    AgroFresh Solutions, Inc.  0001592016  335145000  NaN
5    AgroFresh Solutions, Inc.  0001592016    5000010  NaN
6    AgroFresh Solutions, Inc.  0001592016  443903000  NaN
7  Boulevard Acquisition Corp.  0001592016      25000  NaN   has been saved as csv.
current cik is 0000708484, acquire revenue

current cik is 0000708484, acquire net_income
current cik is 0000708484, acquire operating_income
current cik is 0000708484, acquire asset
current cik is 0000708484, acquire current_asset
current cik is 0000708484, acquire inventory
current cik is 0000708484, acquire current_liability
current cik is 0000708484, acquire debt
current cik is 0000708484, acquire equity
current cik is 0000708484, acquire eps
0000708484 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001031896, acquire revenue
current cik is 0001031896, acquire net_income
current cik is 0001031896, acquire operating_income
current cik is 0001031896, acquire asset
current cik is 0001031896, acquire current_asset
current cik is 0001031896, acquire inventory
current cik is 0001031896, acquire current_liability
current cik is 0001031896, acquire debt
current cik is 0001031896, acquire equity
current cik is 0001031896, acquire eps
0001031896 fin data acquire compeleted.
Empty DataFrame
Columns: [eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [eps]
Index: []
Empty DataFrame
Columns: [eps]
Index: [] has been saved as csv.
current cik is 0000005981, acquire revenue
current cik is 0000005981, acquire net_income
current cik is 0000005981, acquire operating_income
current cik is 0000005981, acquire asset
current cik is 0000005981, acquire current_asset
current cik is 0000005981, acquire inventory
current cik is 0000005981, acquire current_liability
current cik is 0000005981, acquire debt
current cik is 0000005981, acquire equity
current cik is 0000005981, acquire eps
0000005981 fin data acquire compeleted.
    period.fiscal-year  period.end      revenue  net_income  \
0                 2020  2021-01-01  458704000.0  15242000.0
1                 2019  2020-01-01  468186000.0  13601000.0
2                 2018  2019-01-01  454272000.0  24195000.0
3                 2017  2018-01-01  355047000.0  20274000.0
4                 2016  2017-01-01  312113000.0  12788000.0
5                 2015         NaN          NaN   6591000.0
6                 2014         NaN          NaN   4841000.0
7                 2013         NaN          NaN  34449000.0
8                 2012         NaN          NaN  36867000.0
9                 2011         NaN          NaN  22068000.0
10                2010         NaN          NaN  10984000.0
11                2009         NaN          NaN  -5789000.0
12                2008         NaN          NaN         NaN

                      entity.name  entity.cik  operating_income        asset  \
0   AMERICAN VANGUARD CORPORATION  0000005981        22908000.0  680293000.0
1   AMERICAN VANGUARD CORPORATION  0000005981        26221000.0  670098000.0
2   AMERICAN VANGUARD CORPORATION  0000005981        39021000.0  593587000.0
3          AMERICAN VANGUARD CORP  0000005981        26794000.0  535592000.0
4          AMERICAN VANGUARD CORP  0000005981        20540000.0  429956000.0
5          AMERICAN VANGUARD CORP  0000005981        11524000.0  435270000.0
6          AMERICAN VANGUARD CORP  0000005981         6710000.0  472321000.0
7          AMERICAN VANGUARD CORP  0000005981        55735000.0  447443000.0
8          AMERICAN VANGUARD CORP  0000005981        59323000.0  399890000.0
9          AMERICAN VANGUARD CORP  0000005981        39226000.0  342558000.0
10         AMERICAN VANGUARD CORP  0000005981        19191000.0  280179000.0
11         AMERICAN VANGUARD CORP  0000005981        -6329000.0          NaN
12                            NaN         NaN               NaN          NaN

    current_asset    inventory  current_liability         debt       equity  \
0     331725000.0  163784000.0        171324000.0  107442000.0          NaN
1     336199000.0  163313000.0        138638000.0  148766000.0          NaN
2     310188000.0  159895000.0        145528000.0   96671000.0  329230000.0
3     254883000.0  123124000.0        126202000.0   77486000.0  305060000.0
4     227075000.0  120576000.0         97074000.0   40951000.0  282190000.0
5     228562000.0  136477000.0         88712000.0   68321000.0  268395000.0
6     287049000.0  165631000.0         81245000.0   98605000.0  261637000.0
7     249506000.0  139830000.0        110499000.0   51676000.0  257953000.0
8     222317000.0   87951000.0        113670000.0   36196000.0  225077000.0
9     183738000.0   71068000.0         79025000.0   51917000.0  187072000.0
10    118614000.0   74054000.0         49568000.0          NaN  166437000.0
11            NaN          NaN                NaN          NaN  153087000.0
12            NaN          NaN                NaN          NaN  155943000.0

     eps
0   0.52
1   0.47
2   0.83
3   0.70
4   0.44
5   0.23
6   0.17
7   1.22
8   1.32
9   0.80
10  0.40
11 -0.21
12   NaN   has been saved as csv.
df is here
    period.fiscal-year  period.end      revenue  net_income  \
0                 2020  2021-01-01  458704000.0  15242000.0
1                 2019  2020-01-01  468186000.0  13601000.0
2                 2018  2019-01-01  454272000.0  24195000.0
3                 2017  2018-01-01  355047000.0  20274000.0
4                 2016  2017-01-01  312113000.0  12788000.0
5                 2015         NaN          NaN   6591000.0
6                 2014         NaN          NaN   4841000.0
7                 2013         NaN          NaN  34449000.0
8                 2012         NaN          NaN  36867000.0
9                 2011         NaN          NaN  22068000.0
10                2010         NaN          NaN  10984000.0
11                2009         NaN          NaN  -5789000.0
12                2008         NaN          NaN         NaN

                      entity.name  entity.cik  operating_income        asset  \
0   AMERICAN VANGUARD CORPORATION  0000005981        22908000.0  680293000.0
1   AMERICAN VANGUARD CORPORATION  0000005981        26221000.0  670098000.0
2   AMERICAN VANGUARD CORPORATION  0000005981        39021000.0  593587000.0
3          AMERICAN VANGUARD CORP  0000005981        26794000.0  535592000.0
4          AMERICAN VANGUARD CORP  0000005981        20540000.0  429956000.0
5          AMERICAN VANGUARD CORP  0000005981        11524000.0  435270000.0
6          AMERICAN VANGUARD CORP  0000005981         6710000.0  472321000.0
7          AMERICAN VANGUARD CORP  0000005981        55735000.0  447443000.0
8          AMERICAN VANGUARD CORP  0000005981        59323000.0  399890000.0
9          AMERICAN VANGUARD CORP  0000005981        39226000.0  342558000.0
10         AMERICAN VANGUARD CORP  0000005981        19191000.0  280179000.0
11         AMERICAN VANGUARD CORP  0000005981        -6329000.0          NaN
12                            NaN         NaN               NaN          NaN

    current_asset    inventory  current_liability         debt       equity  \
0     331725000.0  163784000.0        171324000.0  107442000.0          NaN
1     336199000.0  163313000.0        138638000.0  148766000.0          NaN
2     310188000.0  159895000.0        145528000.0   96671000.0  329230000.0
3     254883000.0  123124000.0        126202000.0   77486000.0  305060000.0
4     227075000.0  120576000.0         97074000.0   40951000.0  282190000.0
5     228562000.0  136477000.0         88712000.0   68321000.0  268395000.0
6     287049000.0  165631000.0         81245000.0   98605000.0  261637000.0
7     249506000.0  139830000.0        110499000.0   51676000.0  257953000.0
8     222317000.0   87951000.0        113670000.0   36196000.0  225077000.0
9     183738000.0   71068000.0         79025000.0   51917000.0  187072000.0
10    118614000.0   74054000.0         49568000.0          NaN  166437000.0
11            NaN          NaN                NaN          NaN  153087000.0
12            NaN          NaN                NaN          NaN  155943000.0

     eps
0   0.52
1   0.47
2   0.83
3   0.70
4   0.44
5   0.23
6   0.17
7   1.22
8   1.32
9   0.80
10  0.40
11 -0.21
12   NaN
    period.fiscal-year  period.end      revenue  net_income  \
0                 2020  2021-01-01  458704000.0  15242000.0
1                 2019  2020-01-01  468186000.0  13601000.0
2                 2018  2019-01-01  454272000.0  24195000.0
3                 2017  2018-01-01  355047000.0  20274000.0
4                 2016  2017-01-01  312113000.0  12788000.0
5                 2015         NaN          NaN   6591000.0
6                 2014         NaN          NaN   4841000.0
7                 2013         NaN          NaN  34449000.0
8                 2012         NaN          NaN  36867000.0
9                 2011         NaN          NaN  22068000.0
10                2010         NaN          NaN  10984000.0
11                2009         NaN          NaN  -5789000.0
12                2008         NaN          NaN         NaN

                      entity.name  entity.cik  operating_income        asset  \
0   AMERICAN VANGUARD CORPORATION  0000005981        22908000.0  680293000.0
1   AMERICAN VANGUARD CORPORATION  0000005981        26221000.0  670098000.0
2   AMERICAN VANGUARD CORPORATION  0000005981        39021000.0  593587000.0
3          AMERICAN VANGUARD CORP  0000005981        26794000.0  535592000.0
4          AMERICAN VANGUARD CORP  0000005981        20540000.0  429956000.0
5          AMERICAN VANGUARD CORP  0000005981        11524000.0  435270000.0
6          AMERICAN VANGUARD CORP  0000005981         6710000.0  472321000.0
7          AMERICAN VANGUARD CORP  0000005981        55735000.0  447443000.0
8          AMERICAN VANGUARD CORP  0000005981        59323000.0  399890000.0
9          AMERICAN VANGUARD CORP  0000005981        39226000.0  342558000.0
10         AMERICAN VANGUARD CORP  0000005981        19191000.0  280179000.0
11         AMERICAN VANGUARD CORP  0000005981        -6329000.0          NaN
12                            NaN         NaN               NaN          NaN

    current_asset    inventory  current_liability         debt       equity  \
0     331725000.0  163784000.0        171324000.0  107442000.0          NaN
1     336199000.0  163313000.0        138638000.0  148766000.0          NaN
2     310188000.0  159895000.0        145528000.0   96671000.0  329230000.0
3     254883000.0  123124000.0        126202000.0   77486000.0  305060000.0
4     227075000.0  120576000.0         97074000.0   40951000.0  282190000.0
5     228562000.0  136477000.0         88712000.0   68321000.0  268395000.0
6     287049000.0  165631000.0         81245000.0   98605000.0  261637000.0
7     249506000.0  139830000.0        110499000.0   51676000.0  257953000.0
8     222317000.0   87951000.0        113670000.0   36196000.0  225077000.0
9     183738000.0   71068000.0         79025000.0   51917000.0  187072000.0
10    118614000.0   74054000.0         49568000.0          NaN  166437000.0
11            NaN          NaN                NaN          NaN  153087000.0
12            NaN          NaN                NaN          NaN  155943000.0

     eps
0   0.52
1   0.47
2   0.83
3   0.70
4   0.44
5   0.23
6   0.17
7   1.22
8   1.32
9   0.80
10  0.40
11 -0.21
12   NaN   has been saved as csv.
current cik is 0000862450, acquire revenue

current cik is 0000862450, acquire net_income
current cik is 0000862450, acquire operating_income
current cik is 0000862450, acquire asset
current cik is 0000862450, acquire current_asset
current cik is 0000862450, acquire inventory
current cik is 0000862450, acquire current_liability
current cik is 0000862450, acquire debt
current cik is 0000862450, acquire equity
current cik is 0000862450, acquire eps
0000862450 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0000883906, acquire revenue
current cik is 0000883906, acquire net_income
current cik is 0000883906, acquire operating_income
current cik is 0000883906, acquire asset
current cik is 0000883906, acquire current_asset
current cik is 0000883906, acquire inventory
current cik is 0000883906, acquire current_liability
current cik is 0000883906, acquire debt
current cik is 0000883906, acquire equity
current cik is 0000883906, acquire eps
0000883906 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001162141, acquire revenue
current cik is 0001162141, acquire net_income
current cik is 0001162141, acquire operating_income
current cik is 0001162141, acquire asset
current cik is 0001162141, acquire current_asset
current cik is 0001162141, acquire inventory
current cik is 0001162141, acquire current_liability
current cik is 0001162141, acquire debt
current cik is 0001162141, acquire equity
current cik is 0001162141, acquire eps
0001162141 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001162149, acquire revenue
current cik is 0001162149, acquire net_income
current cik is 0001162149, acquire operating_income
current cik is 0001162149, acquire asset
current cik is 0001162149, acquire current_asset
current cik is 0001162149, acquire inventory
current cik is 0001162149, acquire current_liability
current cik is 0001162149, acquire debt
current cik is 0001162149, acquire equity
current cik is 0001162149, acquire eps
0001162149 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0000875729, acquire revenue
current cik is 0000875729, acquire net_income
current cik is 0000875729, acquire operating_income
current cik is 0000875729, acquire asset
current cik is 0000875729, acquire current_asset
current cik is 0000875729, acquire inventory
current cik is 0000875729, acquire current_liability
current cik is 0000875729, acquire debt
current cik is 0000875729, acquire equity
current cik is 0000875729, acquire eps
0000875729 fin data acquire compeleted.
Empty DataFrame
Columns: [inventory, debt, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [inventory, debt, eps]
Index: []
Empty DataFrame
Columns: [inventory, debt, eps]
Index: [] has been saved as csv.
current cik is 0000883076, acquire revenue
current cik is 0000883076, acquire net_income
current cik is 0000883076, acquire operating_income
current cik is 0000883076, acquire asset
current cik is 0000883076, acquire current_asset
current cik is 0000883076, acquire inventory
current cik is 0000883076, acquire current_liability
current cik is 0000883076, acquire debt
current cik is 0000883076, acquire equity
current cik is 0000883076, acquire eps
0000883076 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0000882483, acquire revenue
current cik is 0000882483, acquire net_income
current cik is 0000882483, acquire operating_income
current cik is 0000882483, acquire asset
current cik is 0000882483, acquire current_asset
current cik is 0000882483, acquire inventory
current cik is 0000882483, acquire current_liability
current cik is 0000882483, acquire debt
current cik is 0000882483, acquire equity
current cik is 0000882483, acquire eps
0000882483 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001705843, acquire revenue
current cik is 0001705843, acquire net_income
current cik is 0001705843, acquire operating_income
current cik is 0001705843, acquire asset
current cik is 0001705843, acquire current_asset
current cik is 0001705843, acquire inventory
current cik is 0001705843, acquire current_liability
current cik is 0001705843, acquire debt
current cik is 0001705843, acquire equity
current cik is 0001705843, acquire eps
0001705843 fin data acquire compeleted.
   period.fiscal-year  period.end     revenue  net_income  operating_income  \
0                2020  2021-01-01  23851000.0 -44836000.0       -43832000.0
1                2019  2020-01-01   7296000.0 -39612000.0       -39673000.0
2                2018  2019-01-01    236000.0 -27897000.0       -28115000.0
3                2017  2018-01-01    508000.0 -25980000.0       -25789000.0
4                2016  2017-01-01    399000.0 -12086000.0       -12109000.0
5                2015         NaN         NaN  -5889000.0        -5814000.0
6                2014         NaN         NaN         NaN               NaN

         asset  current_asset  inventory  current_liability       debt  \
0   63327000.0     39590000.0  1383000.0          6945000.0  1518000.0
1   88098000.0     63522000.0  2594000.0          7196000.0        NaN
2  118791000.0     95522000.0        NaN          7004000.0        NaN
3   72167000.0     57457000.0        NaN          4254000.0        NaN
4   16623000.0      5465000.0        NaN          2865000.0        NaN
5          NaN            NaN        NaN                NaN        NaN
6          NaN            NaN        NaN                NaN        NaN

    entity.name  entity.cik    equity  eps
0  Calyxt, Inc.  0001705843  36875000  NaN
1  Calyxt, Inc.  0001705843  62508000  NaN
2  Calyxt, Inc.  0001705843  93397000  NaN
3  Calyxt, Inc.  0001705843  57476000  NaN
4  Calyxt, Inc.  0001705843  13119000  NaN
5  CALYXT, INC.  0001705843  24257000  NaN
6  CALYXT, INC.  0001705843 -10436000  NaN   has been saved as csv.
df is here
   period.fiscal-year  period.end     revenue  net_income  operating_income  \
0                2020  2021-01-01  23851000.0 -44836000.0       -43832000.0
1                2019  2020-01-01   7296000.0 -39612000.0       -39673000.0
2                2018  2019-01-01    236000.0 -27897000.0       -28115000.0
3                2017  2018-01-01    508000.0 -25980000.0       -25789000.0
4                2016  2017-01-01    399000.0 -12086000.0       -12109000.0
5                2015         NaN         NaN  -5889000.0        -5814000.0
6                2014         NaN         NaN         NaN               NaN

         asset  current_asset  inventory  current_liability       debt  \
0   63327000.0     39590000.0  1383000.0          6945000.0  1518000.0
1   88098000.0     63522000.0  2594000.0          7196000.0        NaN
2  118791000.0     95522000.0        NaN          7004000.0        NaN
3   72167000.0     57457000.0        NaN          4254000.0        NaN
4   16623000.0      5465000.0        NaN          2865000.0        NaN
5          NaN            NaN        NaN                NaN        NaN
6          NaN            NaN        NaN                NaN        NaN

    entity.name  entity.cik    equity  eps
0  Calyxt, Inc.  0001705843  36875000  NaN
1  Calyxt, Inc.  0001705843  62508000  NaN
2  Calyxt, Inc.  0001705843  93397000  NaN
3  Calyxt, Inc.  0001705843  57476000  NaN
4  Calyxt, Inc.  0001705843  13119000  NaN
5  CALYXT, INC.  0001705843  24257000  NaN
6  CALYXT, INC.  0001705843 -10436000  NaN
   period.fiscal-year  period.end     revenue  net_income  operating_income  \
0                2020  2021-01-01  23851000.0 -44836000.0       -43832000.0
1                2019  2020-01-01   7296000.0 -39612000.0       -39673000.0
2                2018  2019-01-01    236000.0 -27897000.0       -28115000.0
3                2017  2018-01-01    508000.0 -25980000.0       -25789000.0
4                2016  2017-01-01    399000.0 -12086000.0       -12109000.0
5                2015         NaN         NaN  -5889000.0        -5814000.0
6                2014         NaN         NaN         NaN               NaN

         asset  current_asset  inventory  current_liability       debt  \
0   63327000.0     39590000.0  1383000.0          6945000.0  1518000.0
1   88098000.0     63522000.0  2594000.0          7196000.0        NaN
2  118791000.0     95522000.0        NaN          7004000.0        NaN
3   72167000.0     57457000.0        NaN          4254000.0        NaN
4   16623000.0      5465000.0        NaN          2865000.0        NaN
5          NaN            NaN        NaN                NaN        NaN
6          NaN            NaN        NaN                NaN        NaN

    entity.name  entity.cik    equity  eps
0  Calyxt, Inc.  0001705843  36875000  NaN
1  Calyxt, Inc.  0001705843  62508000  NaN
2  Calyxt, Inc.  0001705843  93397000  NaN
3  Calyxt, Inc.  0001705843  57476000  NaN
4  Calyxt, Inc.  0001705843  13119000  NaN
5  CALYXT, INC.  0001705843  24257000  NaN
6  CALYXT, INC.  0001705843 -10436000  NaN   has been saved as csv.
current cik is 0001488435, acquire revenue

current cik is 0001488435, acquire net_income
current cik is 0001488435, acquire operating_income
current cik is 0001488435, acquire asset
current cik is 0001488435, acquire current_asset
current cik is 0001488435, acquire inventory
current cik is 0001488435, acquire current_liability
current cik is 0001488435, acquire debt
current cik is 0001488435, acquire equity
current cik is 0001488435, acquire eps
0001488435 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001324404, acquire revenue
current cik is 0001324404, acquire net_income
current cik is 0001324404, acquire operating_income
current cik is 0001324404, acquire asset
current cik is 0001324404, acquire current_asset
current cik is 0001324404, acquire inventory
current cik is 0001324404, acquire current_liability
current cik is 0001324404, acquire debt
current cik is 0001324404, acquire equity
current cik is 0001324404, acquire eps
0001324404 fin data acquire compeleted.
Empty DataFrame
Columns: []
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: [] has been saved as csv.
current cik is 0001394920, acquire revenue
current cik is 0001394920, acquire net_income
current cik is 0001394920, acquire operating_income
current cik is 0001394920, acquire asset
current cik is 0001394920, acquire current_asset
current cik is 0001394920, acquire inventory
current cik is 0001394920, acquire current_liability
current cik is 0001394920, acquire debt
current cik is 0001394920, acquire equity
current cik is 0001394920, acquire eps
0001394920 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001162145, acquire revenue
current cik is 0001162145, acquire net_income
current cik is 0001162145, acquire operating_income
current cik is 0001162145, acquire asset
current cik is 0001162145, acquire current_asset
current cik is 0001162145, acquire inventory
current cik is 0001162145, acquire current_liability
current cik is 0001162145, acquire debt
current cik is 0001162145, acquire equity
current cik is 0001162145, acquire eps
0001162145 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001484839, acquire revenue
current cik is 0001484839, acquire net_income
current cik is 0001484839, acquire operating_income
current cik is 0001484839, acquire asset
current cik is 0001484839, acquire current_asset
current cik is 0001484839, acquire inventory
current cik is 0001484839, acquire current_liability
current cik is 0001484839, acquire debt
current cik is 0001484839, acquire equity
current cik is 0001484839, acquire eps
0001484839 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001026601, acquire revenue
current cik is 0001026601, acquire net_income
current cik is 0001026601, acquire operating_income
current cik is 0001026601, acquire asset
current cik is 0001026601, acquire current_asset
current cik is 0001026601, acquire inventory
current cik is 0001026601, acquire current_liability
current cik is 0001026601, acquire debt
current cik is 0001026601, acquire equity
current cik is 0001026601, acquire eps
0001026601 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001071918, acquire revenue
current cik is 0001071918, acquire net_income
current cik is 0001071918, acquire operating_income
current cik is 0001071918, acquire asset
current cik is 0001071918, acquire current_asset
current cik is 0001071918, acquire inventory
current cik is 0001071918, acquire current_liability
current cik is 0001071918, acquire debt
current cik is 0001071918, acquire equity
current cik is 0001071918, acquire eps
0001071918 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001425292, acquire revenue
current cik is 0001425292, acquire net_income
current cik is 0001425292, acquire operating_income
current cik is 0001425292, acquire asset
current cik is 0001425292, acquire current_asset
current cik is 0001425292, acquire inventory
current cik is 0001425292, acquire current_liability
current cik is 0001425292, acquire debt
current cik is 0001425292, acquire equity
current cik is 0001425292, acquire eps
0001425292 fin data acquire compeleted.
    period.fiscal-year  period.end      revenue  net_income  operating_income  \
0                 2020  2021-01-01  349953000.0   -98181000         -34882000
1                 2019  2020-01-01  404177000.0   -34969000          27380000
2                 2018  2019-01-01  351082000.0   -50027000           6314000
3                 2018  2019-01-01  351082000.0   -50027000           6314000
4                 2018  2019-01-01  351082000.0   -50027000           6314000
5                 2018  2019-01-01  351082000.0   -50027000           6314000
6                 2018  2019-01-01  351082000.0   -50027000           6314000
7                 2018  2019-01-01  351082000.0   -50027000           6314000
8                 2018  2019-01-01  351082000.0   -50027000           6314000
9                 2018  2019-01-01  351082000.0   -50027000           6314000
10                2017  2018-01-01  330802000.0   -72788000         -10278000
11                2016  2017-01-01  356284000.0   -26938000          24557000
12                2015         NaN          NaN    62042000          68729000
13                2014         NaN          NaN    76149000          82803000
14                2013         NaN          NaN   118616000         124851000
15                2012         NaN          NaN   112223000         115758000
16                2011         NaN          NaN   132447000         136198000
17                2010         NaN          NaN    33306000          20356000
18                2009         NaN          NaN    57878000          48863000

         entity.name  entity.cik         asset  current_asset   inventory  \
0   CVR PARTNERS, LP  0001425292  1.032880e+09    118214000.0  42349000.0
1   CVR Partners, LP  0001425292  1.137955e+09    124960000.0  48296000.0
2   CVR Partners, LP  0001425292  1.254388e+09    191331000.0  63554000.0
3   CVR Partners, LP  0001425292  1.254388e+09    191331000.0  63554000.0
4   CVR Partners, LP  0001425292  1.254388e+09    193981000.0  63554000.0
5   CVR Partners, LP  0001425292  1.254388e+09    193981000.0  63554000.0
6   CVR Partners, LP  0001425292  1.268661e+09    191331000.0  63554000.0
7   CVR Partners, LP  0001425292  1.268661e+09    191331000.0  63554000.0
8   CVR Partners, LP  0001425292  1.268661e+09    193981000.0  63554000.0
9   CVR Partners, LP  0001425292  1.268661e+09    193981000.0  63554000.0
10  CVR PARTNERS, LP  0001425292  1.234276e+09    117990000.0  53169000.0
11  CVR PARTNERS, LP  0001425292  1.312217e+09    134531000.0  58167000.0
12  CVR PARTNERS, LP  0001425292  5.362550e+08     98545000.0  37529000.0
13  CVR PARTNERS, LP  0001425292  5.788390e+08    129578000.0  35614000.0
14  CVR PARTNERS, LP  0001425292  5.934540e+08    135780000.0  33064000.0
15  CVR PARTNERS, LP  0001425292  6.229540e+08    166048000.0  28949000.0
16  CVR PARTNERS, LP  0001425292  6.593090e+08    271863000.0  23255000.0
17  CVR PARTNERS, LP  0001425292  4.521650e+08     73168000.0  19830000.0
18               NaN         NaN           NaN            NaN         NaN

    current_liability         debt  equity   eps
0          76341000.0  633942000.0     NaN   NaN
1          75531000.0  632406000.0     NaN   NaN
2         122635000.0  628989000.0     NaN   NaN
3         126097000.0  628989000.0     NaN   NaN
4         122635000.0  628989000.0     NaN   NaN
5         126097000.0  628989000.0     NaN   NaN
6         122635000.0  628989000.0     NaN   NaN
7         126097000.0  628989000.0     NaN   NaN
8         122635000.0  628989000.0     NaN   NaN
9         126097000.0  628989000.0     NaN   NaN
10         56095000.0  625904000.0     NaN -0.64
11         63016000.0  623107000.0     NaN -0.26
12         25914000.0  124773000.0     NaN  0.85
13         39707000.0  125000000.0     NaN  1.04
14         27386000.0  125000000.0     NaN  1.62
15         49475000.0  125000000.0     NaN  1.54
16         42454000.0  125000000.0     NaN  1.48
17         46076000.0          0.0     NaN  0.00
18                NaN          NaN     NaN  0.00   has been saved as csv.
df is here
    period.fiscal-year  period.end      revenue  net_income  operating_income  \
0                 2020  2021-01-01  349953000.0   -98181000         -34882000
1                 2019  2020-01-01  404177000.0   -34969000          27380000
2                 2018  2019-01-01  351082000.0   -50027000           6314000
3                 2018  2019-01-01  351082000.0   -50027000           6314000
4                 2018  2019-01-01  351082000.0   -50027000           6314000
5                 2018  2019-01-01  351082000.0   -50027000           6314000
6                 2018  2019-01-01  351082000.0   -50027000           6314000
7                 2018  2019-01-01  351082000.0   -50027000           6314000
8                 2018  2019-01-01  351082000.0   -50027000           6314000
9                 2018  2019-01-01  351082000.0   -50027000           6314000
10                2017  2018-01-01  330802000.0   -72788000         -10278000
11                2016  2017-01-01  356284000.0   -26938000          24557000
12                2015         NaN          NaN    62042000          68729000
13                2014         NaN          NaN    76149000          82803000
14                2013         NaN          NaN   118616000         124851000
15                2012         NaN          NaN   112223000         115758000
16                2011         NaN          NaN   132447000         136198000
17                2010         NaN          NaN    33306000          20356000
18                2009         NaN          NaN    57878000          48863000

         entity.name  entity.cik         asset  current_asset   inventory  \
0   CVR PARTNERS, LP  0001425292  1.032880e+09    118214000.0  42349000.0
1   CVR Partners, LP  0001425292  1.137955e+09    124960000.0  48296000.0
2   CVR Partners, LP  0001425292  1.254388e+09    191331000.0  63554000.0
3   CVR Partners, LP  0001425292  1.254388e+09    191331000.0  63554000.0
4   CVR Partners, LP  0001425292  1.254388e+09    193981000.0  63554000.0
5   CVR Partners, LP  0001425292  1.254388e+09    193981000.0  63554000.0
6   CVR Partners, LP  0001425292  1.268661e+09    191331000.0  63554000.0
7   CVR Partners, LP  0001425292  1.268661e+09    191331000.0  63554000.0
8   CVR Partners, LP  0001425292  1.268661e+09    193981000.0  63554000.0
9   CVR Partners, LP  0001425292  1.268661e+09    193981000.0  63554000.0
10  CVR PARTNERS, LP  0001425292  1.234276e+09    117990000.0  53169000.0
11  CVR PARTNERS, LP  0001425292  1.312217e+09    134531000.0  58167000.0
12  CVR PARTNERS, LP  0001425292  5.362550e+08     98545000.0  37529000.0
13  CVR PARTNERS, LP  0001425292  5.788390e+08    129578000.0  35614000.0
14  CVR PARTNERS, LP  0001425292  5.934540e+08    135780000.0  33064000.0
15  CVR PARTNERS, LP  0001425292  6.229540e+08    166048000.0  28949000.0
16  CVR PARTNERS, LP  0001425292  6.593090e+08    271863000.0  23255000.0
17  CVR PARTNERS, LP  0001425292  4.521650e+08     73168000.0  19830000.0
18               NaN         NaN           NaN            NaN         NaN

    current_liability         debt  equity   eps
0          76341000.0  633942000.0     NaN   NaN
1          75531000.0  632406000.0     NaN   NaN
2         122635000.0  628989000.0     NaN   NaN
3         126097000.0  628989000.0     NaN   NaN
4         122635000.0  628989000.0     NaN   NaN
5         126097000.0  628989000.0     NaN   NaN
6         122635000.0  628989000.0     NaN   NaN
7         126097000.0  628989000.0     NaN   NaN
8         122635000.0  628989000.0     NaN   NaN
9         126097000.0  628989000.0     NaN   NaN
10         56095000.0  625904000.0     NaN -0.64
11         63016000.0  623107000.0     NaN -0.26
12         25914000.0  124773000.0     NaN  0.85
13         39707000.0  125000000.0     NaN  1.04
14         27386000.0  125000000.0     NaN  1.62
15         49475000.0  125000000.0     NaN  1.54
16         42454000.0  125000000.0     NaN  1.48
17         46076000.0          0.0     NaN  0.00
18                NaN          NaN     NaN  0.00
    period.fiscal-year  period.end      revenue  net_income  operating_income  \
0                 2020  2021-01-01  349953000.0   -98181000         -34882000
1                 2019  2020-01-01  404177000.0   -34969000          27380000
2                 2018  2019-01-01  351082000.0   -50027000           6314000
3                 2018  2019-01-01  351082000.0   -50027000           6314000
4                 2018  2019-01-01  351082000.0   -50027000           6314000
5                 2018  2019-01-01  351082000.0   -50027000           6314000
6                 2018  2019-01-01  351082000.0   -50027000           6314000
7                 2018  2019-01-01  351082000.0   -50027000           6314000
8                 2018  2019-01-01  351082000.0   -50027000           6314000
9                 2018  2019-01-01  351082000.0   -50027000           6314000
10                2017  2018-01-01  330802000.0   -72788000         -10278000
11                2016  2017-01-01  356284000.0   -26938000          24557000
12                2015         NaN          NaN    62042000          68729000
13                2014         NaN          NaN    76149000          82803000
14                2013         NaN          NaN   118616000         124851000
15                2012         NaN          NaN   112223000         115758000
16                2011         NaN          NaN   132447000         136198000
17                2010         NaN          NaN    33306000          20356000
18                2009         NaN          NaN    57878000          48863000

         entity.name  entity.cik         asset  current_asset   inventory  \
0   CVR PARTNERS, LP  0001425292  1.032880e+09    118214000.0  42349000.0
1   CVR Partners, LP  0001425292  1.137955e+09    124960000.0  48296000.0
2   CVR Partners, LP  0001425292  1.254388e+09    191331000.0  63554000.0
3   CVR Partners, LP  0001425292  1.254388e+09    191331000.0  63554000.0
4   CVR Partners, LP  0001425292  1.254388e+09    193981000.0  63554000.0
5   CVR Partners, LP  0001425292  1.254388e+09    193981000.0  63554000.0
6   CVR Partners, LP  0001425292  1.268661e+09    191331000.0  63554000.0
7   CVR Partners, LP  0001425292  1.268661e+09    191331000.0  63554000.0
8   CVR Partners, LP  0001425292  1.268661e+09    193981000.0  63554000.0
9   CVR Partners, LP  0001425292  1.268661e+09    193981000.0  63554000.0
10  CVR PARTNERS, LP  0001425292  1.234276e+09    117990000.0  53169000.0
11  CVR PARTNERS, LP  0001425292  1.312217e+09    134531000.0  58167000.0
12  CVR PARTNERS, LP  0001425292  5.362550e+08     98545000.0  37529000.0
13  CVR PARTNERS, LP  0001425292  5.788390e+08    129578000.0  35614000.0
14  CVR PARTNERS, LP  0001425292  5.934540e+08    135780000.0  33064000.0
15  CVR PARTNERS, LP  0001425292  6.229540e+08    166048000.0  28949000.0
16  CVR PARTNERS, LP  0001425292  6.593090e+08    271863000.0  23255000.0
17  CVR PARTNERS, LP  0001425292  4.521650e+08     73168000.0  19830000.0
18               NaN         NaN           NaN            NaN         NaN

    current_liability         debt  equity   eps
0          76341000.0  633942000.0     NaN   NaN
1          75531000.0  632406000.0     NaN   NaN
2         122635000.0  628989000.0     NaN   NaN
3         126097000.0  628989000.0     NaN   NaN
4         122635000.0  628989000.0     NaN   NaN
5         126097000.0  628989000.0     NaN   NaN
6         122635000.0  628989000.0     NaN   NaN
7         126097000.0  628989000.0     NaN   NaN
8         122635000.0  628989000.0     NaN   NaN
9         126097000.0  628989000.0     NaN   NaN
10         56095000.0  625904000.0     NaN -0.64
11         63016000.0  623107000.0     NaN -0.26
12         25914000.0  124773000.0     NaN  0.85
13         39707000.0  125000000.0     NaN  1.04
14         27386000.0  125000000.0     NaN  1.62
15         49475000.0  125000000.0     NaN  1.54
16         42454000.0  125000000.0     NaN  1.48
17         46076000.0          0.0     NaN  0.00
18                NaN          NaN     NaN  0.00   has been saved as csv.
current cik is 0000319124, acquire revenue

current cik is 0000319124, acquire net_income
current cik is 0000319124, acquire operating_income
current cik is 0000319124, acquire asset
current cik is 0000319124, acquire current_asset
current cik is 0000319124, acquire inventory
current cik is 0000319124, acquire current_liability
current cik is 0000319124, acquire debt
current cik is 0000319124, acquire equity
current cik is 0000319124, acquire eps
0000319124 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001525998, acquire revenue
current cik is 0001525998, acquire net_income
current cik is 0001525998, acquire operating_income
current cik is 0001525998, acquire asset
current cik is 0001525998, acquire current_asset
current cik is 0001525998, acquire inventory
current cik is 0001525998, acquire current_liability
current cik is 0001525998, acquire debt
current cik is 0001525998, acquire equity
current cik is 0001525998, acquire eps
0001525998 fin data acquire compeleted.
Empty DataFrame
Columns: []
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: [] has been saved as csv.
current cik is 0000814050, acquire revenue
current cik is 0000814050, acquire net_income
current cik is 0000814050, acquire operating_income
current cik is 0000814050, acquire asset
current cik is 0000814050, acquire current_asset
current cik is 0000814050, acquire inventory
current cik is 0000814050, acquire current_liability
current cik is 0000814050, acquire debt
current cik is 0000814050, acquire equity
current cik is 0000814050, acquire eps
0000814050 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0000882259, acquire revenue
current cik is 0000882259, acquire net_income
current cik is 0000882259, acquire operating_income
current cik is 0000882259, acquire asset
current cik is 0000882259, acquire current_asset
current cik is 0000882259, acquire inventory
current cik is 0000882259, acquire current_liability
current cik is 0000882259, acquire debt
current cik is 0000882259, acquire equity
current cik is 0000882259, acquire eps
0000882259 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001081158, acquire revenue
current cik is 0001081158, acquire net_income
current cik is 0001081158, acquire operating_income
current cik is 0001081158, acquire asset
current cik is 0001081158, acquire current_asset
current cik is 0001081158, acquire inventory
current cik is 0001081158, acquire current_liability
current cik is 0001081158, acquire debt
current cik is 0001081158, acquire equity
current cik is 0001081158, acquire eps
0001081158 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0000036537, acquire revenue
current cik is 0000036537, acquire net_income
current cik is 0000036537, acquire operating_income
current cik is 0000036537, acquire asset
current cik is 0000036537, acquire current_asset
current cik is 0000036537, acquire inventory
current cik is 0000036537, acquire current_liability
current cik is 0000036537, acquire debt
current cik is 0000036537, acquire equity
current cik is 0000036537, acquire eps
0000036537 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001511357, acquire revenue
current cik is 0001511357, acquire net_income
current cik is 0001511357, acquire operating_income
current cik is 0001511357, acquire asset
current cik is 0001511357, acquire current_asset
current cik is 0001511357, acquire inventory
current cik is 0001511357, acquire current_liability
current cik is 0001511357, acquire debt
current cik is 0001511357, acquire equity
current cik is 0001511357, acquire eps
0001511357 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001046340, acquire revenue
current cik is 0001046340, acquire net_income
current cik is 0001046340, acquire operating_income
current cik is 0001046340, acquire asset
current cik is 0001046340, acquire current_asset
current cik is 0001046340, acquire inventory
current cik is 0001046340, acquire current_liability
current cik is 0001046340, acquire debt
current cik is 0001046340, acquire equity
current cik is 0001046340, acquire eps
0001046340 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0000880882, acquire revenue
current cik is 0000880882, acquire net_income
current cik is 0000880882, acquire operating_income
current cik is 0000880882, acquire asset
current cik is 0000880882, acquire current_asset
current cik is 0000880882, acquire inventory
current cik is 0000880882, acquire current_liability
current cik is 0000880882, acquire debt
current cik is 0000880882, acquire equity
current cik is 0000880882, acquire eps
0000880882 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001100976, acquire revenue

current cik is 0001100976, acquire net_income
current cik is 0001100976, acquire operating_income
current cik is 0001100976, acquire asset
current cik is 0001100976, acquire current_asset
current cik is 0001100976, acquire inventory
current cik is 0001100976, acquire current_liability
current cik is 0001100976, acquire debt
current cik is 0001100976, acquire equity
current cik is 0001100976, acquire eps
0001100976 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0000793160, acquire revenue
current cik is 0000793160, acquire net_income
current cik is 0000793160, acquire operating_income
current cik is 0000793160, acquire asset
current cik is 0000793160, acquire current_asset
current cik is 0000793160, acquire inventory
current cik is 0000793160, acquire current_liability
current cik is 0000793160, acquire debt
current cik is 0000793160, acquire equity
current cik is 0000793160, acquire eps
0000793160 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0000825203, acquire revenue
current cik is 0000825203, acquire net_income
current cik is 0000825203, acquire operating_income
current cik is 0000825203, acquire asset
current cik is 0000825203, acquire current_asset
current cik is 0000825203, acquire inventory
current cik is 0000825203, acquire current_liability
current cik is 0000825203, acquire debt
current cik is 0000825203, acquire equity
current cik is 0000825203, acquire eps
0000825203 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001046337, acquire revenue
current cik is 0001046337, acquire net_income
current cik is 0001046337, acquire operating_income
current cik is 0001046337, acquire asset
current cik is 0001046337, acquire current_asset
current cik is 0001046337, acquire inventory
current cik is 0001046337, acquire current_liability
current cik is 0001046337, acquire debt
current cik is 0001046337, acquire equity
current cik is 0001046337, acquire eps
0001046337 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001159275, acquire revenue
current cik is 0001159275, acquire net_income
current cik is 0001159275, acquire operating_income
current cik is 0001159275, acquire asset
current cik is 0001159275, acquire current_asset
current cik is 0001159275, acquire inventory
current cik is 0001159275, acquire current_liability
current cik is 0001159275, acquire debt
current cik is 0001159275, acquire equity
current cik is 0001159275, acquire eps
0001159275 fin data acquire compeleted.
    period.fiscal-year  period.end     revenue  net_income  operating_income  \
0                 2019  2020-01-01  40089457.0  -6635296.0        -1185778.0
1                 2018  2019-01-01  30650402.0    343821.0         2589346.0
2                 2017  2018-01-01  17270069.0   5309036.0         1796131.0
3                 2016         NaN         NaN    891030.0          872726.0
4                 2015         NaN         NaN   -677358.0         -243341.0
5                 2014         NaN         NaN   -707556.0         -527558.0
6                 2013         NaN         NaN   3713866.0         -556852.0
7                 2012         NaN         NaN  -1342432.0         -595559.0
8                 2011         NaN         NaN  -1691319.0        -1422789.0
9                 2010         NaN         NaN  -2275783.0        -2037783.0
10                2009         NaN         NaN         NaN               NaN

         asset  current_asset  inventory  current_liability  debt  \
0   24069329.0     22835356.0    31506.0         14253879.0   NaN
1   32511042.0     31690093.0  1643033.0         19784528.0   NaN
2   20004586.0     19073381.0  2745991.0          8873669.0   NaN
3    6084990.0      4472718.0        NaN         10329042.0   NaN
4      63154.0        50981.0        NaN         11163608.0   NaN
5      24615.0        17243.0        NaN         10000640.0   NaN
6      28485.0        16530.0        NaN          8436384.0   NaN
7      42046.0        26081.0        NaN         12002449.0   NaN
8      62999.0        42677.0        NaN         10593526.0   NaN
9     131944.0       106022.0        NaN          8768262.0   NaN
10         NaN            NaN        NaN                NaN   NaN

                          entity.name  entity.cik    equity   eps
0   KIWA BIO-TECH PRODUCTS GROUP CORP  0001159275   9685288 -0.29
1   KIWA BIO-TECH PRODUCTS GROUP CORP  0001159275  12726514  0.02
2   KIWA BIO-TECH PRODUCTS GROUP CORP  0001159275  10670835  0.51
3   KIWA BIO-TECH PRODUCTS GROUP CORP  0001159275  -4244052  0.17
4   KIWA BIO-TECH PRODUCTS GROUP CORP  0001159275 -11100454 -0.34
5   KIWA BIO-TECH PRODUCTS GROUP CORP  0001159275 -11847161   NaN
6   KIWA BIO-TECH PRODUCTS GROUP CORP  0001159275 -11256864   NaN
7   KIWA BIO-TECH PRODUCTS GROUP CORP  0001159275 -13806281   NaN
8   KIWA BIO-TECH PRODUCTS GROUP CORP  0001159275 -12345438   NaN
9   KIWA BIO-TECH PRODUCTS GROUP CORP  0001159275 -10372770   NaN
10  KIWA BIO-TECH PRODUCTS GROUP CORP  0001159275  -7932417   NaN   has been saved as csv.
df is here
    period.fiscal-year  period.end     revenue  net_income  operating_income  \
0                 2019  2020-01-01  40089457.0  -6635296.0        -1185778.0
1                 2018  2019-01-01  30650402.0    343821.0         2589346.0
2                 2017  2018-01-01  17270069.0   5309036.0         1796131.0
3                 2016         NaN         NaN    891030.0          872726.0
4                 2015         NaN         NaN   -677358.0         -243341.0
5                 2014         NaN         NaN   -707556.0         -527558.0
6                 2013         NaN         NaN   3713866.0         -556852.0
7                 2012         NaN         NaN  -1342432.0         -595559.0
8                 2011         NaN         NaN  -1691319.0        -1422789.0
9                 2010         NaN         NaN  -2275783.0        -2037783.0
10                2009         NaN         NaN         NaN               NaN

         asset  current_asset  inventory  current_liability  debt  \
0   24069329.0     22835356.0    31506.0         14253879.0   NaN
1   32511042.0     31690093.0  1643033.0         19784528.0   NaN
2   20004586.0     19073381.0  2745991.0          8873669.0   NaN
3    6084990.0      4472718.0        NaN         10329042.0   NaN
4      63154.0        50981.0        NaN         11163608.0   NaN
5      24615.0        17243.0        NaN         10000640.0   NaN
6      28485.0        16530.0        NaN          8436384.0   NaN
7      42046.0        26081.0        NaN         12002449.0   NaN
8      62999.0        42677.0        NaN         10593526.0   NaN
9     131944.0       106022.0        NaN          8768262.0   NaN
10         NaN            NaN        NaN                NaN   NaN

                          entity.name  entity.cik    equity   eps
0   KIWA BIO-TECH PRODUCTS GROUP CORP  0001159275   9685288 -0.29
1   KIWA BIO-TECH PRODUCTS GROUP CORP  0001159275  12726514  0.02
2   KIWA BIO-TECH PRODUCTS GROUP CORP  0001159275  10670835  0.51
3   KIWA BIO-TECH PRODUCTS GROUP CORP  0001159275  -4244052  0.17
4   KIWA BIO-TECH PRODUCTS GROUP CORP  0001159275 -11100454 -0.34
5   KIWA BIO-TECH PRODUCTS GROUP CORP  0001159275 -11847161   NaN
6   KIWA BIO-TECH PRODUCTS GROUP CORP  0001159275 -11256864   NaN
7   KIWA BIO-TECH PRODUCTS GROUP CORP  0001159275 -13806281   NaN
8   KIWA BIO-TECH PRODUCTS GROUP CORP  0001159275 -12345438   NaN
9   KIWA BIO-TECH PRODUCTS GROUP CORP  0001159275 -10372770   NaN
10  KIWA BIO-TECH PRODUCTS GROUP CORP  0001159275  -7932417   NaN
    period.fiscal-year  period.end     revenue  net_income  operating_income  \
0                 2019  2020-01-01  40089457.0  -6635296.0        -1185778.0
1                 2018  2019-01-01  30650402.0    343821.0         2589346.0
2                 2017  2018-01-01  17270069.0   5309036.0         1796131.0
3                 2016         NaN         NaN    891030.0          872726.0
4                 2015         NaN         NaN   -677358.0         -243341.0
5                 2014         NaN         NaN   -707556.0         -527558.0
6                 2013         NaN         NaN   3713866.0         -556852.0
7                 2012         NaN         NaN  -1342432.0         -595559.0
8                 2011         NaN         NaN  -1691319.0        -1422789.0
9                 2010         NaN         NaN  -2275783.0        -2037783.0
10                2009         NaN         NaN         NaN               NaN

         asset  current_asset  inventory  current_liability  debt  \
0   24069329.0     22835356.0    31506.0         14253879.0   NaN
1   32511042.0     31690093.0  1643033.0         19784528.0   NaN
2   20004586.0     19073381.0  2745991.0          8873669.0   NaN
3    6084990.0      4472718.0        NaN         10329042.0   NaN
4      63154.0        50981.0        NaN         11163608.0   NaN
5      24615.0        17243.0        NaN         10000640.0   NaN
6      28485.0        16530.0        NaN          8436384.0   NaN
7      42046.0        26081.0        NaN         12002449.0   NaN
8      62999.0        42677.0        NaN         10593526.0   NaN
9     131944.0       106022.0        NaN          8768262.0   NaN
10         NaN            NaN        NaN                NaN   NaN

                          entity.name  entity.cik    equity   eps
0   KIWA BIO-TECH PRODUCTS GROUP CORP  0001159275   9685288 -0.29
1   KIWA BIO-TECH PRODUCTS GROUP CORP  0001159275  12726514  0.02
2   KIWA BIO-TECH PRODUCTS GROUP CORP  0001159275  10670835  0.51
3   KIWA BIO-TECH PRODUCTS GROUP CORP  0001159275  -4244052  0.17
4   KIWA BIO-TECH PRODUCTS GROUP CORP  0001159275 -11100454 -0.34
5   KIWA BIO-TECH PRODUCTS GROUP CORP  0001159275 -11847161   NaN
6   KIWA BIO-TECH PRODUCTS GROUP CORP  0001159275 -11256864   NaN
7   KIWA BIO-TECH PRODUCTS GROUP CORP  0001159275 -13806281   NaN
8   KIWA BIO-TECH PRODUCTS GROUP CORP  0001159275 -12345438   NaN
9   KIWA BIO-TECH PRODUCTS GROUP CORP  0001159275 -10372770   NaN
10  KIWA BIO-TECH PRODUCTS GROUP CORP  0001159275  -7932417   NaN   has been saved as csv.
current cik is 0000745394, acquire revenue

current cik is 0000745394, acquire net_income
current cik is 0000745394, acquire operating_income
current cik is 0000745394, acquire asset
current cik is 0000745394, acquire current_asset
current cik is 0000745394, acquire inventory
current cik is 0000745394, acquire current_liability
current cik is 0000745394, acquire debt
current cik is 0000745394, acquire equity
current cik is 0000745394, acquire eps
0000745394 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001441693, acquire revenue
current cik is 0001441693, acquire net_income
current cik is 0001441693, acquire operating_income
current cik is 0001441693, acquire asset
current cik is 0001441693, acquire current_asset
current cik is 0001441693, acquire inventory
current cik is 0001441693, acquire current_liability
current cik is 0001441693, acquire debt
current cik is 0001441693, acquire equity
current cik is 0001441693, acquire eps
0001441693 fin data acquire compeleted.
    period.fiscal-year  period.end     revenue  net_income  operating_income  \
0                 2020  2021-01-01  38374000.0 -20168000.0       -17195000.0
1                 2019  2020-01-01  29373000.0 -37175000.0       -27985000.0
2                 2018  2019-01-01  21220000.0 -20213000.0       -19504000.0
3                 2017  2018-01-01  18167000.0 -30925000.0       -22995000.0
4                 2016         NaN         NaN -31071000.0       -23660000.0
5                 2015         NaN         NaN -43728000.0       -39457000.0
6                 2014         NaN         NaN -51659000.0       -48533000.0
7                 2013         NaN         NaN -31242000.0       -31719000.0
8                 2012         NaN         NaN -38794000.0       -23838000.0
9                 2011         NaN         NaN         NaN       -13124000.0
10                2010         NaN         NaN         NaN               NaN

         asset  current_asset   inventory  current_liability        debt  \
0   81197000.0     34260000.0   6618000.0         24228000.0  11479000.0
1   72717000.0     21716000.0   8149000.0         21085000.0  11847000.0
2   46567000.0     30136000.0   8224000.0         11319000.0  11819000.0
3   36913000.0     19118000.0   9827000.0         22002000.0  24407000.0
4   45983000.0     26875000.0   8482000.0         15249000.0  21083000.0
5   71201000.0     35912000.0   9064000.0         12849000.0  21509000.0
6   77182000.0     54723000.0  12644000.0         31202000.0   9667000.0
7   69918000.0     59751000.0  12717000.0         15530000.0  12280000.0
8   33778000.0     27465000.0   4872000.0         38933000.0   7766000.0
9          NaN            NaN         NaN                NaN         NaN
10         NaN            NaN         NaN                NaN         NaN

                      entity.name  entity.cik    equity    eps
0   Marrone Bio Innovations, Inc.  0001441693  31410000    NaN
1   Marrone Bio Innovations, Inc.  0001441693  23558000    NaN
2     MARRONE BIO INNOVATIONS INC  0001441693  12936000    NaN
3     MARRONE BIO INNOVATIONS INC  0001441693 -50651000    NaN
4     MARRONE BIO INNOVATIONS INC  0001441693 -30184000    NaN
5     MARRONE BIO INNOVATIONS INC  0001441693  -2022000  -1.79
6     MARRONE BIO INNOVATIONS INC  0001441693  33231000  -2.32
7     MARRONE BIO INNOVATIONS INC  0001441693  39031000  -3.74
8     MARRONE BIO INNOVATIONS INC  0001441693 -74247000 -32.48
9     MARRONE BIO INNOVATIONS INC  0001441693 -34100000 -10.64
10    MARRONE BIO INNOVATIONS INC  0001441693 -21204000    NaN   has been saved as csv.
df is here
    period.fiscal-year  period.end     revenue  net_income  operating_income  \
0                 2020  2021-01-01  38374000.0 -20168000.0       -17195000.0
1                 2019  2020-01-01  29373000.0 -37175000.0       -27985000.0
2                 2018  2019-01-01  21220000.0 -20213000.0       -19504000.0
3                 2017  2018-01-01  18167000.0 -30925000.0       -22995000.0
4                 2016         NaN         NaN -31071000.0       -23660000.0
5                 2015         NaN         NaN -43728000.0       -39457000.0
6                 2014         NaN         NaN -51659000.0       -48533000.0
7                 2013         NaN         NaN -31242000.0       -31719000.0
8                 2012         NaN         NaN -38794000.0       -23838000.0
9                 2011         NaN         NaN         NaN       -13124000.0
10                2010         NaN         NaN         NaN               NaN

         asset  current_asset   inventory  current_liability        debt  \
0   81197000.0     34260000.0   6618000.0         24228000.0  11479000.0
1   72717000.0     21716000.0   8149000.0         21085000.0  11847000.0
2   46567000.0     30136000.0   8224000.0         11319000.0  11819000.0
3   36913000.0     19118000.0   9827000.0         22002000.0  24407000.0
4   45983000.0     26875000.0   8482000.0         15249000.0  21083000.0
5   71201000.0     35912000.0   9064000.0         12849000.0  21509000.0
6   77182000.0     54723000.0  12644000.0         31202000.0   9667000.0
7   69918000.0     59751000.0  12717000.0         15530000.0  12280000.0
8   33778000.0     27465000.0   4872000.0         38933000.0   7766000.0
9          NaN            NaN         NaN                NaN         NaN
10         NaN            NaN         NaN                NaN         NaN

                      entity.name  entity.cik    equity    eps
0   Marrone Bio Innovations, Inc.  0001441693  31410000    NaN
1   Marrone Bio Innovations, Inc.  0001441693  23558000    NaN
2     MARRONE BIO INNOVATIONS INC  0001441693  12936000    NaN
3     MARRONE BIO INNOVATIONS INC  0001441693 -50651000    NaN
4     MARRONE BIO INNOVATIONS INC  0001441693 -30184000    NaN
5     MARRONE BIO INNOVATIONS INC  0001441693  -2022000  -1.79
6     MARRONE BIO INNOVATIONS INC  0001441693  33231000  -2.32
7     MARRONE BIO INNOVATIONS INC  0001441693  39031000  -3.74
8     MARRONE BIO INNOVATIONS INC  0001441693 -74247000 -32.48
9     MARRONE BIO INNOVATIONS INC  0001441693 -34100000 -10.64
10    MARRONE BIO INNOVATIONS INC  0001441693 -21204000    NaN
    period.fiscal-year  period.end     revenue  net_income  operating_income  \
0                 2020  2021-01-01  38374000.0 -20168000.0       -17195000.0
1                 2019  2020-01-01  29373000.0 -37175000.0       -27985000.0
2                 2018  2019-01-01  21220000.0 -20213000.0       -19504000.0
3                 2017  2018-01-01  18167000.0 -30925000.0       -22995000.0
4                 2016         NaN         NaN -31071000.0       -23660000.0
5                 2015         NaN         NaN -43728000.0       -39457000.0
6                 2014         NaN         NaN -51659000.0       -48533000.0
7                 2013         NaN         NaN -31242000.0       -31719000.0
8                 2012         NaN         NaN -38794000.0       -23838000.0
9                 2011         NaN         NaN         NaN       -13124000.0
10                2010         NaN         NaN         NaN               NaN

         asset  current_asset   inventory  current_liability        debt  \
0   81197000.0     34260000.0   6618000.0         24228000.0  11479000.0
1   72717000.0     21716000.0   8149000.0         21085000.0  11847000.0
2   46567000.0     30136000.0   8224000.0         11319000.0  11819000.0
3   36913000.0     19118000.0   9827000.0         22002000.0  24407000.0
4   45983000.0     26875000.0   8482000.0         15249000.0  21083000.0
5   71201000.0     35912000.0   9064000.0         12849000.0  21509000.0
6   77182000.0     54723000.0  12644000.0         31202000.0   9667000.0
7   69918000.0     59751000.0  12717000.0         15530000.0  12280000.0
8   33778000.0     27465000.0   4872000.0         38933000.0   7766000.0
9          NaN            NaN         NaN                NaN         NaN
10         NaN            NaN         NaN                NaN         NaN

                      entity.name  entity.cik    equity    eps
0   Marrone Bio Innovations, Inc.  0001441693  31410000    NaN
1   Marrone Bio Innovations, Inc.  0001441693  23558000    NaN
2     MARRONE BIO INNOVATIONS INC  0001441693  12936000    NaN
3     MARRONE BIO INNOVATIONS INC  0001441693 -50651000    NaN
4     MARRONE BIO INNOVATIONS INC  0001441693 -30184000    NaN
5     MARRONE BIO INNOVATIONS INC  0001441693  -2022000  -1.79
6     MARRONE BIO INNOVATIONS INC  0001441693  33231000  -2.32
7     MARRONE BIO INNOVATIONS INC  0001441693  39031000  -3.74
8     MARRONE BIO INNOVATIONS INC  0001441693 -74247000 -32.48
9     MARRONE BIO INNOVATIONS INC  0001441693 -34100000 -10.64
10    MARRONE BIO INNOVATIONS INC  0001441693 -21204000    NaN   has been saved as csv.
current cik is 0000066895, acquire revenue

current cik is 0000066895, acquire net_income
current cik is 0000066895, acquire operating_income
current cik is 0000066895, acquire asset
current cik is 0000066895, acquire current_asset
current cik is 0000066895, acquire inventory
current cik is 0000066895, acquire current_liability
current cik is 0000066895, acquire debt
current cik is 0000066895, acquire equity
current cik is 0000066895, acquire eps
0000066895 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001110783, acquire revenue
current cik is 0001110783, acquire net_income
current cik is 0001110783, acquire operating_income
current cik is 0001110783, acquire asset
current cik is 0001110783, acquire current_asset
current cik is 0001110783, acquire inventory
current cik is 0001110783, acquire current_liability
current cik is 0001110783, acquire debt
current cik is 0001110783, acquire equity
current cik is 0001110783, acquire eps
0001110783 fin data acquire compeleted.
Empty DataFrame
Columns: []
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: [] has been saved as csv.
current cik is 0001324087, acquire revenue
current cik is 0001324087, acquire net_income
current cik is 0001324087, acquire operating_income
current cik is 0001324087, acquire asset
current cik is 0001324087, acquire current_asset
current cik is 0001324087, acquire inventory
current cik is 0001324087, acquire current_liability
current cik is 0001324087, acquire debt
current cik is 0001324087, acquire equity
current cik is 0001324087, acquire eps
0001324087 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001071916, acquire revenue
current cik is 0001071916, acquire net_income
current cik is 0001071916, acquire operating_income
current cik is 0001071916, acquire asset
current cik is 0001071916, acquire current_asset
current cik is 0001071916, acquire inventory
current cik is 0001071916, acquire current_liability
current cik is 0001071916, acquire debt
current cik is 0001071916, acquire equity
current cik is 0001071916, acquire eps
0001071916 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001285785, acquire revenue
current cik is 0001285785, acquire net_income
current cik is 0001285785, acquire operating_income
current cik is 0001285785, acquire asset
current cik is 0001285785, acquire current_asset
current cik is 0001285785, acquire inventory
current cik is 0001285785, acquire current_liability
current cik is 0001285785, acquire debt
current cik is 0001285785, acquire equity
current cik is 0001285785, acquire eps
0001285785 fin data acquire compeleted.
    period.fiscal-year  period.end       revenue    net_income  \
0                 2020  2021-01-01  8.681700e+09  6.661000e+08
1                 2019  2020-01-01  8.906300e+09 -1.067400e+09
2                 2018  2019-01-01  9.587300e+09  4.700000e+08
3                 2017         NaN           NaN -1.072000e+08
4                 2017         NaN           NaN -1.072000e+08
5                 2016         NaN           NaN  2.978000e+08
6                 2015         NaN           NaN  1.000400e+09
7                 2014         NaN           NaN  1.028600e+09
8                 2010         NaN           NaN  8.271000e+08
9                 2009         NaN           NaN  2.350200e+09
10                2013         NaN           NaN           NaN
11                2011         NaN           NaN           NaN

    operating_income         asset  current_asset entity.name  entity.cik  \
0       4.129000e+08  1.978980e+10   3.521200e+09   MOSAIC CO  0001285785
1      -1.094900e+09  1.929850e+10   3.718200e+09   Mosaic Co  0001285785
2       9.283000e+08  2.011920e+10   4.237000e+09   Mosaic Co  0001285785
3       4.657000e+08  1.863340e+10   4.616500e+09   Mosaic Co  0001285785
4       4.657000e+08  1.863340e+10   4.616500e+09   Mosaic Co  0001285785
5       3.190000e+08  1.684070e+10   3.057700e+09   MOSAIC CO  0001285785
6       1.278800e+09  1.738950e+10   4.143400e+09   MOSAIC CO  0001285785
7       1.311800e+09  1.828300e+10   5.215500e+09   MOSAIC CO  0001285785
8       1.270800e+09  1.270770e+10   4.974800e+09   MOSAIC CO  0001285785
9       2.400900e+09           NaN            NaN         NaN         NaN
10               NaN  1.955400e+10   8.105800e+09   MOSAIC CO  0001285785
11               NaN           NaN   6.684900e+09   MOSAIC CO  0001285785

       inventory  current_liability  debt        equity   eps
0   1.739200e+09       3.146500e+09   NaN  9.581400e+09  1.76
1   2.076400e+09       2.591700e+09   NaN  9.185500e+09 -2.78
2   2.270200e+09       2.483700e+09   NaN  1.039730e+10  1.22
3   1.533900e+09       2.031100e+09   NaN  9.617500e+09 -0.31
4   1.547200e+09       2.031100e+09   NaN  9.617500e+09 -0.31
5   1.391100e+09       1.476800e+09   NaN  9.584600e+09  0.85
6   1.563500e+09       2.047000e+09   NaN  9.531800e+09  2.79
7   1.718300e+09       1.596700e+09   NaN  1.070310e+10  2.69
8   1.002300e+09       1.303900e+09   NaN  8.722200e+09  1.86
9            NaN                NaN   NaN           NaN  5.29
10  1.432900e+09       3.265900e+09   NaN  1.130230e+10   NaN
11  1.266400e+09       1.928500e+09   NaN  1.164160e+10   NaN   has been saved as csv.
df is here
    period.fiscal-year  period.end       revenue    net_income  \
0                 2020  2021-01-01  8.681700e+09  6.661000e+08
1                 2019  2020-01-01  8.906300e+09 -1.067400e+09
2                 2018  2019-01-01  9.587300e+09  4.700000e+08
3                 2017         NaN           NaN -1.072000e+08
4                 2017         NaN           NaN -1.072000e+08
5                 2016         NaN           NaN  2.978000e+08
6                 2015         NaN           NaN  1.000400e+09
7                 2014         NaN           NaN  1.028600e+09
8                 2010         NaN           NaN  8.271000e+08
9                 2009         NaN           NaN  2.350200e+09
10                2013         NaN           NaN           NaN
11                2011         NaN           NaN           NaN

    operating_income         asset  current_asset entity.name  entity.cik  \
0       4.129000e+08  1.978980e+10   3.521200e+09   MOSAIC CO  0001285785
1      -1.094900e+09  1.929850e+10   3.718200e+09   Mosaic Co  0001285785
2       9.283000e+08  2.011920e+10   4.237000e+09   Mosaic Co  0001285785
3       4.657000e+08  1.863340e+10   4.616500e+09   Mosaic Co  0001285785
4       4.657000e+08  1.863340e+10   4.616500e+09   Mosaic Co  0001285785
5       3.190000e+08  1.684070e+10   3.057700e+09   MOSAIC CO  0001285785
6       1.278800e+09  1.738950e+10   4.143400e+09   MOSAIC CO  0001285785
7       1.311800e+09  1.828300e+10   5.215500e+09   MOSAIC CO  0001285785
8       1.270800e+09  1.270770e+10   4.974800e+09   MOSAIC CO  0001285785
9       2.400900e+09           NaN            NaN         NaN         NaN
10               NaN  1.955400e+10   8.105800e+09   MOSAIC CO  0001285785
11               NaN           NaN   6.684900e+09   MOSAIC CO  0001285785

       inventory  current_liability  debt        equity   eps
0   1.739200e+09       3.146500e+09   NaN  9.581400e+09  1.76
1   2.076400e+09       2.591700e+09   NaN  9.185500e+09 -2.78
2   2.270200e+09       2.483700e+09   NaN  1.039730e+10  1.22
3   1.533900e+09       2.031100e+09   NaN  9.617500e+09 -0.31
4   1.547200e+09       2.031100e+09   NaN  9.617500e+09 -0.31
5   1.391100e+09       1.476800e+09   NaN  9.584600e+09  0.85
6   1.563500e+09       2.047000e+09   NaN  9.531800e+09  2.79
7   1.718300e+09       1.596700e+09   NaN  1.070310e+10  2.69
8   1.002300e+09       1.303900e+09   NaN  8.722200e+09  1.86
9            NaN                NaN   NaN           NaN  5.29
10  1.432900e+09       3.265900e+09   NaN  1.130230e+10   NaN
11  1.266400e+09       1.928500e+09   NaN  1.164160e+10   NaN
    period.fiscal-year  period.end       revenue    net_income  \
0                 2020  2021-01-01  8.681700e+09  6.661000e+08
1                 2019  2020-01-01  8.906300e+09 -1.067400e+09
2                 2018  2019-01-01  9.587300e+09  4.700000e+08
3                 2017         NaN           NaN -1.072000e+08
4                 2017         NaN           NaN -1.072000e+08
5                 2016         NaN           NaN  2.978000e+08
6                 2015         NaN           NaN  1.000400e+09
7                 2014         NaN           NaN  1.028600e+09
8                 2010         NaN           NaN  8.271000e+08
9                 2009         NaN           NaN  2.350200e+09
10                2013         NaN           NaN           NaN
11                2011         NaN           NaN           NaN

    operating_income         asset  current_asset entity.name  entity.cik  \
0       4.129000e+08  1.978980e+10   3.521200e+09   MOSAIC CO  0001285785
1      -1.094900e+09  1.929850e+10   3.718200e+09   Mosaic Co  0001285785
2       9.283000e+08  2.011920e+10   4.237000e+09   Mosaic Co  0001285785
3       4.657000e+08  1.863340e+10   4.616500e+09   Mosaic Co  0001285785
4       4.657000e+08  1.863340e+10   4.616500e+09   Mosaic Co  0001285785
5       3.190000e+08  1.684070e+10   3.057700e+09   MOSAIC CO  0001285785
6       1.278800e+09  1.738950e+10   4.143400e+09   MOSAIC CO  0001285785
7       1.311800e+09  1.828300e+10   5.215500e+09   MOSAIC CO  0001285785
8       1.270800e+09  1.270770e+10   4.974800e+09   MOSAIC CO  0001285785
9       2.400900e+09           NaN            NaN         NaN         NaN
10               NaN  1.955400e+10   8.105800e+09   MOSAIC CO  0001285785
11               NaN           NaN   6.684900e+09   MOSAIC CO  0001285785

       inventory  current_liability  debt        equity   eps
0   1.739200e+09       3.146500e+09   NaN  9.581400e+09  1.76
1   2.076400e+09       2.591700e+09   NaN  9.185500e+09 -2.78
2   2.270200e+09       2.483700e+09   NaN  1.039730e+10  1.22
3   1.533900e+09       2.031100e+09   NaN  9.617500e+09 -0.31
4   1.547200e+09       2.031100e+09   NaN  9.617500e+09 -0.31
5   1.391100e+09       1.476800e+09   NaN  9.584600e+09  0.85
6   1.563500e+09       2.047000e+09   NaN  9.531800e+09  2.79
7   1.718300e+09       1.596700e+09   NaN  1.070310e+10  2.69
8   1.002300e+09       1.303900e+09   NaN  8.722200e+09  1.86
9            NaN                NaN   NaN           NaN  5.29
10  1.432900e+09       3.265900e+09   NaN  1.130230e+10   NaN
11  1.266400e+09       1.928500e+09   NaN  1.164160e+10   NaN   has been saved as csv.
current cik is 0000820626, acquire revenue

current cik is 0000820626, acquire net_income
current cik is 0000820626, acquire operating_income
current cik is 0000820626, acquire asset
current cik is 0000820626, acquire current_asset
current cik is 0000820626, acquire inventory
current cik is 0000820626, acquire current_liability
current cik is 0000820626, acquire debt
current cik is 0000820626, acquire equity
current cik is 0000820626, acquire eps
0000820626 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001160701, acquire revenue
current cik is 0001160701, acquire net_income
current cik is 0001160701, acquire operating_income
current cik is 0001160701, acquire asset
current cik is 0001160701, acquire current_asset
current cik is 0001160701, acquire inventory
current cik is 0001160701, acquire current_liability
current cik is 0001160701, acquire debt
current cik is 0001160701, acquire equity
current cik is 0001160701, acquire eps
0001160701 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0000070083, acquire revenue
current cik is 0000070083, acquire net_income
current cik is 0000070083, acquire operating_income
current cik is 0000070083, acquire asset
current cik is 0000070083, acquire current_asset
current cik is 0000070083, acquire inventory
current cik is 0000070083, acquire current_liability
current cik is 0000070083, acquire debt
current cik is 0000070083, acquire equity
current cik is 0000070083, acquire eps
0000070083 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0000832975, acquire revenue
current cik is 0000832975, acquire net_income
current cik is 0000832975, acquire operating_income
current cik is 0000832975, acquire asset
current cik is 0000832975, acquire current_asset
current cik is 0000832975, acquire inventory
current cik is 0000832975, acquire current_liability
current cik is 0000832975, acquire debt
current cik is 0000832975, acquire equity
current cik is 0000832975, acquire eps
0000832975 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001046338, acquire revenue
current cik is 0001046338, acquire net_income
current cik is 0001046338, acquire operating_income
current cik is 0001046338, acquire asset
current cik is 0001046338, acquire current_asset
current cik is 0001046338, acquire inventory
current cik is 0001046338, acquire current_liability
current cik is 0001046338, acquire debt
current cik is 0001046338, acquire equity
current cik is 0001046338, acquire eps
0001046338 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0000840759, acquire revenue
current cik is 0000840759, acquire net_income
current cik is 0000840759, acquire operating_income
current cik is 0000840759, acquire asset
current cik is 0000840759, acquire current_asset
current cik is 0000840759, acquire inventory
current cik is 0000840759, acquire current_liability
current cik is 0000840759, acquire debt
current cik is 0000840759, acquire equity
current cik is 0000840759, acquire eps
0000840759 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001517248, acquire revenue
current cik is 0001517248, acquire net_income
current cik is 0001517248, acquire operating_income
current cik is 0001517248, acquire asset
current cik is 0001517248, acquire current_asset
current cik is 0001517248, acquire inventory
current cik is 0001517248, acquire current_liability
current cik is 0001517248, acquire debt
current cik is 0001517248, acquire equity
current cik is 0001517248, acquire eps
0001517248 fin data acquire compeleted.
Empty DataFrame
Columns: [operating_income, debt]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [operating_income, debt]
Index: []
Empty DataFrame
Columns: [operating_income, debt]
Index: [] has been saved as csv.
current cik is 0000793421, acquire revenue
current cik is 0000793421, acquire net_income
current cik is 0000793421, acquire operating_income
current cik is 0000793421, acquire asset
current cik is 0000793421, acquire current_asset
current cik is 0000793421, acquire inventory
current cik is 0000793421, acquire current_liability
current cik is 0000793421, acquire debt
current cik is 0000793421, acquire equity
current cik is 0000793421, acquire eps
0000793421 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001444754, acquire revenue
current cik is 0001444754, acquire net_income
current cik is 0001444754, acquire operating_income
current cik is 0001444754, acquire asset
current cik is 0001444754, acquire current_asset
current cik is 0001444754, acquire inventory
current cik is 0001444754, acquire current_liability
current cik is 0001444754, acquire debt
current cik is 0001444754, acquire equity
current cik is 0001444754, acquire eps
0001444754 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001663453, acquire revenue

current cik is 0001663453, acquire net_income
current cik is 0001663453, acquire operating_income
current cik is 0001663453, acquire asset
current cik is 0001663453, acquire current_asset
current cik is 0001663453, acquire inventory
current cik is 0001663453, acquire current_liability
current cik is 0001663453, acquire debt
current cik is 0001663453, acquire equity
current cik is 0001663453, acquire eps
0001663453 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001162144, acquire revenue
current cik is 0001162144, acquire net_income
current cik is 0001162144, acquire operating_income
current cik is 0001162144, acquire asset
current cik is 0001162144, acquire current_asset
current cik is 0001162144, acquire inventory
current cik is 0001162144, acquire current_liability
current cik is 0001162144, acquire debt
current cik is 0001162144, acquire equity
current cik is 0001162144, acquire eps
0001162144 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001575858, acquire revenue
current cik is 0001575858, acquire net_income
current cik is 0001575858, acquire operating_income
current cik is 0001575858, acquire asset
current cik is 0001575858, acquire current_asset
current cik is 0001575858, acquire inventory
current cik is 0001575858, acquire current_liability
current cik is 0001575858, acquire debt
current cik is 0001575858, acquire equity
current cik is 0001575858, acquire eps
0001575858 fin data acquire compeleted.
    period.fiscal-year  period.end   revenue  net_income  operating_income  \
0                 2020  2020-12-01  169410.0    -1505157        -1535343.0
1                 2019  2019-12-01  361930.0    -3133423        -1349980.0
2                 2018  2018-12-01  564296.0    -1164463        -1095534.0
3                 2017         NaN       NaN    -1629562        -2142167.0
4                 2016         NaN       NaN    -2701166               NaN
5                 2015         NaN       NaN    -1412336               NaN
6                 2014         NaN       NaN     -856783               NaN
7                 2013         NaN       NaN      -38900               NaN
8                 2013         NaN       NaN      -38900               NaN
9                 2013         NaN       NaN      -38900               NaN
10                2013         NaN       NaN      -38900               NaN
11                2013         NaN       NaN      -38900               NaN
12                2013         NaN       NaN      -38900               NaN
13                2013         NaN       NaN      -38900               NaN
14                2013         NaN       NaN      -38900               NaN
15                2013         NaN       NaN     -427276               NaN
16                2013         NaN       NaN     -427276               NaN
17                2013         NaN       NaN     -427276               NaN
18                2013         NaN       NaN     -427276               NaN
19                2013         NaN       NaN     -427276               NaN
20                2013         NaN       NaN     -427276               NaN
21                2013         NaN       NaN     -427276               NaN
22                2013         NaN       NaN     -427276               NaN
23                2012         NaN       NaN       -2900               NaN

                 entity.name  entity.cik   asset  current_asset  inventory  \
0              PureBase Corp  0001575858  635340          15340        NaN
1              PureBase Corp  0001575858  231188          30416        NaN
2              PureBase Corp  0001575858  227378          24290        NaN
3              PureBase Corp  0001575858  286103          73009        NaN
4              PureBase Corp  0001575858  947462         652727        NaN
5              PureBase Corp  0001575858  403938          97163        NaN
6              PureBase Corp  0001575858  513978         270158        NaN
7   Port of Call Online Inc.  0001575858    1700            400        NaN
8   Port of Call Online Inc.  0001575858    1700            400        NaN
9   Port of Call Online Inc.  0001575858    1700            400        NaN
10  Port of Call Online Inc.  0001575858    1700            400        NaN
11             PureBase Corp  0001575858  255863            400        NaN
12             PureBase Corp  0001575858  255863            400        NaN
13             PureBase Corp  0001575858  255863            400        NaN
14             PureBase Corp  0001575858  255863            400        NaN
15  Port of Call Online Inc.  0001575858    1700            400        NaN
16  Port of Call Online Inc.  0001575858    1700            400        NaN
17  Port of Call Online Inc.  0001575858    1700            400        NaN
18  Port of Call Online Inc.  0001575858    1700            400        NaN
19             PureBase Corp  0001575858  255863            400        NaN
20             PureBase Corp  0001575858  255863            400        NaN
21             PureBase Corp  0001575858  255863            400        NaN
22             PureBase Corp  0001575858  255863            400        NaN
23  Port of Call Online Inc.  0001575858   39500          39500        NaN

    current_liability  debt   equity  eps
0           1808014.0   NaN -1301674  NaN
1            976821.0   NaN  -745633  NaN
2           5220989.0   NaN -4993611  NaN
3           4318665.0   NaN -4032562  NaN
4           3762542.0   NaN -2787907  NaN
5           1388009.0   NaN  -984071  NaN
6            307053.0   NaN  -793075  NaN
7              1100.0   NaN      600  NaN
8              1100.0   NaN  -427276  NaN
9              3355.0   NaN      600  NaN
10             3355.0   NaN  -427276  NaN
11             1100.0   NaN      600  NaN
12             1100.0   NaN  -427276  NaN
13             3355.0   NaN      600  NaN
14             3355.0   NaN  -427276  NaN
15             1100.0   NaN      600  NaN
16             1100.0   NaN  -427276  NaN
17             3355.0   NaN      600  NaN
18             3355.0   NaN  -427276  NaN
19             1100.0   NaN      600  NaN
20             1100.0   NaN  -427276  NaN
21             3355.0   NaN      600  NaN
22             3355.0   NaN  -427276  NaN
23                NaN   NaN    39500  NaN   has been saved as csv.
df is here
    period.fiscal-year  period.end   revenue  net_income  operating_income  \
0                 2020  2020-12-01  169410.0    -1505157        -1535343.0
1                 2019  2019-12-01  361930.0    -3133423        -1349980.0
2                 2018  2018-12-01  564296.0    -1164463        -1095534.0
3                 2017         NaN       NaN    -1629562        -2142167.0
4                 2016         NaN       NaN    -2701166               NaN
5                 2015         NaN       NaN    -1412336               NaN
6                 2014         NaN       NaN     -856783               NaN
7                 2013         NaN       NaN      -38900               NaN
8                 2013         NaN       NaN      -38900               NaN
9                 2013         NaN       NaN      -38900               NaN
10                2013         NaN       NaN      -38900               NaN
11                2013         NaN       NaN      -38900               NaN
12                2013         NaN       NaN      -38900               NaN
13                2013         NaN       NaN      -38900               NaN
14                2013         NaN       NaN      -38900               NaN
15                2013         NaN       NaN     -427276               NaN
16                2013         NaN       NaN     -427276               NaN
17                2013         NaN       NaN     -427276               NaN
18                2013         NaN       NaN     -427276               NaN
19                2013         NaN       NaN     -427276               NaN
20                2013         NaN       NaN     -427276               NaN
21                2013         NaN       NaN     -427276               NaN
22                2013         NaN       NaN     -427276               NaN
23                2012         NaN       NaN       -2900               NaN

                 entity.name  entity.cik   asset  current_asset  inventory  \
0              PureBase Corp  0001575858  635340          15340        NaN
1              PureBase Corp  0001575858  231188          30416        NaN
2              PureBase Corp  0001575858  227378          24290        NaN
3              PureBase Corp  0001575858  286103          73009        NaN
4              PureBase Corp  0001575858  947462         652727        NaN
5              PureBase Corp  0001575858  403938          97163        NaN
6              PureBase Corp  0001575858  513978         270158        NaN
7   Port of Call Online Inc.  0001575858    1700            400        NaN
8   Port of Call Online Inc.  0001575858    1700            400        NaN
9   Port of Call Online Inc.  0001575858    1700            400        NaN
10  Port of Call Online Inc.  0001575858    1700            400        NaN
11             PureBase Corp  0001575858  255863            400        NaN
12             PureBase Corp  0001575858  255863            400        NaN
13             PureBase Corp  0001575858  255863            400        NaN
14             PureBase Corp  0001575858  255863            400        NaN
15  Port of Call Online Inc.  0001575858    1700            400        NaN
16  Port of Call Online Inc.  0001575858    1700            400        NaN
17  Port of Call Online Inc.  0001575858    1700            400        NaN
18  Port of Call Online Inc.  0001575858    1700            400        NaN
19             PureBase Corp  0001575858  255863            400        NaN
20             PureBase Corp  0001575858  255863            400        NaN
21             PureBase Corp  0001575858  255863            400        NaN
22             PureBase Corp  0001575858  255863            400        NaN
23  Port of Call Online Inc.  0001575858   39500          39500        NaN

    current_liability  debt   equity  eps
0           1808014.0   NaN -1301674  NaN
1            976821.0   NaN  -745633  NaN
2           5220989.0   NaN -4993611  NaN
3           4318665.0   NaN -4032562  NaN
4           3762542.0   NaN -2787907  NaN
5           1388009.0   NaN  -984071  NaN
6            307053.0   NaN  -793075  NaN
7              1100.0   NaN      600  NaN
8              1100.0   NaN  -427276  NaN
9              3355.0   NaN      600  NaN
10             3355.0   NaN  -427276  NaN
11             1100.0   NaN      600  NaN
12             1100.0   NaN  -427276  NaN
13             3355.0   NaN      600  NaN
14             3355.0   NaN  -427276  NaN
15             1100.0   NaN      600  NaN
16             1100.0   NaN  -427276  NaN
17             3355.0   NaN      600  NaN
18             3355.0   NaN  -427276  NaN
19             1100.0   NaN      600  NaN
20             1100.0   NaN  -427276  NaN
21             3355.0   NaN      600  NaN
22             3355.0   NaN  -427276  NaN
23                NaN   NaN    39500  NaN
    period.fiscal-year  period.end   revenue  net_income  operating_income  \
0                 2020  2020-12-01  169410.0    -1505157        -1535343.0
1                 2019  2019-12-01  361930.0    -3133423        -1349980.0
2                 2018  2018-12-01  564296.0    -1164463        -1095534.0
3                 2017         NaN       NaN    -1629562        -2142167.0
4                 2016         NaN       NaN    -2701166               NaN
5                 2015         NaN       NaN    -1412336               NaN
6                 2014         NaN       NaN     -856783               NaN
7                 2013         NaN       NaN      -38900               NaN
8                 2013         NaN       NaN      -38900               NaN
9                 2013         NaN       NaN      -38900               NaN
10                2013         NaN       NaN      -38900               NaN
11                2013         NaN       NaN      -38900               NaN
12                2013         NaN       NaN      -38900               NaN
13                2013         NaN       NaN      -38900               NaN
14                2013         NaN       NaN      -38900               NaN
15                2013         NaN       NaN     -427276               NaN
16                2013         NaN       NaN     -427276               NaN
17                2013         NaN       NaN     -427276               NaN
18                2013         NaN       NaN     -427276               NaN
19                2013         NaN       NaN     -427276               NaN
20                2013         NaN       NaN     -427276               NaN
21                2013         NaN       NaN     -427276               NaN
22                2013         NaN       NaN     -427276               NaN
23                2012         NaN       NaN       -2900               NaN

                 entity.name  entity.cik   asset  current_asset  inventory  \
0              PureBase Corp  0001575858  635340          15340        NaN
1              PureBase Corp  0001575858  231188          30416        NaN
2              PureBase Corp  0001575858  227378          24290        NaN
3              PureBase Corp  0001575858  286103          73009        NaN
4              PureBase Corp  0001575858  947462         652727        NaN
5              PureBase Corp  0001575858  403938          97163        NaN
6              PureBase Corp  0001575858  513978         270158        NaN
7   Port of Call Online Inc.  0001575858    1700            400        NaN
8   Port of Call Online Inc.  0001575858    1700            400        NaN
9   Port of Call Online Inc.  0001575858    1700            400        NaN
10  Port of Call Online Inc.  0001575858    1700            400        NaN
11             PureBase Corp  0001575858  255863            400        NaN
12             PureBase Corp  0001575858  255863            400        NaN
13             PureBase Corp  0001575858  255863            400        NaN
14             PureBase Corp  0001575858  255863            400        NaN
15  Port of Call Online Inc.  0001575858    1700            400        NaN
16  Port of Call Online Inc.  0001575858    1700            400        NaN
17  Port of Call Online Inc.  0001575858    1700            400        NaN
18  Port of Call Online Inc.  0001575858    1700            400        NaN
19             PureBase Corp  0001575858  255863            400        NaN
20             PureBase Corp  0001575858  255863            400        NaN
21             PureBase Corp  0001575858  255863            400        NaN
22             PureBase Corp  0001575858  255863            400        NaN
23  Port of Call Online Inc.  0001575858   39500          39500        NaN

    current_liability  debt   equity  eps
0           1808014.0   NaN -1301674  NaN
1            976821.0   NaN  -745633  NaN
2           5220989.0   NaN -4993611  NaN
3           4318665.0   NaN -4032562  NaN
4           3762542.0   NaN -2787907  NaN
5           1388009.0   NaN  -984071  NaN
6            307053.0   NaN  -793075  NaN
7              1100.0   NaN      600  NaN
8              1100.0   NaN  -427276  NaN
9              3355.0   NaN      600  NaN
10             3355.0   NaN  -427276  NaN
11             1100.0   NaN      600  NaN
12             1100.0   NaN  -427276  NaN
13             3355.0   NaN      600  NaN
14             3355.0   NaN  -427276  NaN
15             1100.0   NaN      600  NaN
16             1100.0   NaN  -427276  NaN
17             3355.0   NaN      600  NaN
18             3355.0   NaN  -427276  NaN
19             1100.0   NaN      600  NaN
20             1100.0   NaN  -427276  NaN
21             3355.0   NaN      600  NaN
22             3355.0   NaN  -427276  NaN
23                NaN   NaN    39500  NaN   has been saved as csv.
current cik is 0000868725, acquire revenue

current cik is 0000868725, acquire net_income
current cik is 0000868725, acquire operating_income
current cik is 0000868725, acquire asset
current cik is 0000868725, acquire current_asset
current cik is 0000868725, acquire inventory
current cik is 0000868725, acquire current_liability
current cik is 0000868725, acquire debt
current cik is 0000868725, acquire equity
current cik is 0000868725, acquire eps
0000868725 fin data acquire compeleted.
Empty DataFrame
Columns: []
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: [] has been saved as csv.
current cik is 0001789192, acquire revenue
current cik is 0001789192, acquire net_income
current cik is 0001789192, acquire operating_income
current cik is 0001789192, acquire asset
current cik is 0001789192, acquire current_asset
current cik is 0001789192, acquire inventory
current cik is 0001789192, acquire current_liability
current cik is 0001789192, acquire debt
current cik is 0001789192, acquire equity
current cik is 0001789192, acquire eps
0001789192 fin data acquire compeleted.
   period.fiscal-year  period.end  revenue  net_income  operating_income  \
0                2020  2021-01-01   232274    -1593139          -1349345
1                2019  2020-01-01   175823    -1971417          -1931305
2                2018  2019-01-01   426591     -356893           -518659

    asset  current_asset  inventory  current_liability   debt  \
0  687649         495171      16356             785233   8115
1  664670         424614      16302             623826  14955
2  859211         676680      38085             483698  37926

         entity.name  entity.cik  equity  eps
0  SAVE\nFOODS, INC.  0001789192 -436176  NaN
1    Save Foods Inc.  0001789192 -381066  NaN
2    Save Foods Inc.  0001789192  218227  NaN   has been saved as csv.
df is here
   period.fiscal-year  period.end  revenue  net_income  operating_income  \
0                2020  2021-01-01   232274    -1593139          -1349345
1                2019  2020-01-01   175823    -1971417          -1931305
2                2018  2019-01-01   426591     -356893           -518659

    asset  current_asset  inventory  current_liability   debt  \
0  687649         495171      16356             785233   8115
1  664670         424614      16302             623826  14955
2  859211         676680      38085             483698  37926

         entity.name  entity.cik  equity  eps
0  SAVE\nFOODS, INC.  0001789192 -436176  NaN
1    Save Foods Inc.  0001789192 -381066  NaN
2    Save Foods Inc.  0001789192  218227  NaN
   period.fiscal-year  period.end  revenue  net_income  operating_income  \
0                2020  2021-01-01   232274    -1593139          -1349345
1                2019  2020-01-01   175823    -1971417          -1931305
2                2018  2019-01-01   426591     -356893           -518659

    asset  current_asset  inventory  current_liability   debt  \
0  687649         495171      16356             785233   8115
1  664670         424614      16302             623826  14955
2  859211         676680      38085             483698  37926

         entity.name  entity.cik  equity  eps
0  SAVE\nFOODS, INC.  0001789192 -436176  NaN
1    Save Foods Inc.  0001789192 -381066  NaN
2    Save Foods Inc.  0001789192  218227  NaN   has been saved as csv.
current cik is 0000825542, acquire revenue
current cik is 0000825542, acquire net_income
current cik is 0000825542, acquire operating_income
current cik is 0000825542, acquire asset
current cik is 0000825542, acquire current_asset
current cik is 0000825542, acquire inventory
current cik is 0000825542, acquire current_liability
current cik is 0000825542, acquire debt
current cik is 0000825542, acquire equity
current cik is 0000825542, acquire eps
0000825542 fin data acquire compeleted.
    period.fiscal-year  period.end       revenue   net_income  \
0                 2020  2020-10-01  4.131600e+09  387400000.0
1                 2019  2019-10-01  3.156000e+09  460700000.0
2                 2018  2018-10-01  2.663400e+09   63700000.0
3                 2017  2017-10-01  2.642100e+09  218300000.0
4                 2016  2016-10-01  2.506200e+09  315300000.0
5                 2015         NaN           NaN  159800000.0
6                 2014         NaN           NaN  166500000.0
7                 2013         NaN           NaN  161100000.0
8                 2012         NaN           NaN  106500000.0
9                 2011         NaN           NaN  167900000.0
10                2011         NaN           NaN  167900000.0
11                2011         NaN           NaN  167900000.0
12                2011         NaN           NaN  167900000.0
13                2011         NaN           NaN  167900000.0
14                2011         NaN           NaN  167900000.0
15                2011         NaN           NaN  167900000.0
16                2011         NaN           NaN  167900000.0
17                2010         NaN           NaN  204100000.0
18                2009         NaN           NaN  153300000.0
19                2008         NaN           NaN  -10900000.0
20                2007         NaN           NaN          NaN

              entity.name  entity.cik  operating_income         asset  \
0   Scotts Miracle-Gro Co  0000825542       585200000.0  3.380500e+09
1   Scotts Miracle-Gro Co  0000825542       409600000.0  3.028700e+09
2   Scotts Miracle-Gro Co  0000825542       198900000.0  3.054500e+09
3   Scotts Miracle-Gro Co  0000825542       433400000.0  2.747000e+09
4   SCOTTS MIRACLE-GRO CO  0000825542       447600000.0  2.755800e+09
5   SCOTTS MIRACLE-GRO CO  0000825542       253800000.0  2.527200e+09
6   SCOTTS MIRACLE-GRO CO  0000825542       283700000.0  2.058300e+09
7   SCOTTS MIRACLE-GRO CO  0000825542       310500000.0  1.937200e+09
8   SCOTTS MIRACLE-GRO CO  0000825542       241200000.0  2.074400e+09
9   SCOTTS MIRACLE-GRO CO  0000825542       274800000.0  2.052200e+09
10  SCOTTS MIRACLE-GRO CO  0000825542       274800000.0  2.052200e+09
11  SCOTTS MIRACLE-GRO CO  0000825542       274800000.0  2.052200e+09
12  SCOTTS MIRACLE-GRO CO  0000825542       274800000.0  2.052200e+09
13  SCOTTS MIRACLE-GRO CO  0000825542       274800000.0  2.052200e+09
14  SCOTTS MIRACLE-GRO CO  0000825542       274800000.0  2.052200e+09
15  SCOTTS MIRACLE-GRO CO  0000825542       274800000.0  2.052200e+09
16  SCOTTS MIRACLE-GRO CO  0000825542       274800000.0  2.052200e+09
17  SCOTTS MIRACLE-GRO CO  0000825542       374400000.0  2.164000e+09
18  SCOTTS MIRACLE-GRO CO  0000825542       260500000.0  2.220100e+09
19  SCOTTS MIRACLE-GRO CO  0000825542       139800000.0           NaN
20                    NaN         NaN               NaN           NaN

    current_asset    inventory  current_liability          debt     equity  \
0    1.216600e+09  621900000.0        950400000.0  1.455100e+09  697200000
1    1.041700e+09  540300000.0        620500000.0  1.523500e+09  718700000
2    8.857000e+08  481400000.0        612700000.0  1.883800e+09  354600000
3    8.817000e+08  407500000.0        544500000.0  1.258000e+09  648800000
4    1.032900e+09  394700000.0        707100000.0  1.030900e+09  715200000
5    1.119200e+09  395800000.0        618600000.0  1.025000e+09  620700000
6    9.350000e+08  385100000.0        544700000.0  6.924000e+08  553700000
7    8.810000e+08  324900000.0        509800000.0  4.781000e+08  710500000
8    1.000000e+09  414900000.0        433600000.0  7.811000e+08  601900000
9    9.925000e+08  387000000.0        468600000.0  7.918000e+08  559800000
10   9.925000e+08  387000000.0        468600000.0  7.918000e+08  559800000
11   9.925000e+08  387000000.0        468600000.0  7.918000e+08  559800000
12   9.925000e+08  387000000.0        468600000.0  7.918000e+08  559800000
13   9.925000e+08  387000000.0        468600000.0  7.918000e+08  559800000
14   9.925000e+08  387000000.0        468600000.0  7.918000e+08  559800000
15   9.925000e+08  387000000.0        468600000.0  7.918000e+08  559800000
16   9.925000e+08  387000000.0        468600000.0  7.918000e+08  559800000
17   1.118100e+09  352900000.0        736800000.0  4.367000e+08  764500000
18   1.090900e+09  458900000.0        756800000.0           NaN  584500000
19            NaN          NaN                NaN           NaN  436700000
20            NaN          NaN                NaN           NaN  479300000

     eps
0   6.96
1   8.30
2   1.13
3   3.68
4   5.16
5   2.62
6   2.70
7   2.61
8   1.75
9   2.60
10  2.60
11  2.60
12  2.60
13  2.60
14  2.60
15  2.60
16  2.60
17  3.08
18  2.36
19 -0.17
20   NaN   has been saved as csv.
df is here
    period.fiscal-year  period.end       revenue   net_income  \
0                 2020  2020-10-01  4.131600e+09  387400000.0
1                 2019  2019-10-01  3.156000e+09  460700000.0
2                 2018  2018-10-01  2.663400e+09   63700000.0
3                 2017  2017-10-01  2.642100e+09  218300000.0
4                 2016  2016-10-01  2.506200e+09  315300000.0
5                 2015         NaN           NaN  159800000.0
6                 2014         NaN           NaN  166500000.0
7                 2013         NaN           NaN  161100000.0
8                 2012         NaN           NaN  106500000.0
9                 2011         NaN           NaN  167900000.0
10                2011         NaN           NaN  167900000.0
11                2011         NaN           NaN  167900000.0
12                2011         NaN           NaN  167900000.0
13                2011         NaN           NaN  167900000.0
14                2011         NaN           NaN  167900000.0
15                2011         NaN           NaN  167900000.0
16                2011         NaN           NaN  167900000.0
17                2010         NaN           NaN  204100000.0
18                2009         NaN           NaN  153300000.0
19                2008         NaN           NaN  -10900000.0
20                2007         NaN           NaN          NaN

              entity.name  entity.cik  operating_income         asset  \
0   Scotts Miracle-Gro Co  0000825542       585200000.0  3.380500e+09
1   Scotts Miracle-Gro Co  0000825542       409600000.0  3.028700e+09
2   Scotts Miracle-Gro Co  0000825542       198900000.0  3.054500e+09
3   Scotts Miracle-Gro Co  0000825542       433400000.0  2.747000e+09
4   SCOTTS MIRACLE-GRO CO  0000825542       447600000.0  2.755800e+09
5   SCOTTS MIRACLE-GRO CO  0000825542       253800000.0  2.527200e+09
6   SCOTTS MIRACLE-GRO CO  0000825542       283700000.0  2.058300e+09
7   SCOTTS MIRACLE-GRO CO  0000825542       310500000.0  1.937200e+09
8   SCOTTS MIRACLE-GRO CO  0000825542       241200000.0  2.074400e+09
9   SCOTTS MIRACLE-GRO CO  0000825542       274800000.0  2.052200e+09
10  SCOTTS MIRACLE-GRO CO  0000825542       274800000.0  2.052200e+09
11  SCOTTS MIRACLE-GRO CO  0000825542       274800000.0  2.052200e+09
12  SCOTTS MIRACLE-GRO CO  0000825542       274800000.0  2.052200e+09
13  SCOTTS MIRACLE-GRO CO  0000825542       274800000.0  2.052200e+09
14  SCOTTS MIRACLE-GRO CO  0000825542       274800000.0  2.052200e+09
15  SCOTTS MIRACLE-GRO CO  0000825542       274800000.0  2.052200e+09
16  SCOTTS MIRACLE-GRO CO  0000825542       274800000.0  2.052200e+09
17  SCOTTS MIRACLE-GRO CO  0000825542       374400000.0  2.164000e+09
18  SCOTTS MIRACLE-GRO CO  0000825542       260500000.0  2.220100e+09
19  SCOTTS MIRACLE-GRO CO  0000825542       139800000.0           NaN
20                    NaN         NaN               NaN           NaN

    current_asset    inventory  current_liability          debt     equity  \
0    1.216600e+09  621900000.0        950400000.0  1.455100e+09  697200000
1    1.041700e+09  540300000.0        620500000.0  1.523500e+09  718700000
2    8.857000e+08  481400000.0        612700000.0  1.883800e+09  354600000
3    8.817000e+08  407500000.0        544500000.0  1.258000e+09  648800000
4    1.032900e+09  394700000.0        707100000.0  1.030900e+09  715200000
5    1.119200e+09  395800000.0        618600000.0  1.025000e+09  620700000
6    9.350000e+08  385100000.0        544700000.0  6.924000e+08  553700000
7    8.810000e+08  324900000.0        509800000.0  4.781000e+08  710500000
8    1.000000e+09  414900000.0        433600000.0  7.811000e+08  601900000
9    9.925000e+08  387000000.0        468600000.0  7.918000e+08  559800000
10   9.925000e+08  387000000.0        468600000.0  7.918000e+08  559800000
11   9.925000e+08  387000000.0        468600000.0  7.918000e+08  559800000
12   9.925000e+08  387000000.0        468600000.0  7.918000e+08  559800000
13   9.925000e+08  387000000.0        468600000.0  7.918000e+08  559800000
14   9.925000e+08  387000000.0        468600000.0  7.918000e+08  559800000
15   9.925000e+08  387000000.0        468600000.0  7.918000e+08  559800000
16   9.925000e+08  387000000.0        468600000.0  7.918000e+08  559800000
17   1.118100e+09  352900000.0        736800000.0  4.367000e+08  764500000
18   1.090900e+09  458900000.0        756800000.0           NaN  584500000
19            NaN          NaN                NaN           NaN  436700000
20            NaN          NaN                NaN           NaN  479300000

     eps
0   6.96
1   8.30
2   1.13
3   3.68
4   5.16
5   2.62
6   2.70
7   2.61
8   1.75
9   2.60
10  2.60
11  2.60
12  2.60
13  2.60
14  2.60
15  2.60
16  2.60
17  3.08
18  2.36
19 -0.17
20   NaN
    period.fiscal-year  period.end       revenue   net_income  \
0                 2020  2020-10-01  4.131600e+09  387400000.0
1                 2019  2019-10-01  3.156000e+09  460700000.0
2                 2018  2018-10-01  2.663400e+09   63700000.0
3                 2017  2017-10-01  2.642100e+09  218300000.0
4                 2016  2016-10-01  2.506200e+09  315300000.0
5                 2015         NaN           NaN  159800000.0
6                 2014         NaN           NaN  166500000.0
7                 2013         NaN           NaN  161100000.0
8                 2012         NaN           NaN  106500000.0
9                 2011         NaN           NaN  167900000.0
10                2011         NaN           NaN  167900000.0
11                2011         NaN           NaN  167900000.0
12                2011         NaN           NaN  167900000.0
13                2011         NaN           NaN  167900000.0
14                2011         NaN           NaN  167900000.0
15                2011         NaN           NaN  167900000.0
16                2011         NaN           NaN  167900000.0
17                2010         NaN           NaN  204100000.0
18                2009         NaN           NaN  153300000.0
19                2008         NaN           NaN  -10900000.0
20                2007         NaN           NaN          NaN

              entity.name  entity.cik  operating_income         asset  \
0   Scotts Miracle-Gro Co  0000825542       585200000.0  3.380500e+09
1   Scotts Miracle-Gro Co  0000825542       409600000.0  3.028700e+09
2   Scotts Miracle-Gro Co  0000825542       198900000.0  3.054500e+09
3   Scotts Miracle-Gro Co  0000825542       433400000.0  2.747000e+09
4   SCOTTS MIRACLE-GRO CO  0000825542       447600000.0  2.755800e+09
5   SCOTTS MIRACLE-GRO CO  0000825542       253800000.0  2.527200e+09
6   SCOTTS MIRACLE-GRO CO  0000825542       283700000.0  2.058300e+09
7   SCOTTS MIRACLE-GRO CO  0000825542       310500000.0  1.937200e+09
8   SCOTTS MIRACLE-GRO CO  0000825542       241200000.0  2.074400e+09
9   SCOTTS MIRACLE-GRO CO  0000825542       274800000.0  2.052200e+09
10  SCOTTS MIRACLE-GRO CO  0000825542       274800000.0  2.052200e+09
11  SCOTTS MIRACLE-GRO CO  0000825542       274800000.0  2.052200e+09
12  SCOTTS MIRACLE-GRO CO  0000825542       274800000.0  2.052200e+09
13  SCOTTS MIRACLE-GRO CO  0000825542       274800000.0  2.052200e+09
14  SCOTTS MIRACLE-GRO CO  0000825542       274800000.0  2.052200e+09
15  SCOTTS MIRACLE-GRO CO  0000825542       274800000.0  2.052200e+09
16  SCOTTS MIRACLE-GRO CO  0000825542       274800000.0  2.052200e+09
17  SCOTTS MIRACLE-GRO CO  0000825542       374400000.0  2.164000e+09
18  SCOTTS MIRACLE-GRO CO  0000825542       260500000.0  2.220100e+09
19  SCOTTS MIRACLE-GRO CO  0000825542       139800000.0           NaN
20                    NaN         NaN               NaN           NaN

    current_asset    inventory  current_liability          debt     equity  \
0    1.216600e+09  621900000.0        950400000.0  1.455100e+09  697200000
1    1.041700e+09  540300000.0        620500000.0  1.523500e+09  718700000
2    8.857000e+08  481400000.0        612700000.0  1.883800e+09  354600000
3    8.817000e+08  407500000.0        544500000.0  1.258000e+09  648800000
4    1.032900e+09  394700000.0        707100000.0  1.030900e+09  715200000
5    1.119200e+09  395800000.0        618600000.0  1.025000e+09  620700000
6    9.350000e+08  385100000.0        544700000.0  6.924000e+08  553700000
7    8.810000e+08  324900000.0        509800000.0  4.781000e+08  710500000
8    1.000000e+09  414900000.0        433600000.0  7.811000e+08  601900000
9    9.925000e+08  387000000.0        468600000.0  7.918000e+08  559800000
10   9.925000e+08  387000000.0        468600000.0  7.918000e+08  559800000
11   9.925000e+08  387000000.0        468600000.0  7.918000e+08  559800000
12   9.925000e+08  387000000.0        468600000.0  7.918000e+08  559800000
13   9.925000e+08  387000000.0        468600000.0  7.918000e+08  559800000
14   9.925000e+08  387000000.0        468600000.0  7.918000e+08  559800000
15   9.925000e+08  387000000.0        468600000.0  7.918000e+08  559800000
16   9.925000e+08  387000000.0        468600000.0  7.918000e+08  559800000
17   1.118100e+09  352900000.0        736800000.0  4.367000e+08  764500000
18   1.090900e+09  458900000.0        756800000.0           NaN  584500000
19            NaN          NaN                NaN           NaN  436700000
20            NaN          NaN                NaN           NaN  479300000

     eps
0   6.96
1   8.30
2   1.13
3   3.68
4   5.16
5   2.62
6   2.70
7   2.61
8   1.75
9   2.60
10  2.60
11  2.60
12  2.60
13  2.60
14  2.60
15  2.60
16  2.60
17  3.08
18  2.36
19 -0.17
20   NaN   has been saved as csv.
current cik is 0001680378, acquire revenue

current cik is 0001680378, acquire net_income
current cik is 0001680378, acquire operating_income
current cik is 0001680378, acquire asset
current cik is 0001680378, acquire current_asset
current cik is 0001680378, acquire inventory
current cik is 0001680378, acquire current_liability
current cik is 0001680378, acquire debt
current cik is 0001680378, acquire equity
current cik is 0001680378, acquire eps
0001680378 fin data acquire compeleted.
Empty DataFrame
Columns: [eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [eps]
Index: []
Empty DataFrame
Columns: [eps]
Index: [] has been saved as csv.
current cik is 0001071919, acquire revenue
current cik is 0001071919, acquire net_income
current cik is 0001071919, acquire operating_income
current cik is 0001071919, acquire asset
current cik is 0001071919, acquire current_asset
current cik is 0001071919, acquire inventory
current cik is 0001071919, acquire current_liability
current cik is 0001071919, acquire debt
current cik is 0001071919, acquire equity
current cik is 0001071919, acquire eps
0001071919 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001505409, acquire revenue
current cik is 0001505409, acquire net_income
current cik is 0001505409, acquire operating_income
current cik is 0001505409, acquire asset
current cik is 0001505409, acquire current_asset
current cik is 0001505409, acquire inventory
current cik is 0001505409, acquire current_liability
current cik is 0001505409, acquire debt
current cik is 0001505409, acquire equity
current cik is 0001505409, acquire eps
0001505409 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001162140, acquire revenue
current cik is 0001162140, acquire net_income
current cik is 0001162140, acquire operating_income
current cik is 0001162140, acquire asset
current cik is 0001162140, acquire current_asset
current cik is 0001162140, acquire inventory
current cik is 0001162140, acquire current_liability
current cik is 0001162140, acquire debt
current cik is 0001162140, acquire equity
current cik is 0001162140, acquire eps
0001162140 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001478513, acquire revenue
current cik is 0001478513, acquire net_income
current cik is 0001478513, acquire operating_income
current cik is 0001478513, acquire asset
current cik is 0001478513, acquire current_asset
current cik is 0001478513, acquire inventory
current cik is 0001478513, acquire current_liability
current cik is 0001478513, acquire debt
current cik is 0001478513, acquire equity
current cik is 0001478513, acquire eps
0001478513 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001394921, acquire revenue
current cik is 0001394921, acquire net_income
current cik is 0001394921, acquire operating_income
current cik is 0001394921, acquire asset
current cik is 0001394921, acquire current_asset
current cik is 0001394921, acquire inventory
current cik is 0001394921, acquire current_liability
current cik is 0001394921, acquire debt
current cik is 0001394921, acquire equity
current cik is 0001394921, acquire eps
0001394921 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0000722079, acquire revenue
current cik is 0000722079, acquire net_income
current cik is 0000722079, acquire operating_income
current cik is 0000722079, acquire asset
current cik is 0000722079, acquire current_asset
current cik is 0000722079, acquire inventory
current cik is 0000722079, acquire current_liability
current cik is 0000722079, acquire debt
current cik is 0000722079, acquire equity
current cik is 0000722079, acquire eps
0000722079 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001162147, acquire revenue
current cik is 0001162147, acquire net_income
current cik is 0001162147, acquire operating_income
current cik is 0001162147, acquire asset
current cik is 0001162147, acquire current_asset
current cik is 0001162147, acquire inventory
current cik is 0001162147, acquire current_liability
current cik is 0001162147, acquire debt
current cik is 0001162147, acquire equity
current cik is 0001162147, acquire eps
0001162147 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001162148, acquire revenue
current cik is 0001162148, acquire net_income
current cik is 0001162148, acquire operating_income
current cik is 0001162148, acquire asset
current cik is 0001162148, acquire current_asset
current cik is 0001162148, acquire inventory
current cik is 0001162148, acquire current_liability
current cik is 0001162148, acquire debt
current cik is 0001162148, acquire equity
current cik is 0001162148, acquire eps
0001162148 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001477600, acquire revenue

current cik is 0001477600, acquire net_income
current cik is 0001477600, acquire operating_income
current cik is 0001477600, acquire asset
current cik is 0001477600, acquire current_asset
current cik is 0001477600, acquire inventory
current cik is 0001477600, acquire current_liability
current cik is 0001477600, acquire debt
current cik is 0001477600, acquire equity
current cik is 0001477600, acquire eps
0001477600 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001162146, acquire revenue
current cik is 0001162146, acquire net_income
current cik is 0001162146, acquire operating_income
current cik is 0001162146, acquire asset
current cik is 0001162146, acquire current_asset
current cik is 0001162146, acquire inventory
current cik is 0001162146, acquire current_liability
current cik is 0001162146, acquire debt
current cik is 0001162146, acquire equity
current cik is 0001162146, acquire eps
0001162146 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001394919, acquire revenue
current cik is 0001394919, acquire net_income
current cik is 0001394919, acquire operating_income
current cik is 0001394919, acquire asset
current cik is 0001394919, acquire current_asset
current cik is 0001394919, acquire inventory
current cik is 0001394919, acquire current_liability
current cik is 0001394919, acquire debt
current cik is 0001394919, acquire equity
current cik is 0001394919, acquire eps
0001394919 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0000879575, acquire revenue
current cik is 0000879575, acquire net_income
current cik is 0000879575, acquire operating_income
current cik is 0000879575, acquire asset
current cik is 0000879575, acquire current_asset
current cik is 0000879575, acquire inventory
current cik is 0000879575, acquire current_liability
current cik is 0000879575, acquire debt
current cik is 0000879575, acquire equity
current cik is 0000879575, acquire eps
0000879575 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001337606, acquire revenue
current cik is 0001337606, acquire net_income
current cik is 0001337606, acquire operating_income
current cik is 0001337606, acquire asset
current cik is 0001337606, acquire current_asset
current cik is 0001337606, acquire inventory
current cik is 0001337606, acquire current_liability
current cik is 0001337606, acquire debt
current cik is 0001337606, acquire equity
current cik is 0001337606, acquire eps
0001337606 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001162137, acquire revenue
current cik is 0001162137, acquire net_income
current cik is 0001162137, acquire operating_income
current cik is 0001162137, acquire asset
current cik is 0001162137, acquire current_asset
current cik is 0001162137, acquire inventory
current cik is 0001162137, acquire current_liability
current cik is 0001162137, acquire debt
current cik is 0001162137, acquire equity
current cik is 0001162137, acquire eps
0001162137 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001162142, acquire revenue
current cik is 0001162142, acquire net_income
current cik is 0001162142, acquire operating_income
current cik is 0001162142, acquire asset
current cik is 0001162142, acquire current_asset
current cik is 0001162142, acquire inventory
current cik is 0001162142, acquire current_liability
current cik is 0001162142, acquire debt
current cik is 0001162142, acquire equity
current cik is 0001162142, acquire eps
0001162142 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001279529, acquire revenue
current cik is 0001279529, acquire net_income
current cik is 0001279529, acquire operating_income
current cik is 0001279529, acquire asset
current cik is 0001279529, acquire current_asset
current cik is 0001279529, acquire inventory
current cik is 0001279529, acquire current_liability
current cik is 0001279529, acquire debt
current cik is 0001279529, acquire equity
current cik is 0001279529, acquire eps
0001279529 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0000862612, acquire revenue
current cik is 0000862612, acquire net_income
current cik is 0000862612, acquire operating_income
current cik is 0000862612, acquire asset
current cik is 0000862612, acquire current_asset
current cik is 0000862612, acquire inventory
current cik is 0000862612, acquire current_liability
current cik is 0000862612, acquire debt
current cik is 0000862612, acquire equity
current cik is 0000862612, acquire eps
0000862612 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001083200, acquire revenue

current cik is 0001083200, acquire net_income
current cik is 0001083200, acquire operating_income
current cik is 0001083200, acquire asset
current cik is 0001083200, acquire current_asset
current cik is 0001083200, acquire inventory
current cik is 0001083200, acquire current_liability
current cik is 0001083200, acquire debt
current cik is 0001083200, acquire equity
current cik is 0001083200, acquire eps
0001083200 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001097805, acquire revenue
current cik is 0001097805, acquire net_income
current cik is 0001097805, acquire operating_income
current cik is 0001097805, acquire asset
current cik is 0001097805, acquire current_asset
current cik is 0001097805, acquire inventory
current cik is 0001097805, acquire current_liability
current cik is 0001097805, acquire debt
current cik is 0001097805, acquire equity
current cik is 0001097805, acquire eps
0001097805 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001071917, acquire revenue
current cik is 0001071917, acquire net_income
current cik is 0001071917, acquire operating_income
current cik is 0001071917, acquire asset
current cik is 0001071917, acquire current_asset
current cik is 0001071917, acquire inventory
current cik is 0001071917, acquire current_liability
current cik is 0001071917, acquire debt
current cik is 0001071917, acquire equity
current cik is 0001071917, acquire eps
0001071917 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001435224, acquire revenue
current cik is 0001435224, acquire net_income
current cik is 0001435224, acquire operating_income
current cik is 0001435224, acquire asset
current cik is 0001435224, acquire current_asset
current cik is 0001435224, acquire inventory
current cik is 0001435224, acquire current_liability
current cik is 0001435224, acquire debt
current cik is 0001435224, acquire equity
current cik is 0001435224, acquire eps
0001435224 fin data acquire compeleted.
Empty DataFrame
Columns: [debt, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [debt, eps]
Index: []
Empty DataFrame
Columns: [debt, eps]
Index: [] has been saved as csv.
current cik is 0000866752, acquire revenue
current cik is 0000866752, acquire net_income
current cik is 0000866752, acquire operating_income
current cik is 0000866752, acquire asset
current cik is 0000866752, acquire current_asset
current cik is 0000866752, acquire inventory
current cik is 0000866752, acquire current_liability
current cik is 0000866752, acquire debt
current cik is 0000866752, acquire equity
current cik is 0000866752, acquire eps
0000866752 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0000873728, acquire revenue
current cik is 0000873728, acquire net_income
current cik is 0000873728, acquire operating_income
current cik is 0000873728, acquire asset
current cik is 0000873728, acquire current_asset
current cik is 0000873728, acquire inventory
current cik is 0000873728, acquire current_liability
current cik is 0000873728, acquire debt
current cik is 0000873728, acquire equity
current cik is 0000873728, acquire eps
0000873728 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0001046339, acquire revenue
current cik is 0001046339, acquire net_income
current cik is 0001046339, acquire operating_income
current cik is 0001046339, acquire asset
current cik is 0001046339, acquire current_asset
current cik is 0001046339, acquire inventory
current cik is 0001046339, acquire current_liability
current cik is 0001046339, acquire debt
current cik is 0001046339, acquire equity
current cik is 0001046339, acquire eps
0001046339 fin data acquire compeleted.
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: []
Empty DataFrame
Columns: [net_income, operating_income, asset, current_asset, inventory, current_liability, debt, equity, eps]
Index: [] has been saved as csv.
current cik is 0000750150, acquire revenue
current cik is 0000750150, acquire net_income
current cik is 0000750150, acquire operating_income
current cik is 0000750150, acquire asset
current cik is 0000750150, acquire current_asset
current cik is 0000750150, acquire inventory
current cik is 0000750150, acquire current_liability
current cik is 0000750150, acquire debt
current cik is 0000750150, acquire equity
current cik is 0000750150, acquire eps
0000750150 fin data acquire compeleted.
Empty DataFrame
Columns: [debt]
Index: [] has been saved as csv.
df is here
Empty DataFrame
Columns: [debt]
Index: []
Empty DataFrame
Columns: [debt]
Index: [] has been saved as csv.
The list cik companies have connection with SEC website:
The list cik companies have no connection with SEC website, no return data via XBRL:

### 6.3. generate cfp in one file|

In [102]:
indus, valid_company_list, invalid_company_list = output_file(cik_list, Financial_data_dic, "agriculture")

1
0001046338 has no ratios return
2
0001129641 has no ratios return
3
0001000778 has no ratios return
4
0001118650 has no ratios return
5
0000820626 has no ratios return
6
0001818495 has no ratios return
7
0001840780 has no ratios return
8
0001162147 has no ratios return
9
0001025771 has no ratios return
10
0001599811 has no ratios return
11
0001071918 has no ratios return
12
0000722079 has no ratios return
13
1
0000003545 fin ratios calculated
15
1
0001756180 fin ratios calculated
17
0001014455 has no ratios return
18
0001394919 has no ratios return
19
0001766280 has no ratios return
20
0001394920 has no ratios return
21
0001444754 has no ratios return
22
0001687316 has no ratios return
23
0001776738 has no ratios return
24
0000876320 has no ratios return
25
1
0001342423 fin ratios calculated
27
0001031896 has no ratios return
28
0001054476 has no ratios return
29
0001669400 has no ratios return
30
0000840759 has no ratios return
31
0000882483 has no ratios return
32
1
0001121702 fin ratios calculated
34
0001047739 has no ratios return
35
0001162148 has no ratios return
36
0000034551 has no ratios return
37
0001269942 has no ratios return
38
0001042697 has no ratios return
39
0001081158 has no ratios return
40
0000862612 has no ratios return
41
0001324404 has no ratios return
42
0001290504 has no ratios return
43
0001083200 has no ratios return
44
0001725964 has no ratios return
45
0001065188 has no ratios return
46
0000761860 has no ratios return
47

/Users/j/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

0001140868 has no ratios return
48
0001039213 has no ratios return
49
0001162142 has no ratios return
50
0000927536 has no ratios return
51
0001049486 has no ratios return
52
0001071917 has no ratios return
53
1
0001705843 fin ratios calculated
55
0000883906 has no ratios return
56
1
0001575858 fin ratios calculated
58
0000707600 has no ratios return
59
0001803705 has no ratios return
60
0001324087 has no ratios return
61
0001003515 has no ratios return
62
1
0001477246 fin ratios calculated
64
1
0000016160 fin ratios calculated
66
1
0001425292 fin ratios calculated
68
0001610462 has no ratios return
69
0000878944 has no ratios return
70
0001280396 has no ratios return
71
0001795139 has no ratios return
72
0000882991 has no ratios return
73
0001572819 has no ratios return
74
0001042327 has no ratios return
75
0000793931 has no ratios return
76
0000066895 has no ratios return
77
0000931612 has no ratios return
78
0001793341 has no ratios return
79
0000795255 has no ratios return
80
1
0000037785 fin ratios calculated
82
0001734713 has no ratios return
83
0001138659 has no ratios return
84
0000824103 has no ratios return
85
0001522155 has no ratios return
86
0001049484 has no ratios return
87
0000101063 has no ratios return
88
0001216018 has no ratios return
89
0001657737 has no ratios return
90
0001499790 has no ratios return
91
0001134513 has no ratios return
92
0001197115 has no ratios return
93
0001807707 has no ratios return
94
0000902277 has no ratios return
95
0001525998 has no ratios return
96
0001517248 has no ratios return
97
0000740124 has no ratios return
98
0001376793 has no ratios return
99
0000862450 has no ratios return
100
0001051869 has no ratios return
101
0001162149 has no ratios return
102
0001435224 has no ratios return
103
0001042696 has no ratios return
104
0000819215 has no ratios return
105
0001078259 has no ratios return
106
0001026601 has no ratios return
107
0000943941 has no ratios return
108
0000882259 has no ratios return
109
0001663453 has no ratios return
110
0000876103 has no ratios return
111
0001574186 has no ratios return
112
1
0001592016 fin ratios calculated
114
0001100976 has no ratios return
115
0001650505 has no ratios return
116
0001876945 has no ratios return
117
0000832975 has no ratios return
118
0001780914 has no ratios return
119
0001162144 has no ratios return
120
0000941221 has no ratios return
121
1
0001159275 fin ratios calculated
123
0001160701 has no ratios return
124
0000835015 has no ratios return
125
0001540334 has no ratios return
126
1
0000825542 fin ratios calculated
128
0000806179 has no ratios return
129
0001043512 has no ratios return
130
0001497288 has no ratios return
131
0001852776 has no ratios return
132
0001794009 has no ratios return
133
0000724915 has no ratios return
134
0000047968 has no ratios return
135
0001110783 has no ratios return
136
0001043517 has no ratios return
137
0000729499 has no ratios return
138
0000745394 has no ratios return
139
0001796412 has no ratios return
140
0000726293 has no ratios return
141
1
0001482541 fin ratios calculated
143
0000750150 has no ratios return
144
0000063814 has no ratios return
145
0001043513 has no ratios return
146
0001057949 has no ratios return
147
0000868725 has no ratios return
148
0000879575 has no ratios return
149
0001279529 has no ratios return
150
0001072287 has no ratios return
151
0001043523 has no ratios return
152
0001043012 has no ratios return
153
0000842888 has no ratios return
154
0001488435 has no ratios return
155
0001671132 has no ratios return
156
0001049479 has no ratios return
157
0000778439 has no ratios return
158
0000814050 has no ratios return
159
0000760612 has no ratios return
160
0001838128 has no ratios return
161
0001222557 has no ratios return
162
0000811930 has no ratios return
163
0000875729 has no ratios return
164
0001484839 has no ratios return
165
0000793160 has no ratios return
166
0001169745 has no ratios return
167
0001162141 has no ratios return
168
0001800637 has no ratios return
169
0001477600 has no ratios return
170
0000883076 has no ratios return
171
0001020866 has no ratios return
172
0001043519 has no ratios return
173
0000784011 has no ratios return
174
0001162145 has no ratios return
175
0000319124 has no ratios return
176
0001614924 has no ratios return
177
0000730985 has no ratios return
178
0001761475 has no ratios return
179
0001086313 has no ratios return
180
0001331427 has no ratios return
181
1
0000005981 fin ratios calculated
183
0001162137 has no ratios return
184
0001511357 has no ratios return
185
1
0001441693 fin ratios calculated
187
0000708484 has no ratios return
188
0001369608 has no ratios return
189
0001162146 has no ratios return
190
0001059975 has no ratios return
191
0001421461 has no ratios return
192
0001816814 has no ratios return
193
0001046339 has no ratios return
194
0000767884 has no ratios return
195
0001501958 has no ratios return
196
0001478513 has no ratios return
197
1
0000277638 fin ratios calculated
199
0001802974 has no ratios return
200
0001505409 has no ratios return
201
0001680378 has no ratios return
202
0001483752 has no ratios return
203
0001064047 has no ratios return
204
0000774415 has no ratios return
205
0001543265 has no ratios return
206
0001349302 has no ratios return
207
0001489874 has no ratios return
208
0001729481 has no ratios return
209
1
0001302946 fin ratios calculated
211
0000018169 has no ratios return
212
0001046340 has no ratios return
213
0001289237 has no ratios return
214
0000078716 has no ratios return
215
0000857949 has no ratios return
216
0000070083 has no ratios return
217
0001337606 has no ratios return
218
0001049481 has no ratios return
219
0001042698 has no ratios return
220
0001071916 has no ratios return
221
0000825203 has no ratios return
222
0001789192 has no ratios return
223
0000792161 has no ratios return
224
0001043902 has no ratios return
225
0001440517 has no ratios return
226
0001042694 has no ratios return
227
0001497055 has no ratios return
228
0000831002 has no ratios return
229
0001023367 has no ratios return
230
0000813742 has no ratios return
231
0001043524 has no ratios return
232
0001463191 has no ratios return
233
0001321851 has no ratios return
234
0000036537 has no ratios return
235
0000029006 has no ratios return
236
0001097805 has no ratios return
237
0001047340 has no ratios return
238
1
0001469443 fin ratios calculated
240
0000873728 has no ratios return
241
0001331931 has no ratios return
242
0001424264 has no ratios return
243
0001049478 has no ratios return
244
0001394921 has no ratios return
245
0001045466 has no ratios return
246
1
0001285785 fin ratios calculated
248
0001425905 has no ratios return
249
0001011134 has no ratios return
250
0001755672 has no ratios return
251
0001066797 has no ratios return
252
0000866752 has no ratios return
253
0000715374 has no ratios return
254
0001071919 has no ratios return
255
0000817366 has no ratios return
256
0001116684 has no ratios return
257
0001002771 has no ratios return
258
0000880882 has no ratios return
259
0001042695 has no ratios return
260
1
0000835011 fin ratios calculated
262
1
0001133470 fin ratios calculated
264
0000937601 has no ratios return
265
0001822966 has no ratios return
266
0001519894 has no ratios return
267
0001418115 has no ratios return
268
0001439813 has no ratios return
269
0001573590 has no ratios return
270
0001111118 has no ratios return
271
0001729751 has no ratios return
272
0001049475 has no ratios return
273
0001853537 has no ratios return
274
0001531088 has no ratios return
275
0001123312 has no ratios return
276
0001472998 has no ratios return
277
0001043526 has no ratios return
278
0000861291 has no ratios return
279
0001003619 has no ratios return
280
1
0001548240 fin ratios calculated
282
0000793421 has no ratios return
283
0001282001 has no ratios return
284
0001162140 has no ratios return
285
0001043516 has no ratios return
286
0001046337 has no ratios return
287
0001096662 has no ratios return
288
0000818010 has no ratios return
289
0000824430 has no ratios return
There are 289 companies in agriculture industry.

In [96]:
print(f"The list cik companies have connection with SEC website:")
for cik in valid_company_list:
    print(cik)

The list cik companies have connection with SEC website:
0000003545
0001756180
0001342423
0001121702
0001705843
0001575858
0001477246
0000016160
0001425292
0000037785
0001592016
0001159275
0000825542
0001482541
0000005981
0001441693
0000277638
0001302946
0001469443
0001285785
0000835011
0001133470
0001548240

In [97]:
len(valid_company_list)

23

In [88]:
for c in cik_list:
    if c == "0000005981":
        print(1)

1

In [40]:
print(f"The list cik companies have no connection with SEC website, no return data via XBRL:")
for cik in invalid_company_list:
    print(cik)

The list cik companies have no connection with SEC website, no return data via XBRL:
0000857949
0001321851
0001755672
0000941221
0001421461
0001725964
0001324404

In [97]:
df = read_fin_data_file(f'{sec_cfp_path}/agriculture_comprehensive/0001121702.csv')

In [98]:
dfr = Ratios_calculator(df)

In [99]:
dfr

,period.fiscal-year,period.end,revenue,net_income,operating_income,asset,current_asset,inventory,current_liability,debt,...,equity,eps,ROA1,ROE1,ROC1,OperatingMargin,NetMargin,CurrentRatio,QuickRatio,DERatio
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
0.0,2020.0,1/1/21,799000.0,-10206000.0,-9609000.0,14522000.0,10342000.0,NaN,1814000.0,NaN,...,9532000.0,-4.30,-0.702796,-1.070709,NaN,-12.026283,-12.773467,5.701213,NaN,NaN
1.0,2019.0,1/1/20,806000.0,-12956000.0,-8596000.0,16718000.0,11684000.0,NaN,2207000.0,NaN,...,-4085000.0,-35.50,-0.774973,3.171603,NaN,-10.665012,-16.074442,5.294064,NaN,NaN
2.0,2018.0,1/1/19,556000.0,-9185000.0,-9319000.0,12960000.0,6377000.0,NaN,1641000.0,NaN,...,5698000.0,-36.99,-0.708719,-1.611969,NaN,-16.760791,-16.519784,3.886045,NaN,NaN
3.0,2017.0,1/1/18,944000.0,-9396000.0,-9283000.0,16882000.0,14917000.0,NaN,2375000.0,NaN,...,13502000.0,-3.29,-0.556569,-0.695897,NaN,-9.833686,-9.953390,6.280842,NaN,NaN
4.0,2016.0,1/1/17,1159000.0,-7604000.0,-10248000.0,10748000.0,7860000.0,0.0,2758000.0,NaN,...,6369000.0,-2.73,-0.707480,-1.193908,NaN,-8.842105,-6.560828,2.849891,2.849891,NaN
5.0,2015.0,1/1/16,1350000.0,-23681000.0,-12469000.0,17088000.0,14850000.0,51000.0,3910000.0,NaN,...,13028000.0,-0.95,-1.385826,-1.817700,NaN,-9.236296,-17.541481,3.797954,3.784910,NaN
6.0,2014.0,1/1/15,2800000.0,-29534000.0,-26829000.0,23135000.0,21965000.0,586000.0,4189000.0,NaN,...,18796000.0,-2.88,-1.276594,-1.571292,NaN,-9.581786,-10.547857,5.243495,5.103605,NaN
7.0,2013.0,1/1/14,5394000.0,-30506000.0,-28540000.0,26738000.0,25231000.0,1921000.0,6195000.0,NaN,...,20398000.0,-5.31,-1.140923,-1.495539,NaN,-5.291064,-5.655543,4.072801,3.762712,NaN
8.0,2012.0,1/1/13,42316000.0,3630000.0,3929000.0,53510000.0,48955000.0,3204000.0,5984000.0,NaN,...,47340000.0,0.11,0.067838,0.076679,NaN,0.092849,0.085783,8.180983,7.645555,NaN
9.0,2011.0,1/1/12,1425000.0,-38785000.0,-38861000.0,82912000.0,78439000.0,NaN,7165000.0,NaN,...,39463000.0,-1.24,-0.467785,-0.982819,NaN,-27.270877,-27.217544,10.947523,NaN,NaN
10.0,2010.0,1/1/11,448000.0,-38803000.0,-38939000.0,66771000.0,63256000.0,NaN,6395000.0,NaN,...,23676000.0,-1.45,-0.581136,-1.638917,NaN,-86.917411,-86.613839,9.891478,NaN,NaN
11.0,2009.0,1/1/10,1425000.0,-37957000.0,-38729000.0,97554000.0,93353000.0,NaN,4562000.0,NaN,...,55044000.0,-1.62,-0.389087,-0.689576,NaN,-27.178246,-26.636491,20.463174,NaN,NaN
12.0,2008.0,1/1/09,1555000.0,-36005000.0,-38892000.0,96946000.0,91841000.0,NaN,4610000.0,NaN,...,59091000.0,-1.58,-0.371392,-0.609314,NaN,-25.010932,-23.154341,19.922126,NaN,NaN
13.0,2007.0,1/1/08,1683000.0,-27875000.0,-33816000.0,119004.0,111546000.0,NaN,4659000.0,NaN,...,89202000.0,-1.27,-234.235824,-0.312493,NaN,-20.092692,-16.562686,23.942048,NaN,NaN
14.0,2006.0,1/1/07,4590000.0,-16062000.0,-17524000.0,127596000.0,123400000.0,NaN,3221000.0,NaN,...,109588000.0,-2.96,-0.125882,-0.146567,NaN,-3.817865,-3.499346,38.311084,NaN,NaN
15.0,2005.0,1/1/06,2781000.0,-7625000.0,-7024000.0,7325000.0,3759000.0,NaN,2973000.0,NaN,...,-46558000.0,-2.56,-1.040956,0.163774,NaN,-2.525710,-2.741819,1.264379,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 7. SIC list aquisition (Get company list by industry)

In [23]:
url = 'https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&SIC=0100&owner=include&match=&start=&count=100&hidefilings=0'

In [46]:
url2 = "https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=0001443005&owner=include&count=40&hidefilings=0"

In [49]:
r1 = requests.get(url).content