# 1. install libaries

In [20]:
pip install requests

Requirement already satisfied: requests in /Users/j/opt/anaconda3/lib/python3.7/site-packages (2.22.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/j/opt/anaconda3/lib/python3.7/site-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/j/opt/anaconda3/lib/python3.7/site-packages (from requests) (1.24.2)
Requirement already satisfied: idna<2.9,>=2.5 in /Users/j/opt/anaconda3/lib/python3.7/site-packages (from requests) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /Users/j/opt/anaconda3/lib/python3.7/site-packages (from requests) (2019.9.11)
Note: you may need to restart the kernel to use updated packages.

In [79]:
pip install XBRL

Requirement already satisfied: XBRL in /Users/j/opt/anaconda3/lib/python3.7/site-packages (0.0.1)
Note: you may need to restart the kernel to use updated packages.

In [80]:
pip install oauth2

Collecting oauth2
  Downloading https://files.pythonhosted.org/packages/a0/6f/86db603912ecd04109af952c38bc08928886cf0e34c723481fa7db98b4b5/oauth2-1.9.0.post1-py2.py3-none-any.whl
Collecting httplib2 (from oauth2)
  Downloading https://files.pythonhosted.org/packages/15/dc/d14bce03f4bfd0214b90a3f556d7c96f75bb94ad597c816a641b962f22e9/httplib2-0.19.1-py3-none-any.whl (95kB)
     |████████████████████████████████| 102kB 8.1MB/s ta 0:00:01
Requirement already satisfied: pyparsing<3,>=2.4.2 in /Users/j/opt/anaconda3/lib/python3.7/site-packages (from httplib2->oauth2) (2.4.2)
Installing collected packages: httplib2, oauth2
Successfully installed httplib2-0.19.1 oauth2-1.9.0.post1
Note: you may need to restart the kernel to use updated packages.

# 2. import libraries

In [3]:
import requests

In [4]:
import os, re, sys, json

In [5]:
import pandas as pd

In [6]:
import numpy as np

In [7]:
import getpass

# 3. Authentication for xbrl token

### 3.1. acess token

In [8]:
"""
get access token from XBRL API
"""
# print('Enter XBRL US Web account email: ')
email = 'jesse.c.jia@gmail.com'
# print('Account password: ')
password = 'QAZwsx123'
# print('Client ID: ')
clientid = 'bf3ba33f-e98b-4159-aea2-466445f9621f'
# print('Client secret: ')
secret = 'a3f87777-0086-4208-8d3b-df494408271e'

body_auth = {'username' : ''.join(email), 
            'client_id': ''.join(clientid), 
            'client_secret' : ''.join(secret), 
            'password' : ''.join(password), 
            'grant_type' : 'password', 
            'platform' : 'ipynb' }
endpoint_auth = 'https://api.xbrl.us/oauth2/token'
res = requests.post(endpoint_auth, data=body_auth)
auth_json = res.json()

if 'error' in auth_json:
        print ("\n\nThere was a problem generating an access token with these credentials. Run the first cell again to enter credentials.")
else:
        print ("\n\nYour access token expires in 60 minutes. After it expires, run the cell immediately below this one to generate a new token and continue to use the query cell. \n\nFor now, skip ahead to the section 'Make a Query'.")

access_token = auth_json['access_token']
refresh_token = auth_json['refresh_token']
newaccess = ''
newrefresh = ''

Your access token expires in 60 minutes. After it expires, run the cell immediately below this one to generate a new token and continue to use the query cell.

For now, skip ahead to the section 'Make a Query'.


### 3.2. refresh token

In [9]:

"""
reconnect to XBRL API when expire
"""
token = token if newrefresh != '' else refresh_token 

refresh_auth = {'client_id': ''.join(clientid), 
            'client_secret' : ''.join(secret), 
            'grant_type' : 'refresh_token', 
            'platform' : 'ipynb', 
            'refresh_token' : ''.join(token) }
refreshres = requests.post(endpoint_auth, data=refresh_auth)
refresh_json = refreshres.json()
access_token = refresh_json['access_token']
refresh_token = refresh_json['refresh_token']#print('access token: ' + access_token + 'refresh token: ' + refresh_token)
print('Your access token is refreshed for 60 minutes. If it expires again, run this cell to generate a new token and continue to use the query cells below.')
print(access_token)

Your access token is refreshed for 60 minutes. If it expires again, run this cell to generate a new token and continue to use the query cells below.
713878b6-d822-492f-8079-471ada20d519

# 4. Prepare Data

### 4.1 file and data path

In [10]:
"""
get document path
"""
root_path = os.path.abspath(os.path.dirname(os.getcwd()))
data_path = os.path.join(root_path, 'data')
company_path = os.path.join(data_path, 'company')
company_cik_path = os.path.join(company_path, 'CIK_Summary.csv')
sec_cfp_path = os.path.join(data_path, "SEC_FIN_data")
sec_argriculture = os.path.join(sec_cfp_path, "agriculture")

### 4.2. read cik file

In [11]:
"""
import company-cik file
"""

#read cik.csv as a pandas DataFrame
ciksDF = pd.read_csv(company_cik_path, header=None)

#set the column with all the tickers as the index
ciksDF = ciksDF.set_index(0)

### 4.3. define company name and cik converting function

In [12]:
#function to return CIK of a ticker
def getCIK(ticker):
    """
    input ticker
    return respect cik
    """
    try:
        return int(ciksDF.loc[ticker.lower(), 1])

    #return None there's no CIK for the ticker
    except:
        print(f"{ticker} does not exist.")
        return None
    
    
#function to return CIK of a list of tickers
def outputcik(TICKERS): 
    """
    input ticker list
    return cik repsectively in list
    """
    cikDir = []
    for ticker in TICKERS:
        a = str(getCIK(ticker))
        if a != 'None':
            cik = a.zfill(10)
            cikDir.append(cik)
        else:
            pass
    return cikDir

In [13]:
# test code
lis = outputcik(["uytuyfd","a"])
lis

uytuyfd does not exist.

['0001090872']

### 4.4. Read Company List

In [14]:
# company list

company_list = ["YTEN", "UAN", "CGA", "RKDA", "FMC", "MOS", "SEED", "CTVA", "MBII", "AVD", "ICL", "IPI", "NTR", "MGPI", "SMG", "CF"]

In [15]:
len(company_list)

16

### 4.5. convert company_name into cik

In [16]:
# generate cik list
cik_list = outputcik(company_list)

In [17]:
# cik_list1 = cik_list.pop(2)

In [18]:
len(cik_list)

16

In [19]:
cik_list

['0001121702',
 '0001425292',
 '0000857949',
 '0001469443',
 '0000037785',
 '0001285785',
 '0001321851',
 '0001755672',
 '0001441693',
 '0000005981',
 '0000941221',
 '0001421461',
 '0001725964',
 '0000835011',
 '0000825542',
 '0001324404']

### 4.6. financial data conceptual name

In [20]:
# financial data with the conceptual name on SEC website respectively
Financial_data_dic = {
    "revenue" : "RevenueFromContractWithCustomerExcludingAssessedTax",
    "net_income" : "NetIncomeLoss",
    "operating_income" : "OperatingIncomeLoss", 
    "asset" : "Assets",
    "current_asset" : "AssetsCurrent",
    "inventory" : "InventoryNet",
    "current_liability" : "LiabilitiesCurrent",
    "debt" : "LongTermDebtNoncurrent",
    "equity" : "StockholdersEquity",
    "eps" : "EarningsPerShareBasic"
}

### 4.7. read cfp file function

In [21]:
def read_fin_data_file(path):
    df = pd.read_csv(path)
    df = df.set_index('Unnamed: 0')
    return df

# 5. Request data via XBRL

In [22]:
def acquire_data(company_cik, financial_data):
    """
    input company cik value and financial conceptual name on SEC
    return data frame of financial value, year, entity name, and so on, (details see fiels list)
    """
    
    # Define the fields to be returned
    fields = ['period.fiscal-year.sort(DESC)',
              'period.end.sort(DESC)',
              'entity.name.sort(ASC)',
              'entity.cik.sort(ASC)',
              'concept.local-name.sort(ASC)',
              'fact.value',
              'unit',
              'report.filing-date']
    
    # Filter the query for specific XBRL elements (tags) to research
    XBRL_Elements = [financial_data
                ]
    
    # Filter companies for the query
    companies_cik = [company_cik
                ]
    
    # api parameters
    params = {'fields': ','.join(fields),
         'concept.local-name': ','.join(XBRL_Elements),
         'entity.cik': ','.join(companies_cik),
         #'period.fiscal-year': ','.join(years),
         'period.fiscal-period': 'Y',
         'fact.has-dimensions': 'FALSE',
         'fact.ultimus': 'TRUE'
         }
    
    search_endpoint = 'https://api.xbrl.us/api/v1/fact/search'
    res = requests.get(search_endpoint, params=params, headers={'Authorization' : 'Bearer {}'.format(access_token)})
    res_json = res.json()
    res_df = pd.DataFrame(res_json['data'])
    
#     print(res_json['paging'])
#     print(res_df)
    return res_df

In [23]:
# TEST CODE
df_test = acquire_data('0001121702',"Assets")

In [24]:
df_test

,period.fiscal-year,period.end,entity.name,entity.cik,concept.local-name,fact.value,unit,report.filing-date
0,2020,None,"YIELD10 BIOSCIENCE, INC.",0001121702,Assets,14522000,USD,2021-08-11
1,2019,None,"YIELD10 BIOSCIENCE, INC.",0001121702,Assets,16718000,USD,2021-03-16
2,2018,None,"YIELD10 BIOSCIENCE, INC.",0001121702,Assets,12960000,USD,2020-03-25
3,2017,None,"YIELD10 BIOSCIENCE, INC.",0001121702,Assets,16882000,USD,2019-03-28
4,2016,None,"YIELD10 BIOSCIENCE, INC.",0001121702,Assets,10748000,USD,2018-03-12
5,2015,None,"YIELD10 BIOSCIENCE, INC.",0001121702,Assets,17088000,USD,2017-03-30
6,2014,None,"METABOLIX, INC.",0001121702,Assets,23135000,USD,2016-03-29
7,2013,None,"METABOLIX, INC.",0001121702,Assets,26738000,USD,2015-03-25
8,2012,None,"METABOLIX, INC.",0001121702,Assets,53510000,USD,2014-03-28
9,2011,None,"METABOLIX, INC.",0001121702,Assets,82912000,USD,2013-03-28
10,2010,None,"METABOLIX, INC.",0001121702,Assets,66771000,USD,2012-03-12

In [25]:
# for cik in cik_list:
#     #print(cik)
#     cik_fin_value_df = df_empty = pd.DataFrame(columns=['A', 'B', 'C', 'D'])
#     for k, v in Financial_data_dic.items():
#         print(cik,v)
#         temp_df = acquire_data(cik, v) asset
#         print(temp_df)

In [43]:
def generate_financial_data(cik, Financial_data_dic):
    """
    input company's cik value and financial item dic
    acquire financial value through xrbl API,
    calculate financial ratio and append in data frame
    return a data frame with year, company name, financial ratios
    """
    
    # create a empty data frame for use
    cik_fin_value_df = pd.DataFrame()
    # cik = "0001121702"
    for k, v in Financial_data_dic.items():
        print(f"current cik is {cik}, acquire {k}")
        
        # return first financial values into df
        if k == "revenue":
            
            cik_fin_value_df = acquire_data(cik, v)
            if cik_fin_value_df.empty:
                pass
            else:
                cik_fin_value_df.rename(columns = {"fact.value" : k}, inplace = True)
                cik_fin_value_df[k] = pd.to_numeric(cik_fin_value_df[k])
                cik_fin_value_df.drop(labels = "concept.local-name", axis = 1, inplace = True)
                cik_fin_value_df.drop(labels = "unit", axis = 1, inplace = True)
                cik_fin_value_df.drop(labels = "report.filing-date", axis = 1, inplace = True)

    #         cik_fin_value_df.drop(labels = "entity.name", axis = 1, inplace = True)

        
        # create temp df, and acquire rest financial data, then concate with inital df
        else:
#             print(cik,k,v)
            temp_df = acquire_data(cik, v)
            if temp_df.empty:
                temp_df[k] = np.NaN
                cik_fin_value_df = pd.concat([cik_fin_value_df, temp_df], axis = 1)
            else:
                temp_df.rename(columns = {"fact.value" : k}, inplace = True)
                temp_df[k] = pd.to_numeric(temp_df[k])

                temp_df.drop(labels = "concept.local-name", axis = 1, inplace = True)
    #             temp_df.drop(labels = "period.end", axis = 1, inplace = True)
                temp_df.drop(labels = "unit", axis = 1, inplace = True)
                temp_df.drop(labels = "report.filing-date", axis = 1, inplace = True)
    #             temp_df.drop(labels = "entity.name", axis = 1, inplace = True)


    #             if len(temp_df["period.end"]) >= len(cik_fin_value_df["period.end"]):
    #                 cik_fin_value_df.drop(labels = "period.end", axis = 1, inplace = True)
    #             else:
                temp_df.drop(labels = "period.end", axis = 1, inplace = True)
    
                # keep the most company name column
                try:
                    if len(temp_df["entity.cik"]) >= len(cik_fin_value_df["entity.cik"]):
                        cik_fin_value_df.drop(labels = "entity.name", axis = 1, inplace = True)
                        cik_fin_value_df.drop(labels = "entity.cik", axis = 1, inplace = True)
                    else:
                        temp_df.drop(labels = "entity.name", axis = 1, inplace = True)
                        temp_df.drop(labels = "entity.cik", axis = 1, inplace = True)
                except:
                    pass



    #             cik_fin_value_df = pd.concat([cik_fin_value_df, temp_df], axis = 1)
    #             cikabs_fin_value_df = pd.concat((cik_fin_value_df, temp_df), axis = 1, join = "outer")
                try:
                    cik_fin_value_df = pd.merge(cik_fin_value_df, temp_df, on = "period.fiscal-year", how = "outer")
                except:
                    pass
    
    # calculate financial ratios
#     Ratios_calculator(cik_fin_value_df)
    print(f"{cik} fin data acquire compeleted.")
    save_csv(cik_fin_value_df, sec_argriculture, cik)
    
    return cik_fin_value_df



# cik_fin_value_df["ROA1"] = cik_fin_value_df.apply(lambda x:x["net_income"]/x["asset"], axis = 1)
# cik_fin_value_df["ROE1"] = cik_fin_value_df.apply(lambda x:x["net_income"]/x["equity"], axis = 1)
# cik_fin_value_df["ROC1"] = cik_fin_value_df.apply(lambda x:(x["net_income"] + x["debt"])/x["asset"], axis = 1)
# cik_fin_value_df["OperatingMargin"] = cik_fin_value_df.apply(lambda x:x["operating_income"]/x["revenue"], axis = 1)
# cik_fin_value_df["NetMargin"] = cik_fin_value_df.apply(lambda x:x["net_income"]/x["revenue"], axis = 1)
# cik_fin_value_df["CurrentRatio"] = cik_fin_value_df.apply(lambda x:x["current_asset"]/x["current_liability"], axis = 1)
# cik_fin_value_df["QuickRatio"] = cik_fin_value_df.apply(lambda x:(x["current_asset"]-x["inventory"])/x["current_liability"], axis = 1)
# cik_fin_value_df["DERatio"] = cik_fin_value_df.apply(lambda x:x["debt"]/x["equity"], axis = 1)

In [27]:
# TEST CODE

# test1_df = generate_financial_data('0000857949', Financial_data_dic)

In [28]:
test1_df

NameError: name 'test1_df' is not defined

In [82]:
def ROA1(df):
    df["ROA1"] = df.apply(lambda x:x["net_income"]/x["asset"], axis = 1)

def ROE1(df):
    df["ROE1"] = df.apply(lambda x:x["net_income"]/x["equity"], axis = 1)

def ROC1(df):
    df["ROC1"] = df.apply(lambda x:(x["net_income"] + x["debt"])/x["asset"], axis = 1)

def Op_Margin(df):
    df["OperatingMargin"] = df.apply(lambda x:x["operating_income"]/x["revenue"], axis = 1)
    
def Net_Margin(df):
    df["NetMargin"] = df.apply(lambda x:x["net_income"]/x["revenue"], axis = 1)
    
def Current_Ratio(df):
    df["CurrentRatio"] = df.apply(lambda x:x["current_asset"]/x["current_liability"], axis = 1)

def Quick_Ratio(df):
    df["QuickRatio"] = df.apply(lambda x:(x["current_asset"]-x["inventory"])/x["current_liability"], axis = 1)

def DE(df):
    df["DERatio"] = df.apply(lambda x:x["debt"]/x["equity"], axis = 1)

In [94]:
def Ratios_calculator(df):
    
    for k, v in Financial_data_dic.items():
        df[k] = pd.to_numeric(df[k])
    ROA1(df)
    ROE1(df)
    ROC1(df)
    Op_Margin(df)
    Net_Margin(df)
    Current_Ratio(df)
    Quick_Ratio(df)
    DE(df)
    
    return df

In [93]:
def generate_financial_ratio(cik, industry, valid_list, invalid_list):
#     generate_financial_data(cik, fin_data_dic)

    df = pd.DataFrame()
    try:
        df = read_fin_data_file(f'{sec_cfp_path}/{industry}_comprehensive/{cik}.csv')
        print(1)
        Ratios_calculator(df)
        print(f"{cik} fin ratios calculated")
        valid_list.append(cik)
    except:
        print(f"{cik} has no ratios return")
        invalid_list.append(cik)
    


#     try:
#         Ratios_calculator(df)
#         #print(df)
#         print(f"{cik} fin ratios calculated")
#         valid_list.append(cik)
#     except:
#         print(f"{cik} has no ratios return")
#         invalid_list.append(cik)
#         pass
    
    return df, valid_list, invalid_list

In [71]:
def output_fin_data_file(cik_list, fin_data_dic, industry):
    
    valid_company_list = []
    invalid_company_list = []
    path = os.path.join(sec_cfp_path, industry)

    for c in cik_list:
        df = generate_financial_data(c, fin_data_dic)
        print("df is here")
        print(df)
        save_csv(df, path, c)
    
    print(f"The list cik companies have connection with SEC website:")
    for cik in valid_company_list:
        print(cik)

    print(f"The list cik companies have no connection with SEC website, no return data via XBRL:")
    for cik in invalid_company_list:
        print(cik)
    
    return None

In [87]:
def output_file(cik_list, fin_data_dic, industry):
    industry_df = pd.DataFrame()
    
    valid_company_list = []
    invalid_company_list = []

    for c in cik_list:
#         generate_financial_data(c, fin_data_dic)
        temp_df, valid_company_list, invalid_company_list = generate_financial_ratio(c, industry, valid_company_list, invalid_company_list)
        
        industry_df = pd.concat([industry_df, temp_df], axis = 0)
        
#         print(f"{c} has been added.")
    
    industry_df.to_csv(f"{sec_cfp_path}/{industry}.csv")
    
#     print(f"The list cik companies have connection with SEC website: {valid_company_list}.")
#     print(f"The list cik companies have no connection with SEC website, no value returned by using XBEL: {valid_company_list}.")
    
    return industry_df, valid_company_list, invalid_company_list

# 6. output process

### 6.1. define save function

In [41]:
def save_csv(file, path, industry):
    file.to_csv(f"{path}/{industry}.csv")
    print(f"{file} has been saved as csv.")
    return None

### 6.2. output financial data into single file for each compnay

In [77]:
output_fin_data_file(cik_list, Financial_data_dic, "agriculture")

current cik is 0001121702, acquire revenue

KeyError: 'data'

### 6.3. generate cfp in one file|

In [89]:
indus, valid_company_list, invalid_company_list = output_file(cik_list, Financial_data_dic, "agriculture")

1
Unnamed: 0
0.0       799000.0
1.0       806000.0
2.0       556000.0
3.0       944000.0
4.0      1159000.0
5.0      1350000.0
6.0      2800000.0
7.0      5394000.0
8.0     42316000.0
9.0      1425000.0
10.0      448000.0
11.0     1425000.0
12.0     1555000.0
13.0     1683000.0
14.0     4590000.0
15.0     2781000.0
NaN            NaN
Name: revenue, dtype: float64 0001121702
Unnamed: 0
0.0    -10206000.0
1.0    -12956000.0
2.0     -9185000.0
3.0     -9396000.0
4.0     -7604000.0
5.0    -23681000.0
6.0    -29534000.0
7.0    -30506000.0
8.0      3630000.0
9.0    -38785000.0
10.0   -38803000.0
11.0   -37957000.0
12.0   -36005000.0
13.0   -27875000.0
14.0   -16062000.0
15.0    -7625000.0
NaN            NaN
Name: net_income, dtype: float64 0001121702
Unnamed: 0
0.0     -9609000.0
1.0     -8596000.0
2.0     -9319000.0
3.0     -9283000.0
4.0    -10248000.0
5.0    -12469000.0
6.0    -26829000.0
7.0    -28540000.0
8.0      3929000.0
9.0    -38861000.0
10.0   -38939000.0
11.0   -38729000.0
12.0   -38892000.0
13.0   -33816000.0
14.0   -17524000.0
15.0    -7024000.0
NaN            NaN
Name: operating_income, dtype: float64 0001121702
Unnamed: 0
0.0      14522000.0
1.0      16718000.0
2.0      12960000.0
3.0      16882000.0
4.0      10748000.0
5.0      17088000.0
6.0      23135000.0
7.0      26738000.0
8.0      53510000.0
9.0      82912000.0
10.0     66771000.0
11.0     97554000.0
12.0     96946000.0
13.0       119004.0
14.0    127596000.0
15.0      7325000.0
NaN             NaN
Name: asset, dtype: float64 0001121702
Unnamed: 0
0.0      10342000.0
1.0      11684000.0
2.0       6377000.0
3.0      14917000.0
4.0       7860000.0
5.0      14850000.0
6.0      21965000.0
7.0      25231000.0
8.0      48955000.0
9.0      78439000.0
10.0     63256000.0
11.0     93353000.0
12.0     91841000.0
13.0    111546000.0
14.0    123400000.0
15.0      3759000.0
NaN             NaN
Name: current_asset, dtype: float64 0001121702
Unnamed: 0
0.0           NaN
1.0           NaN
2.0           NaN
3.0           NaN
4.0           0.0
5.0       51000.0
6.0      586000.0
7.0     1921000.0
8.0     3204000.0
9.0           NaN
10.0          NaN
11.0          NaN
12.0          NaN
13.0          NaN
14.0          NaN
15.0          NaN
NaN           NaN
Name: inventory, dtype: float64 0001121702
Unnamed: 0
0.0     1814000.0
1.0     2207000.0
2.0     1641000.0
3.0     2375000.0
4.0     2758000.0
5.0     3910000.0
6.0     4189000.0
7.0     6195000.0
8.0     5984000.0
9.0     7165000.0
10.0    6395000.0
11.0    4562000.0
12.0    4610000.0
13.0    4659000.0
14.0    3221000.0
15.0    2973000.0
NaN           NaN
Name: current_liability, dtype: float64 0001121702
Unnamed: 0
0.0    NaN
1.0    NaN
2.0    NaN
3.0    NaN
4.0    NaN
5.0    NaN
6.0    NaN
7.0    NaN
8.0    NaN
9.0    NaN
10.0   NaN
11.0   NaN
12.0   NaN
13.0   NaN
14.0   NaN
15.0   NaN
NaN    NaN
Name: debt, dtype: float64 0001121702
0001121702 has no ratios return
1
Unnamed: 0
0     349953000
1     404177000
2     351082000
10    330802000
11    356284000
12    298194000
13    298665000
14    323672000
15    302309000
16    302867000
17    180468000
18    208371000
Name: revenue, dtype: int64 0001425292
Unnamed: 0
0     -98181000
1     -34969000
2     -50027000
10    -72788000
11    -26938000
12     62042000
13     76149000
14    118616000
15    112223000
16    132447000
17     33306000
18     57878000
Name: net_income, dtype: int64 0001425292
Unnamed: 0
0     -34882000
1      27380000
2       6314000
10    -10278000
11     24557000
12     68729000
13     82803000
14    124851000
15    115758000
16    136198000
17     20356000
18     48863000
Name: operating_income, dtype: int64 0001425292
Unnamed: 0
0     1.032880e+09
1     1.137955e+09
2     1.254388e+09
10    1.234276e+09
11    1.312217e+09
12    5.362550e+08
13    5.788390e+08
14    5.934540e+08
15    6.229540e+08
16    6.593090e+08
17    4.521650e+08
18             NaN
Name: asset, dtype: float64 0001425292
Unnamed: 0
0     118214000.0
1     124960000.0
2     191331000.0
10    117990000.0
11    134531000.0
12     98545000.0
13    129578000.0
14    135780000.0
15    166048000.0
16    271863000.0
17     73168000.0
18            NaN
Name: current_asset, dtype: float64 0001425292
Unnamed: 0
0     42349000.0
1     48296000.0
2     63554000.0
10    53169000.0
11    58167000.0
12    37529000.0
13    35614000.0
14    33064000.0
15    28949000.0
16    23255000.0
17    19830000.0
18           NaN
Name: inventory, dtype: float64 0001425292
Unnamed: 0
0      76341000.0
1      75531000.0
2     122635000.0
10     56095000.0
11     63016000.0
12     25914000.0
13     39707000.0
14     27386000.0
15     49475000.0
16     42454000.0
17     46076000.0
18            NaN
Name: current_liability, dtype: float64 0001425292
Unnamed: 0
0     633942000.0
1     632406000.0
2     628989000.0
10    625904000.0
11    623107000.0
12    124773000.0
13    125000000.0
14    125000000.0
15    125000000.0
16    125000000.0
17            0.0
18            NaN
Name: debt, dtype: float64 0001425292
Unnamed: 0
0     314241000.0
1     419544000.0
2     499826000.0
10    549853000.0
11    624907000.0
12    385552000.0
13    413931000.0
14    439921000.0
15    446193000.0
16    489489000.0
17    402203000.0
18            NaN
Name: equity, dtype: float64 0001425292
Unnamed: 0
0    -8.77
1    -3.09
2    -0.44
10   -0.64
11   -0.26
12    0.85
13    1.04
14    1.62
15    1.54
16    1.48
17     NaN
18     NaN
Name: eps, dtype: float64 0001425292
0001425292 fin ratios calculated
0000857949 has no ratios return
1
Unnamed: 0
0    8034000.0
1    1169000.0
2    1464000.0
3    4026000.0
4    3188000.0
5    5414000.0
6    6982000.0
7          NaN
Name: revenue, dtype: float64 0001469443
Unnamed: 0
0    -4655000.0
1   -28805000.0
2   -13480000.0
3   -15707000.0
4   -19624000.0
5   -17956000.0
6   -18339000.0
7           NaN
Name: net_income, dtype: float64 0001469443
Unnamed: 0
0   -12778000.0
1   -19381000.0
2   -16870000.0
3   -14315000.0
4   -18620000.0
5   -15563000.0
6   -15153000.0
7           NaN
Name: operating_income, dtype: float64 0001469443
Unnamed: 0
0    47348000.0
1    32574000.0
2    24024000.0
3    16570000.0
4    56574000.0
5    74242000.0
6    24889000.0
7           NaN
Name: asset, dtype: float64 0001469443
Unnamed: 0
0    31696000.0
1    28440000.0
2    22876000.0
3    15047000.0
4    52222000.0
5    52017000.0
6    18695000.0
7           NaN
Name: current_asset, dtype: float64 0001469443
Unnamed: 0
0    3812000.0
1    1794000.0
2     181000.0
3     229000.0
4     252000.0
5     294000.0
6     424000.0
7          NaN
Name: inventory, dtype: float64 0001469443
Unnamed: 0
0     6314000.0
1     5708000.0
2     3054000.0
3     3525000.0
4     3129000.0
5     3450000.0
6    11269000.0
7           NaN
Name: current_liability, dtype: float64 0001469443
Unnamed: 0
0     2105000.0
1      107000.0
2           NaN
3           NaN
4    25127000.0
5    24930000.0
6     8869000.0
7           NaN
Name: debt, dtype: float64 0001469443
Unnamed: 0
0    27725000
1     7705000
2    12815000
3     8007000
4    22198000
5    40225000
6   -84766000
7   -17297000
Name: equity, dtype: int64 0001469443
Unnamed: 0
0     -1.0
1      1.0
2      NaN
3     18.0
4     96.0
5   -115.0
6      NaN
7      NaN
Name: eps, dtype: float64 0001469443
0001469443 fin ratios calculated
1
Unnamed: 0
0     4.642100e+09
1     4.609800e+09
2     4.727800e+09
3     2.878600e+09
4     3.282400e+09
5     3.276500e+09
6     4.037700e+09
7     3.874800e+09
8     3.748300e+09
9     3.377900e+09
10    3.116300e+09
11    2.826200e+09
12             NaN
13             NaN
Name: revenue, dtype: float64 0000037785
Unnamed: 0
0     550600000
1     480200000
2     502100000
3     538400000
4     211700000
5     498500000
6     322100000
7     308000000
8     435700000
9     382200000
10    184900000
11    228500000
12    304600000
13    132400000
Name: net_income, dtype: int64 0000037785
Unnamed: 0
0     902200000
1     821600000
2     880500000
3     259800000
4     421500000
5     -50200000
6     545400000
7     659000000
8     658200000
9     587400000
10    387100000
11    334700000
12    500700000
13    228000000
Name: operating_income, dtype: int64 0000037785
Unnamed: 0
0     1.018640e+10
1     9.872700e+09
2     9.974300e+09
3     9.206300e+09
4     6.139300e+09
5     6.325900e+09
6     5.340500e+09
7     5.235200e+09
8     4.373900e+09
9     3.743500e+09
10    3.319900e+09
11    3.136200e+09
12    2.993900e+09
13             NaN
Name: asset, dtype: float64 0000037785
Unnamed: 0
0     4.375600e+09
1     4.074800e+09
2     4.030200e+09
3     3.652700e+09
4     2.849200e+09
5     2.971900e+09
6     2.934400e+09
7     2.945000e+09
8     2.181900e+09
9     1.869400e+09
10    1.646200e+09
11    1.487700e+09
12    1.432800e+09
13             NaN
Name: current_asset, dtype: float64 0000037785
Unnamed: 0
0     1.095600e+09
1     1.017000e+09
2     1.097300e+09
3     9.925000e+08
4     7.035000e+08
5     8.002000e+08
6     6.365000e+08
7     6.884000e+08
8     6.757000e+08
9     4.703000e+08
10    3.478000e+08
11    3.505000e+08
12    3.808000e+08
13             NaN
Name: inventory, dtype: float64 0000037785
Unnamed: 0
0     2.829000e+09
1     2.723900e+09
2     2.993400e+09
3     2.209400e+09
4     1.438200e+09
5     1.453300e+09
6     1.910400e+09
7     1.986700e+09
8     1.135500e+09
9     9.199000e+08
10    9.634000e+08
11    7.092000e+08
12    7.591000e+08
13             NaN
Name: current_liability, dtype: float64 0000037785
Unnamed: 0
0     2.929500e+09
1     3.031100e+09
2     2.179000e+09
3     2.993000e+09
4     1.798800e+09
5     2.036300e+09
6     1.153400e+09
7     1.154100e+09
8     9.088000e+08
9     7.791000e+08
10    5.030000e+08
11    5.880000e+08
12    5.929000e+08
13             NaN
Name: debt, dtype: float64 0000037785
Unnamed: 0
0     2.961800e+09
1     2.532300e+09
2     3.210400e+09
3     2.707100e+09
4     1.993000e+09
5     1.908300e+09
6     1.564000e+09
7     1.519800e+09
8     1.480300e+09
9     1.240600e+09
10    1.131500e+09
11    1.076400e+09
12    9.029000e+08
13             NaN
Name: equity, dtype: float64 0000037785
Unnamed: 0
0     4.24
1     3.64
2     3.72
3     3.99
4     1.56
5     3.66
6     2.30
7     2.16
8     3.01
9     2.57
10    1.19
11    3.15
12    4.10
13    1.74
Name: eps, dtype: float64 0000037785
0000037785 fin ratios calculated
1
Unnamed: 0
0     8.681700e+09
1     8.906300e+09
2     9.587300e+09
3     7.409400e+09
4     7.162800e+09
5     8.895300e+09
6     9.055800e+09
7     4.765900e+09
8     9.974100e+09
9     1.110780e+10
10    9.937800e+09
11    6.759100e+09
12             NaN
Name: revenue, dtype: float64 0001285785
Unnamed: 0
0      666100000
1    -1067400000
2      470000000
3     -107200000
4      297800000
5     1000400000
6     1028600000
7      331600000
8     1873500000
9     1917500000
10    2518500000
11     827100000
12    2350200000
Name: net_income, dtype: int64 0001285785
Unnamed: 0
0      412900000
1    -1094900000
2      928300000
3      465700000
4      319000000
5     1278800000
6     1311800000
7      416900000
8     2209600000
9     2611100000
10    2664200000
11    1270800000
12    2400900000
Name: operating_income, dtype: int64 0001285785
Unnamed: 0
0     1.978980e+10
1     1.929850e+10
2     2.011920e+10
3     1.863340e+10
4     1.684070e+10
5     1.738950e+10
6     1.828300e+10
7     1.955400e+10
8     1.808600e+10
9     1.669040e+10
10    1.578690e+10
11    1.270770e+10
12             NaN
Name: asset, dtype: float64 0001285785
Unnamed: 0
0     3.521200e+09
1     3.718200e+09
2     4.237000e+09
3     4.616500e+09
4     3.057700e+09
5     4.143400e+09
6     5.215500e+09
7     8.105800e+09
8     6.880500e+09
9     6.581100e+09
10    6.684900e+09
11    4.974800e+09
12             NaN
Name: current_asset, dtype: float64 0001285785
Unnamed: 0
0     1.739200e+09
1     2.076400e+09
2     2.270200e+09
3     1.533900e+09
4     1.391100e+09
5     1.563500e+09
6     1.718300e+09
7     1.432900e+09
8     1.557300e+09
9     1.237600e+09
10    1.266400e+09
11    1.002300e+09
12             NaN
Name: inventory, dtype: float64 0001285785
Unnamed: 0
0     3.146500e+09
1     2.591700e+09
2     2.483700e+09
3     2.031100e+09
4     1.476800e+09
5     2.047000e+09
6     1.596700e+09
7     3.265900e+09
8     1.764900e+09
9     1.917700e+09
10    1.928500e+09
11    1.303900e+09
12             NaN
Name: current_liability, dtype: float64 0001285785
Unnamed: 0
0     4.073800e+09
1     4.525500e+09
2     4.491500e+09
3     4.878100e+09
4     3.779300e+09
5     3.769500e+09
6     3.778000e+09
7     3.008900e+09
8     1.009600e+09
9     1.010000e+09
10    7.613000e+08
11             NaN
12             NaN
Name: debt, dtype: float64 0001285785
Unnamed: 0
0     9.581400e+09
1     9.185500e+09
2     1.039730e+10
3     9.617500e+09
4     9.584600e+09
5     9.531800e+09
6     1.070310e+10
7     1.130230e+10
8     1.342540e+10
9     1.199940e+10
10    1.164160e+10
11    8.722200e+09
12             NaN
Name: equity, dtype: float64 0001285785
Unnamed: 0
0     1.76
1    -2.78
2     1.22
3    -0.31
4     0.85
5     2.79
6     2.69
7     0.80
8     4.44
9     4.44
10    5.62
11    1.86
12    5.29
Name: eps, dtype: float64 0001285785
0001285785 fin ratios calculated
0001321851 has no ratios return
0001755672 has no ratios return
1
Unnamed: 0
0     38374000.0
1     29373000.0
2     21220000.0
3     18167000.0
4     14042000.0
5      9801000.0
6      9136000.0
7      8446000.0
8      7140000.0
9      5251000.0
10           NaN
Name: revenue, dtype: float64 0001441693
Unnamed: 0
0    -20168000.0
1    -37175000.0
2    -20213000.0
3    -30925000.0
4    -31071000.0
5    -43728000.0
6    -51659000.0
7    -31242000.0
8    -38794000.0
9    -13180000.0
10           NaN
Name: net_income, dtype: float64 0001441693
Unnamed: 0
0    -17195000.0
1    -27985000.0
2    -19504000.0
3    -22995000.0
4    -23660000.0
5    -39457000.0
6    -48533000.0
7    -31719000.0
8    -23838000.0
9    -13124000.0
10           NaN
Name: operating_income, dtype: float64 0001441693
Unnamed: 0
0     81197000.0
1     72717000.0
2     46567000.0
3     36913000.0
4     45983000.0
5     71201000.0
6     77182000.0
7     69918000.0
8     33778000.0
9            NaN
10           NaN
Name: asset, dtype: float64 0001441693
Unnamed: 0
0     34260000.0
1     21716000.0
2     30136000.0
3     19118000.0
4     26875000.0
5     35912000.0
6     54723000.0
7     59751000.0
8     27465000.0
9            NaN
10           NaN
Name: current_asset, dtype: float64 0001441693
Unnamed: 0
0      6618000.0
1      8149000.0
2      8224000.0
3      9827000.0
4      8482000.0
5      9064000.0
6     12644000.0
7     12717000.0
8      4872000.0
9            NaN
10           NaN
Name: inventory, dtype: float64 0001441693
Unnamed: 0
0     24228000.0
1     21085000.0
2     11319000.0
3     22002000.0
4     15249000.0
5     12849000.0
6     31202000.0
7     15530000.0
8     38933000.0
9            NaN
10           NaN
Name: current_liability, dtype: float64 0001441693
Unnamed: 0
0     11479000.0
1     11847000.0
2     11819000.0
3     24407000.0
4     21083000.0
5     21509000.0
6      9667000.0
7     12280000.0
8      7766000.0
9            NaN
10           NaN
Name: debt, dtype: float64 0001441693
Unnamed: 0
0     31410000
1     23558000
2     12936000
3    -50651000
4    -30184000
5     -2022000
6     33231000
7     39031000
8    -74247000
9    -34100000
10   -21204000
Name: equity, dtype: int64 0001441693
Unnamed: 0
0     -0.14
1     -0.32
2     -0.20
3     -1.06
4     -1.26
5     -1.79
6     -2.32
7     -3.74
8    -32.48
9    -10.64
10      NaN
Name: eps, dtype: float64 0001441693
0001441693 fin ratios calculated
1
Unnamed: 0
0     458704000
1     468186000
2     454272000
3     355047000
4     312113000
5     289382000
6     298634000
7     381021000
8     366190000
9     301080000
10    229620000
11    209329000
12    237538000
13    216662000
14    193771000
15    189796000
16    150855000
17    124863000
18    100671000
Name: revenue, dtype: int64 0000005981
Unnamed: 0
0     15242000
1     13601000
2     24195000
3     20274000
4     12788000
5      6591000
6      4841000
7     34449000
8     36867000
9     22068000
10    10984000
11    -5789000
12    20019000
13    18728000
14    15448000
15    19002000
16    14477000
17    10263000
18     7049000
Name: net_income, dtype: int64 0000005981
Unnamed: 0
0     22908000
1     26221000
2     39021000
3     26794000
4     20540000
5     11524000
6      6710000
7     55735000
8     59323000
9     39226000
10    19191000
11    -6329000
12    36144000
13    36013000
14    29216000
15    32267000
16    24958000
17    16542000
18    11879000
Name: operating_income, dtype: int64 0000005981
Unnamed: 0
0     680293000.0
1     670098000.0
2     593587000.0
3     535592000.0
4     429956000.0
5     435270000.0
6     472321000.0
7     447443000.0
8     399890000.0
9     342558000.0
10    280179000.0
11    255268000.0
12    286937000.0
13    248581000.0
14    262376000.0
15    183227000.0
16    122346000.0
17    106734000.0
18            NaN
Name: asset, dtype: float64 0000005981
Unnamed: 0
0     331725000.0
1     336199000.0
2     310188000.0
3     254883000.0
4     227075000.0
5     228562000.0
6     287049000.0
7     249506000.0
8     222317000.0
9     183738000.0
10    118614000.0
11    120233000.0
12    145511000.0
13    125440000.0
14    145570000.0
15    106818000.0
16     74016000.0
17     63670000.0
18            NaN
Name: current_asset, dtype: float64 0000005981
Unnamed: 0
0     163784000.0
1     163313000.0
2     159895000.0
3     123124000.0
4     120576000.0
5     136477000.0
6     165631000.0
7     139830000.0
8      87951000.0
9      71068000.0
10     74054000.0
11     72512000.0
12     90626000.0
13     63455000.0
14     66628000.0
15     44359000.0
16     43635000.0
17     33389000.0
18            NaN
Name: inventory, dtype: float64 0000005981
Unnamed: 0
0     171324000.0
1     138638000.0
2     145528000.0
3     126202000.0
4      97074000.0
5      88712000.0
6      81245000.0
7     110499000.0
8     113670000.0
9      79025000.0
10     51186000.0
11     51436000.0
12     48630000.0
13     50296000.0
14     46337000.0
15     65150000.0
16     37741000.0
17     32046000.0
18            NaN
Name: current_liability, dtype: float64 0000005981
Unnamed: 0
0     107442000.0
1     148766000.0
2      96671000.0
3      77486000.0
4      40951000.0
5      68321000.0
6      98605000.0
7      51676000.0
8      36196000.0
9      51917000.0
10     53712000.0
11     45432000.0
12     76273000.0
13     56155000.0
14     93761000.0
15     34367000.0
16     19474000.0
17     22142000.0
18            NaN
Name: debt, dtype: float64 0000005981
Unnamed: 0
0     378896000.0
1     362316000.0
2     329230000.0
3     305060000.0
4     282190000.0
5     268395000.0
6     261637000.0
7     257953000.0
8     225077000.0
9     187072000.0
10    166437000.0
11    153087000.0
12    155943000.0
13    139739000.0
14    120877000.0
15     82488000.0
16     63972000.0
17     50334000.0
18            NaN
Name: equity, dtype: float64 0000005981
Unnamed: 0
0     0.52
1     0.47
2     0.83
3     0.70
4     0.44
5     0.23
6     0.17
7     1.22
8     1.32
9     0.80
10    0.40
11   -0.21
12    0.75
13    0.71
14    0.60
15    0.78
16    1.61
17    1.16
18    0.81
Name: eps, dtype: float64 0000005981
0000005981 fin ratios calculated
0000941221 has no ratios return
0001421461 has no ratios return
0001725964 has no ratios return

/Users/j/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  # This is added back by InteractiveShellApp.init_path()

1
Unnamed: 0
0     395521000
1     362745000
2     376089000
3     347448000
4     318263000
5     327604000
6     313403000
7     323264000
8     334335000
9     146563000
10    248189000
11    201971000
12    291812000
Name: revenue, dtype: int64 0000835011
Unnamed: 0
0     40345000
1     38793000
2     37284000
3     41823000
4     31184000
5     26191000
6     23675000
7     -4929000
8      1624000
9     10635000
10    -1313000
11     8738000
12   -69123000
Name: net_income, dtype: int64 0000835011
Unnamed: 0
0     54241000
1     47242000
2     50148000
3     42909000
4     41975000
5     32850000
6     16619000
7     -5199000
8      -944000
9      3162000
10      645000
11     7255000
12   -79008000
Name: operating_income, dtype: int64 0000835011
Unnamed: 0
0     366575000
1     322597000
2     277892000
3     240328000
4     225336000
5     194310000
6     160215000
7     151329000
8     163171000
9     169157000
10    136483000
11    121284000
12    145132000
Name: asset, dtype: int64 0000835011
Unnamed: 0
0     222283000
1     184206000
2     154623000
3     134742000
4     110901000
5      91180000
6      82245000
7      71886000
8      78091000
9      78058000
10     60213000
11     48780000
12     80787000
Name: current_asset, dtype: int64 0000835011
Unnamed: 0
0     141011000
1     136931000
2     108769000
3      93149000
4      78858000
5      58701000
6      34441000
7      34917000
8      36532000
9      31082000
10     17079000
11     14510000
12     20400000
Name: inventory, dtype: int64 0000835011
Unnamed: 0
0     53329000
1     39295000
2     37463000
3     41580000
4     36995000
5     37661000
6     30748000
7     34150000
8     29771000
9     59171000
10    37832000
11    23638000
12    49545000
Name: current_liability, dtype: int64 0000835011
Unnamed: 0
0     38271000
1     40658000
2     21040000
3     21407000
4     16218000
5      7579000
6      7670000
7      3611000
8      5168000
9      6852000
10     7702000
11     2082000
12     9632000
Name: debt, dtype: int64 0000835011
Unnamed: 0
0     262526000
1     231044000
2     201441000
3     168730000
4     146292000
5     116160000
6     104365000
7      81603000
8      86827000
9      84430000
10     75198000
11     72784000
12     63884000
Name: equity, dtype: int64 0000835011
Unnamed: 0
0     2.37
1     2.27
2     2.17
3     2.44
4     1.82
5     1.48
6     1.32
7    -0.29
8     0.09
9     0.59
10   -0.08
11    0.52
12   -4.17
Name: eps, dtype: float64 0000835011
0000835011 fin ratios calculated
1
Unnamed: 0
0     4.131600e+09
1     3.156000e+09
2     2.663400e+09
3     2.642100e+09
4     2.506200e+09
5     2.371100e+09
6     2.189300e+09
7     2.166200e+09
8              NaN
16             NaN
17             NaN
18             NaN
19             NaN
20             NaN
Name: revenue, dtype: float64 0000825542
Unnamed: 0
0     387400000.0
1     460700000.0
2      63700000.0
3     218300000.0
4     315300000.0
5     159800000.0
6     166500000.0
7     161100000.0
8     106500000.0
16    167900000.0
17    204100000.0
18    153300000.0
19    -10900000.0
20            NaN
Name: net_income, dtype: float64 0000825542
Unnamed: 0
0     585200000.0
1     409600000.0
2     198900000.0
3     433400000.0
4     447600000.0
5     253800000.0
6     283700000.0
7     310500000.0
8     241200000.0
16    274800000.0
17    374400000.0
18    260500000.0
19    139800000.0
20            NaN
Name: operating_income, dtype: float64 0000825542
Unnamed: 0
0     3.380500e+09
1     3.028700e+09
2     3.054500e+09
3     2.747000e+09
4     2.755800e+09
5     2.527200e+09
6     2.058300e+09
7     1.937200e+09
8     2.074400e+09
16    2.052200e+09
17    2.164000e+09
18    2.220100e+09
19             NaN
20             NaN
Name: asset, dtype: float64 0000825542
Unnamed: 0
0     1.216600e+09
1     1.041700e+09
2     8.857000e+08
3     8.817000e+08
4     1.032900e+09
5     1.119200e+09
6     9.350000e+08
7     8.810000e+08
8     1.000000e+09
16    9.925000e+08
17    1.118100e+09
18    1.090900e+09
19             NaN
20             NaN
Name: current_asset, dtype: float64 0000825542
Unnamed: 0
0     621900000.0
1     540300000.0
2     481400000.0
3     407500000.0
4     394700000.0
5     395800000.0
6     385100000.0
7     324900000.0
8     414900000.0
16    387000000.0
17    352900000.0
18    458900000.0
19            NaN
20            NaN
Name: inventory, dtype: float64 0000825542
Unnamed: 0
0     950400000.0
1     620500000.0
2     612700000.0
3     544500000.0
4     707100000.0
5     618600000.0
6     544700000.0
7     509800000.0
8     433600000.0
16    468600000.0
17    736800000.0
18    756800000.0
19            NaN
20            NaN
Name: current_liability, dtype: float64 0000825542
Unnamed: 0
0     1.455100e+09
1     1.523500e+09
2     1.883800e+09
3     1.258000e+09
4     1.030900e+09
5     1.025000e+09
6     6.924000e+08
7     4.781000e+08
8     7.811000e+08
16    7.918000e+08
17    4.367000e+08
18             NaN
19             NaN
20             NaN
Name: debt, dtype: float64 0000825542
Unnamed: 0
0     697200000
1     718700000
2     354600000
3     648800000
4     715200000
5     620700000
6     553700000
7     710500000
8     601900000
16    559800000
17    764500000
18    584500000
19    436700000
20    479300000
Name: equity, dtype: int64 0000825542
Unnamed: 0
0     6.96
1     8.30
2     1.13
3     3.68
4     5.16
5     2.62
6     2.70
7     2.61
8     1.75
16    2.60
17    3.08
18    2.36
19   -0.17
20     NaN
Name: eps, dtype: float64 0000825542
0000825542 fin ratios calculated
0001324404 has no ratios return

In [39]:
print(f"The list cik companies have connection with SEC website:")
for cik in valid_company_list:
    print(cik)

The list cik companies have connection with SEC website:
0001121702
0001425292
0001469443
0000037785
0001285785
0001441693
0000005981
0000835011
0000825542

In [40]:
print(f"The list cik companies have no connection with SEC website, no return data via XBRL:")
for cik in invalid_company_list:
    print(cik)

The list cik companies have no connection with SEC website, no return data via XBRL:
0000857949
0001321851
0001755672
0000941221
0001421461
0001725964
0001324404

In [90]:
df = read_fin_data_file(f'{sec_cfp_path}/agriculture_comprehensive/0001121702.csv')

In [95]:
dfr = Ratios_calculator(df)

ValueError: Unable to parse string "109,588,000" at position 14