# Read the Data from Yahoo Fiance Remotely For One Stock

Using package `pandas_datareader` to read data remotely: <sup>[[1]](#ft1)</sup>
+ use `pip install pandas_datareader` to install `pandas_datareader` in shell

In [10]:
import pandas as pd
# REF: https://pandas.pydata.org/pandas-docs/version/0.18.1/remote_data.html#remote-data-yahoo
# Install pandas_datareader first.
import pandas_datareader.data as web
import datetime

start = datetime.datetime(1970,1,1)
end = datetime.date.today()
# read data from Yahoo Fiance Remotely
BHP = web.DataReader("BHP", "yahoo", start, end)

In [11]:
BHP

                 High        Low       Open      Close     Volume  Adj Close
Date
1980-03-17   3.207081   3.144807   0.000000   3.144807    45766.0   0.769394
1980-03-18   3.238217   3.175944   0.000000   3.175944    22080.0   0.777012
1980-03-19   3.425038   3.362764   0.000000   3.362764     9635.0   0.822718
1980-03-20   3.393901   3.331628   0.000000   3.331628    98758.0   0.815100
1980-03-21   3.269354   3.207081   0.000000   3.207081    74269.0   0.784629
...               ...        ...        ...        ...        ...        ...
2021-04-16  74.510002  73.330002  74.500000  73.750000  1507500.0  73.750000
2021-04-19  74.959999  73.790001  74.309998  74.120003  1443600.0  74.120003
2021-04-20  74.059998  72.080002  73.989998  72.459999  1593100.0  72.459999
2021-04-21  74.050003  71.650002  71.900002  73.940002  2950800.0  73.940002
2021-04-22  73.129997  72.260002  73.110001  72.580002  2669300.0  72.580002

[10364 rows x 6 columns]

# How to Obtain the Company List of an Industry

1. Website: https://finance.yahoo.com/sector/ms_basic_materials

# Footnotes

<a name="ft1">[1]</a>: How to acess Yahoo Fiance data remotely? (Chinese Version) https://blog.csdn.net/Hellolijunshy/article/details/82527643