# 1. install libaries

In [20]:
pip install requests

Requirement already satisfied: requests in /Users/j/opt/anaconda3/lib/python3.7/site-packages (2.22.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/j/opt/anaconda3/lib/python3.7/site-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/j/opt/anaconda3/lib/python3.7/site-packages (from requests) (1.24.2)
Requirement already satisfied: idna<2.9,>=2.5 in /Users/j/opt/anaconda3/lib/python3.7/site-packages (from requests) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /Users/j/opt/anaconda3/lib/python3.7/site-packages (from requests) (2019.9.11)
Note: you may need to restart the kernel to use updated packages.

In [79]:
pip install XBRL

Requirement already satisfied: XBRL in /Users/j/opt/anaconda3/lib/python3.7/site-packages (0.0.1)
Note: you may need to restart the kernel to use updated packages.

In [80]:
pip install oauth2

Collecting oauth2
  Downloading https://files.pythonhosted.org/packages/a0/6f/86db603912ecd04109af952c38bc08928886cf0e34c723481fa7db98b4b5/oauth2-1.9.0.post1-py2.py3-none-any.whl
Collecting httplib2 (from oauth2)
  Downloading https://files.pythonhosted.org/packages/15/dc/d14bce03f4bfd0214b90a3f556d7c96f75bb94ad597c816a641b962f22e9/httplib2-0.19.1-py3-none-any.whl (95kB)
     |████████████████████████████████| 102kB 8.1MB/s ta 0:00:01
Requirement already satisfied: pyparsing<3,>=2.4.2 in /Users/j/opt/anaconda3/lib/python3.7/site-packages (from httplib2->oauth2) (2.4.2)
Installing collected packages: httplib2, oauth2
Successfully installed httplib2-0.19.1 oauth2-1.9.0.post1
Note: you may need to restart the kernel to use updated packages.

# 2. import libraries

In [3]:
import requests

In [4]:
import os, re, sys, json

In [5]:
import pandas as pd

In [6]:
import numpy as np

In [7]:
import getpass

# 3. Authentication for xbrl token

### 3.1. acess token

In [8]:
"""
get access token from XBRL API
"""
# print('Enter XBRL US Web account email: ')
email = 'jesse.c.jia@gmail.com'
# print('Account password: ')
password = 'QAZwsx123'
# print('Client ID: ')
clientid = 'bf3ba33f-e98b-4159-aea2-466445f9621f'
# print('Client secret: ')
secret = 'a3f87777-0086-4208-8d3b-df494408271e'

body_auth = {'username' : ''.join(email), 
            'client_id': ''.join(clientid), 
            'client_secret' : ''.join(secret), 
            'password' : ''.join(password), 
            'grant_type' : 'password', 
            'platform' : 'ipynb' }
endpoint_auth = 'https://api.xbrl.us/oauth2/token'
res = requests.post(endpoint_auth, data=body_auth)
auth_json = res.json()

if 'error' in auth_json:
        print ("\n\nThere was a problem generating an access token with these credentials. Run the first cell again to enter credentials.")
else:
        print ("\n\nYour access token expires in 60 minutes. After it expires, run the cell immediately below this one to generate a new token and continue to use the query cell. \n\nFor now, skip ahead to the section 'Make a Query'.")

access_token = auth_json['access_token']
refresh_token = auth_json['refresh_token']
newaccess = ''
newrefresh = ''

Your access token expires in 60 minutes. After it expires, run the cell immediately below this one to generate a new token and continue to use the query cell.

For now, skip ahead to the section 'Make a Query'.


### 3.2. refresh token

In [9]:

"""
reconnect to XBRL API when expire
"""
token = token if newrefresh != '' else refresh_token 

refresh_auth = {'client_id': ''.join(clientid), 
            'client_secret' : ''.join(secret), 
            'grant_type' : 'refresh_token', 
            'platform' : 'ipynb', 
            'refresh_token' : ''.join(token) }
refreshres = requests.post(endpoint_auth, data=refresh_auth)
refresh_json = refreshres.json()
access_token = refresh_json['access_token']
refresh_token = refresh_json['refresh_token']#print('access token: ' + access_token + 'refresh token: ' + refresh_token)
print('Your access token is refreshed for 60 minutes. If it expires again, run this cell to generate a new token and continue to use the query cells below.')
print(access_token)

Your access token is refreshed for 60 minutes. If it expires again, run this cell to generate a new token and continue to use the query cells below.
713878b6-d822-492f-8079-471ada20d519

# 4. Prepare Data

### 4.1 file and data path

In [10]:
"""
get document path
"""
root_path = os.path.abspath(os.path.dirname(os.getcwd()))
data_path = os.path.join(root_path, 'data')
company_path = os.path.join(data_path, 'company')
company_cik_path = os.path.join(company_path, 'CIK_Summary.csv')
sec_cfp_path = os.path.join(data_path, "SEC_FIN_data")
sec_argriculture = os.path.join(sec_cfp_path, "agriculture")

### 4.2. read cik file

In [11]:
"""
import company-cik file
"""

#read cik.csv as a pandas DataFrame
ciksDF = pd.read_csv(company_cik_path, header=None)

#set the column with all the tickers as the index
ciksDF = ciksDF.set_index(0)

### 4.3. define company name and cik converting function

In [12]:
#function to return CIK of a ticker
def getCIK(ticker):
    """
    input ticker
    return respect cik
    """
    try:
        return int(ciksDF.loc[ticker.lower(), 1])

    #return None there's no CIK for the ticker
    except:
        print(f"{ticker} does not exist.")
        return None
    
    
#function to return CIK of a list of tickers
def outputcik(TICKERS): 
    """
    input ticker list
    return cik repsectively in list
    """
    cikDir = []
    for ticker in TICKERS:
        a = str(getCIK(ticker))
        if a != 'None':
            cik = a.zfill(10)
            cikDir.append(cik)
        else:
            pass
    return cikDir

In [13]:
# test code
lis = outputcik(["uytuyfd","a"])
lis

uytuyfd does not exist.

['0001090872']

### 4.4. Read Company List

In [14]:
# company list

company_list = ["YTEN", "UAN", "CGA", "RKDA", "FMC", "MOS", "SEED", "CTVA", "MBII", "AVD", "ICL", "IPI", "NTR", "MGPI", "SMG", "CF"]

In [15]:
len(company_list)

16

### 4.5. convert company_name into cik

In [16]:
# generate cik list
cik_list = outputcik(company_list)

In [17]:
# cik_list1 = cik_list.pop(2)

In [18]:
len(cik_list)

16

In [19]:
cik_list

['0001121702',
 '0001425292',
 '0000857949',
 '0001469443',
 '0000037785',
 '0001285785',
 '0001321851',
 '0001755672',
 '0001441693',
 '0000005981',
 '0000941221',
 '0001421461',
 '0001725964',
 '0000835011',
 '0000825542',
 '0001324404']

### 4.6. financial data conceptual name

In [20]:
# financial data with the conceptual name on SEC website respectively
Financial_data_dic = {
    "revenue" : "RevenueFromContractWithCustomerExcludingAssessedTax",
    "net_income" : "NetIncomeLoss",
    "operating_income" : "OperatingIncomeLoss", 
    "asset" : "Assets",
    "current_asset" : "AssetsCurrent",
    "inventory" : "InventoryNet",
    "current_liability" : "LiabilitiesCurrent",
    "debt" : "LongTermDebtNoncurrent",
    "equity" : "StockholdersEquity",
    "eps" : "EarningsPerShareBasic"
}

### 4.7. read cfp file function

In [21]:
def read_fin_data_file(path):
    df = pd.read_csv(path)
    df = df.set_index('Unnamed: 0')
    return df

# 5. Request data via XBRL

In [22]:
def acquire_data(company_cik, financial_data):
    """
    input company cik value and financial conceptual name on SEC
    return data frame of financial value, year, entity name, and so on, (details see fiels list)
    """
    
    # Define the fields to be returned
    fields = ['period.fiscal-year.sort(DESC)',
              'period.end.sort(DESC)',
              'entity.name.sort(ASC)',
              'entity.cik.sort(ASC)',
              'concept.local-name.sort(ASC)',
              'fact.value',
              'unit',
              'report.filing-date']
    
    # Filter the query for specific XBRL elements (tags) to research
    XBRL_Elements = [financial_data
                ]
    
    # Filter companies for the query
    companies_cik = [company_cik
                ]
    
    # api parameters
    params = {'fields': ','.join(fields),
         'concept.local-name': ','.join(XBRL_Elements),
         'entity.cik': ','.join(companies_cik),
         #'period.fiscal-year': ','.join(years),
         'period.fiscal-period': 'Y',
         'fact.has-dimensions': 'FALSE',
         'fact.ultimus': 'TRUE'
         }
    
    search_endpoint = 'https://api.xbrl.us/api/v1/fact/search'
    res = requests.get(search_endpoint, params=params, headers={'Authorization' : 'Bearer {}'.format(access_token)})
    res_json = res.json()
    res_df = pd.DataFrame(res_json['data'])
    
#     print(res_json['paging'])
#     print(res_df)
    return res_df

In [23]:
# TEST CODE
df_test = acquire_data('0001121702',"Assets")

In [24]:
df_test

,period.fiscal-year,period.end,entity.name,entity.cik,concept.local-name,fact.value,unit,report.filing-date
0,2020,None,"YIELD10 BIOSCIENCE, INC.",0001121702,Assets,14522000,USD,2021-08-11
1,2019,None,"YIELD10 BIOSCIENCE, INC.",0001121702,Assets,16718000,USD,2021-03-16
2,2018,None,"YIELD10 BIOSCIENCE, INC.",0001121702,Assets,12960000,USD,2020-03-25
3,2017,None,"YIELD10 BIOSCIENCE, INC.",0001121702,Assets,16882000,USD,2019-03-28
4,2016,None,"YIELD10 BIOSCIENCE, INC.",0001121702,Assets,10748000,USD,2018-03-12
5,2015,None,"YIELD10 BIOSCIENCE, INC.",0001121702,Assets,17088000,USD,2017-03-30
6,2014,None,"METABOLIX, INC.",0001121702,Assets,23135000,USD,2016-03-29
7,2013,None,"METABOLIX, INC.",0001121702,Assets,26738000,USD,2015-03-25
8,2012,None,"METABOLIX, INC.",0001121702,Assets,53510000,USD,2014-03-28
9,2011,None,"METABOLIX, INC.",0001121702,Assets,82912000,USD,2013-03-28
10,2010,None,"METABOLIX, INC.",0001121702,Assets,66771000,USD,2012-03-12

In [25]:
# for cik in cik_list:
#     #print(cik)
#     cik_fin_value_df = df_empty = pd.DataFrame(columns=['A', 'B', 'C', 'D'])
#     for k, v in Financial_data_dic.items():
#         print(cik,v)
#         temp_df = acquire_data(cik, v) asset
#         print(temp_df)

In [43]:
def generate_financial_data(cik, Financial_data_dic):
    """
    input company's cik value and financial item dic
    acquire financial value through xrbl API,
    calculate financial ratio and append in data frame
    return a data frame with year, company name, financial ratios
    """
    
    # create a empty data frame for use
    cik_fin_value_df = pd.DataFrame()
    # cik = "0001121702"
    for k, v in Financial_data_dic.items():
        print(f"current cik is {cik}, acquire {k}")
        
        # return first financial values into df
        if k == "revenue":
            
            cik_fin_value_df = acquire_data(cik, v)
            if cik_fin_value_df.empty:
                pass
            else:
                cik_fin_value_df.rename(columns = {"fact.value" : k}, inplace = True)
                cik_fin_value_df[k] = pd.to_numeric(cik_fin_value_df[k])
                cik_fin_value_df.drop(labels = "concept.local-name", axis = 1, inplace = True)
                cik_fin_value_df.drop(labels = "unit", axis = 1, inplace = True)
                cik_fin_value_df.drop(labels = "report.filing-date", axis = 1, inplace = True)

    #         cik_fin_value_df.drop(labels = "entity.name", axis = 1, inplace = True)

        
        # create temp df, and acquire rest financial data, then concate with inital df
        else:
#             print(cik,k,v)
            temp_df = acquire_data(cik, v)
            if temp_df.empty:
                temp_df[k] = np.NaN
                cik_fin_value_df = pd.concat([cik_fin_value_df, temp_df], axis = 1)
            else:
                temp_df.rename(columns = {"fact.value" : k}, inplace = True)
                temp_df[k] = pd.to_numeric(temp_df[k])

                temp_df.drop(labels = "concept.local-name", axis = 1, inplace = True)
    #             temp_df.drop(labels = "period.end", axis = 1, inplace = True)
                temp_df.drop(labels = "unit", axis = 1, inplace = True)
                temp_df.drop(labels = "report.filing-date", axis = 1, inplace = True)
    #             temp_df.drop(labels = "entity.name", axis = 1, inplace = True)


    #             if len(temp_df["period.end"]) >= len(cik_fin_value_df["period.end"]):
    #                 cik_fin_value_df.drop(labels = "period.end", axis = 1, inplace = True)
    #             else:
                temp_df.drop(labels = "period.end", axis = 1, inplace = True)
    
                # keep the most company name column
                try:
                    if len(temp_df["entity.cik"]) >= len(cik_fin_value_df["entity.cik"]):
                        cik_fin_value_df.drop(labels = "entity.name", axis = 1, inplace = True)
                        cik_fin_value_df.drop(labels = "entity.cik", axis = 1, inplace = True)
                    else:
                        temp_df.drop(labels = "entity.name", axis = 1, inplace = True)
                        temp_df.drop(labels = "entity.cik", axis = 1, inplace = True)
                except:
                    pass



    #             cik_fin_value_df = pd.concat([cik_fin_value_df, temp_df], axis = 1)
    #             cikabs_fin_value_df = pd.concat((cik_fin_value_df, temp_df), axis = 1, join = "outer")
                try:
                    cik_fin_value_df = pd.merge(cik_fin_value_df, temp_df, on = "period.fiscal-year", how = "outer")
                except:
                    pass
    
    # calculate financial ratios
#     Ratios_calculator(cik_fin_value_df)
    print(f"{cik} fin data acquire compeleted.")
    save_csv(cik_fin_value_df, sec_argriculture, cik)
    
    return cik_fin_value_df



# cik_fin_value_df["ROA1"] = cik_fin_value_df.apply(lambda x:x["net_income"]/x["asset"], axis = 1)
# cik_fin_value_df["ROE1"] = cik_fin_value_df.apply(lambda x:x["net_income"]/x["equity"], axis = 1)
# cik_fin_value_df["ROC1"] = cik_fin_value_df.apply(lambda x:(x["net_income"] + x["debt"])/x["asset"], axis = 1)
# cik_fin_value_df["OperatingMargin"] = cik_fin_value_df.apply(lambda x:x["operating_income"]/x["revenue"], axis = 1)
# cik_fin_value_df["NetMargin"] = cik_fin_value_df.apply(lambda x:x["net_income"]/x["revenue"], axis = 1)
# cik_fin_value_df["CurrentRatio"] = cik_fin_value_df.apply(lambda x:x["current_asset"]/x["current_liability"], axis = 1)
# cik_fin_value_df["QuickRatio"] = cik_fin_value_df.apply(lambda x:(x["current_asset"]-x["inventory"])/x["current_liability"], axis = 1)
# cik_fin_value_df["DERatio"] = cik_fin_value_df.apply(lambda x:x["debt"]/x["equity"], axis = 1)

In [27]:
# TEST CODE

# test1_df = generate_financial_data('0000857949', Financial_data_dic)

In [28]:
test1_df

NameError: name 'test1_df' is not defined

In [82]:
def ROA1(df):
    df["ROA1"] = df.apply(lambda x:x["net_income"]/x["asset"], axis = 1)

def ROE1(df):
    df["ROE1"] = df.apply(lambda x:x["net_income"]/x["equity"], axis = 1)

def ROC1(df):
    df["ROC1"] = df.apply(lambda x:(x["net_income"] + x["debt"])/x["asset"], axis = 1)

def Op_Margin(df):
    df["OperatingMargin"] = df.apply(lambda x:x["operating_income"]/x["revenue"], axis = 1)
    
def Net_Margin(df):
    df["NetMargin"] = df.apply(lambda x:x["net_income"]/x["revenue"], axis = 1)
    
def Current_Ratio(df):
    df["CurrentRatio"] = df.apply(lambda x:x["current_asset"]/x["current_liability"], axis = 1)

def Quick_Ratio(df):
    df["QuickRatio"] = df.apply(lambda x:(x["current_asset"]-x["inventory"])/x["current_liability"], axis = 1)

def DE(df):
    df["DERatio"] = df.apply(lambda x:x["debt"]/x["equity"], axis = 1)

In [94]:
def Ratios_calculator(df):
    
    for k, v in Financial_data_dic.items():
        df[k] = pd.to_numeric(df[k])
    ROA1(df)
    ROE1(df)
    ROC1(df)
    Op_Margin(df)
    Net_Margin(df)
    Current_Ratio(df)
    Quick_Ratio(df)
    DE(df)
    
    return df

In [93]:
def generate_financial_ratio(cik, industry, valid_list, invalid_list):
#     generate_financial_data(cik, fin_data_dic)

    df = pd.DataFrame()
    try:
        df = read_fin_data_file(f'{sec_cfp_path}/{industry}_comprehensive/{cik}.csv')
        print(1)
        Ratios_calculator(df)
        print(f"{cik} fin ratios calculated")
        valid_list.append(cik)
    except:
        print(f"{cik} has no ratios return")
        invalid_list.append(cik)
    


#     try:
#         Ratios_calculator(df)
#         #print(df)
#         print(f"{cik} fin ratios calculated")
#         valid_list.append(cik)
#     except:
#         print(f"{cik} has no ratios return")
#         invalid_list.append(cik)
#         pass
    
    return df, valid_list, invalid_list

In [71]:
def output_fin_data_file(cik_list, fin_data_dic, industry):
    
    valid_company_list = []
    invalid_company_list = []
    path = os.path.join(sec_cfp_path, industry)

    for c in cik_list:
        df = generate_financial_data(c, fin_data_dic)
        print("df is here")
        print(df)
        save_csv(df, path, c)
    
    print(f"The list cik companies have connection with SEC website:")
    for cik in valid_company_list:
        print(cik)

    print(f"The list cik companies have no connection with SEC website, no return data via XBRL:")
    for cik in invalid_company_list:
        print(cik)
    
    return None

In [ ]:
def output_file(cik_list, fin_data_dic, industry):
    industry_df = pd.DataFrame()
    
    valid_company_list = []
    invalid_company_list = []

    for c in cik_list:
#         generate_financial_data(c, fin_data_dic)
        temp_df, valid_company_list, invalid_company_list = generate_financial_ratio(c, industry, valid_company_list, invalid_company_list)
        
        industry_df = pd.concat([industry_df, temp_df], axis = 0)
        
#         print(f"{c} has been added.")
    
    industry_df.to_csv(f"{sec_cfp_path}/{industry}.csv")
    
#     print(f"The list cik companies have connection with SEC website: {valid_company_list}.")
#     print(f"The list cik companies have no connection with SEC website, no value returned by using XBEL: {valid_company_list}.")
    
    return industry_df, valid_company_list, invalid_company_list

# 6. output process

### 6.1. define save function

In [41]:
def save_csv(file, path, industry):
    file.to_csv(f"{path}/{industry}.csv")
    print(f"{file} has been saved as csv.")
    return None

### 6.2. output financial data into single file for each compnay

In [77]:
output_fin_data_file(cik_list, Financial_data_dic, "agriculture")

current cik is 0001121702, acquire revenue

KeyError: 'data'

### 6.3. generate cfp in one file|

In [100]:
indus, valid_company_list, invalid_company_list = output_file(cik_list, Financial_data_dic, "agriculture")

1
0001121702 fin ratios calculated
1
0001425292 fin ratios calculated
0000857949 has no ratios return
1
0001469443 fin ratios calculated
1
0000037785 fin ratios calculated
1
0001285785 fin ratios calculated
0001321851 has no ratios return
0001755672 has no ratios return
1
0001441693 fin ratios calculated
1
0000005981 fin ratios calculated
0000941221 has no ratios return
0001421461 has no ratios return
0001725964 has no ratios return
1
0000835011 fin ratios calculated
1
0000825542 fin ratios calculated
0001324404 has no ratios return

/Users/j/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  # This is added back by InteractiveShellApp.init_path()

In [39]:
print(f"The list cik companies have connection with SEC website:")
for cik in valid_company_list:
    print(cik)

The list cik companies have connection with SEC website:
0001121702
0001425292
0001469443
0000037785
0001285785
0001441693
0000005981
0000835011
0000825542

In [40]:
print(f"The list cik companies have no connection with SEC website, no return data via XBRL:")
for cik in invalid_company_list:
    print(cik)

The list cik companies have no connection with SEC website, no return data via XBRL:
0000857949
0001321851
0001755672
0000941221
0001421461
0001725964
0001324404

In [97]:
df = read_fin_data_file(f'{sec_cfp_path}/agriculture_comprehensive/0001121702.csv')

In [98]:
dfr = Ratios_calculator(df)

In [99]:
dfr

,period.fiscal-year,period.end,revenue,net_income,operating_income,asset,current_asset,inventory,current_liability,debt,...,equity,eps,ROA1,ROE1,ROC1,OperatingMargin,NetMargin,CurrentRatio,QuickRatio,DERatio
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
0.0,2020.0,1/1/21,799000.0,-10206000.0,-9609000.0,14522000.0,10342000.0,NaN,1814000.0,NaN,...,9532000.0,-4.30,-0.702796,-1.070709,NaN,-12.026283,-12.773467,5.701213,NaN,NaN
1.0,2019.0,1/1/20,806000.0,-12956000.0,-8596000.0,16718000.0,11684000.0,NaN,2207000.0,NaN,...,-4085000.0,-35.50,-0.774973,3.171603,NaN,-10.665012,-16.074442,5.294064,NaN,NaN
2.0,2018.0,1/1/19,556000.0,-9185000.0,-9319000.0,12960000.0,6377000.0,NaN,1641000.0,NaN,...,5698000.0,-36.99,-0.708719,-1.611969,NaN,-16.760791,-16.519784,3.886045,NaN,NaN
3.0,2017.0,1/1/18,944000.0,-9396000.0,-9283000.0,16882000.0,14917000.0,NaN,2375000.0,NaN,...,13502000.0,-3.29,-0.556569,-0.695897,NaN,-9.833686,-9.953390,6.280842,NaN,NaN
4.0,2016.0,1/1/17,1159000.0,-7604000.0,-10248000.0,10748000.0,7860000.0,0.0,2758000.0,NaN,...,6369000.0,-2.73,-0.707480,-1.193908,NaN,-8.842105,-6.560828,2.849891,2.849891,NaN
5.0,2015.0,1/1/16,1350000.0,-23681000.0,-12469000.0,17088000.0,14850000.0,51000.0,3910000.0,NaN,...,13028000.0,-0.95,-1.385826,-1.817700,NaN,-9.236296,-17.541481,3.797954,3.784910,NaN
6.0,2014.0,1/1/15,2800000.0,-29534000.0,-26829000.0,23135000.0,21965000.0,586000.0,4189000.0,NaN,...,18796000.0,-2.88,-1.276594,-1.571292,NaN,-9.581786,-10.547857,5.243495,5.103605,NaN
7.0,2013.0,1/1/14,5394000.0,-30506000.0,-28540000.0,26738000.0,25231000.0,1921000.0,6195000.0,NaN,...,20398000.0,-5.31,-1.140923,-1.495539,NaN,-5.291064,-5.655543,4.072801,3.762712,NaN
8.0,2012.0,1/1/13,42316000.0,3630000.0,3929000.0,53510000.0,48955000.0,3204000.0,5984000.0,NaN,...,47340000.0,0.11,0.067838,0.076679,NaN,0.092849,0.085783,8.180983,7.645555,NaN
9.0,2011.0,1/1/12,1425000.0,-38785000.0,-38861000.0,82912000.0,78439000.0,NaN,7165000.0,NaN,...,39463000.0,-1.24,-0.467785,-0.982819,NaN,-27.270877,-27.217544,10.947523,NaN,NaN
10.0,2010.0,1/1/11,448000.0,-38803000.0,-38939000.0,66771000.0,63256000.0,NaN,6395000.0,NaN,...,23676000.0,-1.45,-0.581136,-1.638917,NaN,-86.917411,-86.613839,9.891478,NaN,NaN
11.0,2009.0,1/1/10,1425000.0,-37957000.0,-38729000.0,97554000.0,93353000.0,NaN,4562000.0,NaN,...,55044000.0,-1.62,-0.389087,-0.689576,NaN,-27.178246,-26.636491,20.463174,NaN,NaN
12.0,2008.0,1/1/09,1555000.0,-36005000.0,-38892000.0,96946000.0,91841000.0,NaN,4610000.0,NaN,...,59091000.0,-1.58,-0.371392,-0.609314,NaN,-25.010932,-23.154341,19.922126,NaN,NaN
13.0,2007.0,1/1/08,1683000.0,-27875000.0,-33816000.0,119004.0,111546000.0,NaN,4659000.0,NaN,...,89202000.0,-1.27,-234.235824,-0.312493,NaN,-20.092692,-16.562686,23.942048,NaN,NaN
14.0,2006.0,1/1/07,4590000.0,-16062000.0,-17524000.0,127596000.0,123400000.0,NaN,3221000.0,NaN,...,109588000.0,-2.96,-0.125882,-0.146567,NaN,-3.817865,-3.499346,38.311084,NaN,NaN
15.0,2005.0,1/1/06,2781000.0,-7625000.0,-7024000.0,7325000.0,3759000.0,NaN,2973000.0,NaN,...,-46558000.0,-2.56,-1.040956,0.163774,NaN,-2.525710,-2.741819,1.264379,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN